Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

fix writer name sort
  movielog/exports/reviewed_titles.py
Due: black, flake8, mypy, pytest

remove dead export
  movielog/exports/watchlist_people.py
Due: black, flake8, mypy, pytest

export watchlist info with cast and crew
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/repository_data.py
  movielog/exports/stats.py
  movielog/exports/watchlist_progress.py
  movielog/exports/watchlist_titles.py
Due: black, flake8, mypy, pytest

add review
  .github/styles/config/vocabularies/default/accept.txt
  data/ratings.json
  data/titles/lucifers-women-1974-7932490.json
  reviews/lucifers-women-1974.md
  viewings/1590-lucifers-women-1974.json
Due: vale

add review
  viewings/1590-lucifers-women-1974.json
Due: none

add / edit reviews
  .github/styles/config/vocabularies/default/accept.txt
  data/ratings.json
  data/titles/burial-ground-the-nights-of-terror-1981-0081248.json
  reviews/burial-ground-the-nights-of-terror-1981.md
  reviews/the-carey-treatment-1972.md
  viewings/1591-burial-ground-the-nights-of-terror-1981.json
Due: vale

add viewing details
  viewings/1591-burial-ground-the-nights-of-terror-1981.json
Due: none

update titles
  data/ratings.json
  data/titles/bride-of-frankenstein-1935-0026138.json
  data/titles/cahill-u-s-marshal-1973-0069834.json
  data/titles/cemetery-man-1994-0109592.json
  data/titles/crimson-rivers-2-angels-of-the-apocalypse-2004-0337103.json
  data/titles/dark-phoenix-2019-6565702.json
  data/titles/dune-part-one-2021-1160419.json
  data/titles/house-of-evil-1968-0063097.json
  data/titles/pat-garrett-and-billy-the-kid-1973-0070518.json
  data/titles/ready-to-wear-1994-0110907.json
  data/titles/spider-baby-or-the-maddest-story-ever-told-1967-0058606.json
  data/titles/sunset-boulevard-1950-0043014.json
  data/titles/the-delightful-forest-1972-0068821.json
  data/titles/the-french-dispatch-2021-8847712.json
  data/titles/the-golden-age-1930-0021577.json
  data/titles/the-incredible-invasion-1971-0063132.json
  data/titles/triple-irons-1971-0069518.json
Due: none

add viewings
  viewings/1592-alucarda-1977.json
  viewings/1593-the-blood-spattered-bride-1972.json
  viewings/1594-the-coffee-table-2022.json
  viewings/1595-red-rock-west-1993.json
Due: none

add viewings
  data/titles/alucarda-1977-0075666.json
  data/titles/red-rock-west-1993-0105226.json
  data/titles/the-blood-spattered-bride-1972-0069029.json
  data/titles/the-coffee-table-2022-21874760.json
  reviews/the-entity-1982.md
  viewing_notes/1571-the-entity-1982.md
Due: vale

edit
  reviews/event-horizon-1997.md
Due: vale

typo
  reviews/lucifers-women-1974.md
Due: vale

wip
  reviews/the-man-with-nine-lives-1940.md
Due: vale

add draft
  data/ratings.json
  reviews/the-man-with-nine-lives-1940.md
  viewings/1596-the-man-with-nine-lives-1940.json
Due: vale

add review
  reviews/the-man-with-nine-lives-1940.md
Due: vale

add viewings
  data/ratings.json
  data/titles/inside-out-2-2024-22022452.json
  data/titles/the-amusement-park-1975-9270362.json
  data/titles/the-judge-and-jake-wyler-1972-0068781.json
  data/titles/the-shadow-boxing-1979-0079527.json
  data/titles/to-kill-a-mastermind-1979-0080028.json
  data/titles/x2-2003-0290334.json
  reviews/the-man-with-nine-lives-1940.md
  viewing_notes/1598-anchorman-2-the-legend-continues-2013.md
  viewing_notes/1599-the-damned-1962.md
  viewings/1597-inside-out-2-2024.json
  viewings/1598-anchorman-2-the-legend-continues-2013.json
  viewings/1599-the-damned-1962.json
  viewings/1600-a-fistful-of-dollars-1964.json
  viewings/1601-for-a-few-dollars-more-1965.json
  viewings/1602-the-good-the-bad-and-the-ugly-1966.json
Due: vale

fix notes
  viewing_notes/1598-anchorman-2-the-legend-continues-2013.md
  viewing_notes/1599-the-damned-1962.md
Due: none

better cli
  movielog/cli/add_viewing.py
  movielog/cli/ask_review.py
  movielog/repository/api.py
  movielog/repository/json_viewings.py
  tests/cli/test_add_viewing.py
Due: black, flake8, mypy, pytest

wip
  movielog/repository/json_cast_and_crew.py
Due: black, flake8, mypy, pytest

wip
  viewing_notes/0894-curse-of-the-demon-1957.md
  viewing_notes/1120-the-sea-bat-1930.md
  viewing_notes/1169-beyond-the-valley-of-the-dolls-1970.md
  viewing_notes/1193-blood-rage-1987.md
  viewing_notes/1211-jack-frost-1997.md
  viewing_notes/1212-krampus-2015.md
  viewing_notes/1222-christmas-evil-1980.md
  viewing_notes/1223-black-christmas-1974.md
  viewing_notes/1276-friday-the-13th-a-new-beginning-1985.md
  viewing_notes/1277-event-horizon-1997.md
  viewing_notes/1281-good-times-1967.md
  viewing_notes/1359-the-blue-gardenia-1953.md
  viewing_notes/1416-the-lawless-frontier-1934.md
  viewing_notes/1430-nobody-2021.md
  viewing_notes/1439-from-beyond-1986.md
  viewing_notes/1440-the-star-packer-1934.md
  viewing_notes/1468-midnight-1934.md
  viewing_notes/1499-the-last-seduction-1994.md
  viewing_notes/1503-thriller-a-cruel-picture-1973.md
  viewing_notes/1571-the-entity-1982.md
  viewing_notes/1598-anchorman-2-the-legend-continues-2013.md
  viewing_notes/1599-the-damned-1962.md
  viewings/1211-jack-frost-1997.md
  viewings/1571-the-entity-1982.md
Due: none

wip
  tests/cli/__testdata__/viewings/0001-the-girl-with-the-dragon-tattoo-2011.json
  tests/cli/__testdata__/viewings/0001-the-girl-with-the-dragon-tattoo-2011.md
  tests/cli/__testdata__/viewings/0002-the-tingler-1959.json
  tests/cli/__testdata__/viewings/0002-the-tingler-1959.md
  tests/cli/__testdata__/viewings/0003-curse-of-the-demon-1957.json
  tests/cli/__testdata__/viewings/0003-curse-of-the-demon-1957.md
  tests/cli/__testdata__/viewings/0004-the-girl-with-the-dragon-tattoo-2009.json
  tests/cli/__testdata__/viewings/0004-the-girl-with-the-dragon-tattoo-2009.md
  tests/cli/__testdata__/viewings/0005-the-ghoul-1933.json
  tests/cli/__testdata__/viewings/0005-the-ghoul-1933.md
  tests/cli/__testdata__/viewings/0006-the-pit-and-the-pendulum-1961.json
  tests/cli/__testdata__/viewings/0006-the-pit-and-the-pendulum-1961.md
  tests/cli/__testdata__/viewings/0007-the-masque-of-the-red-death-1964.json
  tests/cli/__testdata__/viewings/0007-the-masque-of-the-red-death-1964.md
  tests/cli/__testdata__/viewings/0008-the-body-snatcher-1945.json
  tests/cli/__testdata__/viewings/0008-the-body-snatcher-1945.md
  tests/cli/__testdata__/viewings/0009-the-sentinel-1977.json
  tests/cli/__testdata__/viewings/0009-the-sentinel-1977.md
  tests/cli/__testdata__/viewings/0010-murder-my-sweet-1944.json
  tests/cli/__testdata__/viewings/0010-murder-my-sweet-1944.md
  tests/cli/conftest.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

wip
  movielog/viewings_to_yaml.py
Due: black, flake8, mypy, pytest

update data
  viewings/0197-fright-night-1985.md
  viewings/1276-friday-the-13th-a-new-beginning-1985.md
Due: none

wip
  data/ratings.json
  reviews/two-for-the-seesaw-1962.md
  viewings/1598-anchorman-2-the-legend-continues-2013.md
  viewings/1599-the-damned-1962.md
  viewings/1603-two-for-the-seesaw-1962.md
Due: vale

wip
  reviews/two-for-the-seesaw-1962.md
Due: vale

add review
  reviews/two-for-the-seesaw-1962.md
Due: vale

vocab
  .github/styles/config/vocabularies/default/accept.txt
Due: none

add viewings /review
  .github/styles/config/vocabularies/default/accept.txt
  data/ratings.json
  data/titles/chamber-of-horrors-1966-0060228.json
  data/titles/righting-wrongs-1986-0094374.json
  movielog/exports/watchlist_titles.py
  reviews/chamber-of-horrors-1966.md
  viewings/1604-righting-wrongs-1986.md
  viewings/1605-hauntedween-1991.md
  viewings/1606-chamber-of-horrors-1966.md
  viewings/1607-vampires-kiss-1988.md
  viewings/1608-old-school-2003.md
Due: black, flake8, mypy, pytest, vale

update review
  reviews/two-for-the-seesaw-1962.md
Due: vale

add viewing
  viewings/1609-deep-red-1975.md
Due: none

more dates
  viewings/0197-fright-night-1985.md
  viewings/1211-jack-frost-1997.md
  viewings/1276-friday-the-13th-a-new-beginning-1985.md
  viewings/1571-the-entity-1982.md
  viewings/1598-anchorman-2-the-legend-continues-2013.md
  viewings/1599-the-damned-1962.md
  viewings/1604-righting-wrongs-1986.md
Due: none

update dates
  movielog/repository/api.py
  movielog/repository/markdown_viewings.py
  viewings/1609-deep-red-1975.md
Due: black, flake8, mypy, pytest

fix export
  movielog/exports/exporter.py
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

fix export
  movielog/exports/watchlist_progress.py
Due: black, flake8, mypy, pytest

edits
  reviews/chamber-of-horrors-1966.md
  reviews/friday-the-13th-the-final-chapter-1984.md
Due: vale

update data
  data/ratings.json
  data/titles/beverly-hills-cop-ii-1987-0092644.json
  data/titles/eggshells-1969-0404011.json
  data/titles/i-saw-the-devil-2010-1588170.json
  data/titles/island-of-death-1976-0188527.json
  data/titles/silent-night-deadly-night-part-2-1987-0093974.json
  data/titles/the-great-houdini-1976-0074587.json
  data/titles/the-mask-of-fu-manchu-1932-0023194.json
  data/titles/to-all-the-boys-always-and-forever-2021-10676012.json
  data/titles/witchfinder-general-1968-0063285.json
Due: none

add viewings
  data/titles/abbot-of-shaolin-1979-0079892.json
  data/titles/dirty-harry-1971-0066999.json
  data/titles/invasion-of-the-body-snatchers-1978-0077745.json
  data/titles/klute-1971-0067309.json
  movielog/cli/add_viewing.py
  viewings/1610-abbot-of-shaolin-1979.md
  viewings/1611-dirty-harry-1971.md
  viewings/1612-invasion-of-the-body-snatchers-1978.md
  viewings/1613-klute-1971.md
Due: black, flake8, mypy, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
