Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

update ci
  .github/workflows/ci.yml
Due: none

rename vocab
  .github/styles/Vocab/default/accept.txt
Due: none

add/update reviews
  .github/styles/custom/Capitalization.yml
  .github/styles/vocab/default/accept.txt
  .vale.ini
  reviews/0896-the-conspiracy-of-torture-1969.md
  reviews/0897-a-lizard-in-a-womans-skin-1971.md
  reviews/0899-the-sister-of-ursula-1978.md
  reviews/0904-torso-1973.md
  reviews/0905-play-motel-1979.md
  reviews/0909-juno-and-the-paycock-1930.md
  reviews/0916-friday-the-13th-1980.md
  reviews/1231-3-from-hell-2019.md
  reviews/1249-daniel-isnt-real-2019.md
  reviews/1250-scarface-1983.md
  reviews/1251-sightseers-2012.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1252-my-bloody-valentine-1981.md
Due: vale

remove old review
  reviews-old/my-bloody-valentine-1981.md
Due: none

bump bandit back while awaiting flake8-bandit fix
  requirements.txt
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  data/valentine-2001.json
  reviews/1253-valentine-2001.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/joint-security-area-2000.json
  reviews/1254-joint-security-area-2000.md
Due: vale

add/update review
  .github/styles/Vocab/default/accept.txt
  data/audition-1999.json
  reviews/1254-joint-security-area-2000.md
  reviews/1255-audition-1999.md
Due: vale

add review
  data/god-told-me-to-1976.json
  reviews/1256-god-told-me-to-1976.md
Due: vale

remove brewfile
  Brewfile.lock.json
Due: none

add/update reviews
  .github/styles/Vocab/default/accept.txt
  data/halloween-kills-2021.json
  data/leprechaun-1993.json
  data/leprechaun-5-in-the-hood-2000.json
  data/saint-maud-2019.json
  data/switchblade-sisters-1975.json
  movielog/moviedata/core/titles_dataset.py
  reviews/1250-scarface-1983.md
  reviews/1257-saint-maud-2019.md
  reviews/1258-underworld-1985.md
  reviews/1259-rawhead-rex-1986.md
  reviews/1260-switchblade-sisters-1975.md
  reviews/1261-halloween-2018.md
  reviews/1262-halloween-kills-2021.md
  reviews/1263-heat-1995.md
  reviews/1264-leprechaun-1993.md
  reviews/1265-leprechaun-5-in-the-hood-2000.md
Due: black, flake8, mypy, pytest, vale

fix annotations
  movielog/cli/add_to_collection.py
  movielog/reviews/exports/grade_distributions.py
  movielog/watchlist/collections.py
  movielog/watchlist/directors.py
  movielog/watchlist/performers.py
  movielog/watchlist/writers.py
Due: black, flake8, mypy, pytest

remove old review
  reviews-old/heat-1995.md
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1266-merrily-we-go-to-hell-1932.md
Due: vale

add reviews
  .github/styles/Vocab/default/accept.txt
  data/halloween-2007.json
  data/halloween-ii-2009.json
  reviews/1267-halloween-2007.md
  reviews/1268-halloween-ii-2009.md
  watchlist/collections/halloween.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1269-body-double-1984.md
Due: vale

fix fixture
  requirements.txt
  tests/cli/conftest.py
Due: black, flake8, mypy, pytest

add reviews
  .github/styles/Vocab/default/accept.txt
  data/hell-night-1981.json
  data/killer-party-1986.json
  reviews/1270-hell-night-1981.md
  reviews/1271-killer-party-1986.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/batman-2022.json
  reviews/1272-the-batman-2022.md
Due: vale

add myself to dependabot assignees list
  .github/dependabot.yml
Due: none

add/update reviews
  .github/styles/Vocab/default/accept.txt
  data/sadness-2021.json
  data/twentynine-palms-2003.json
  data/witchboard-1986.json
  reviews/0950-kill-list-2011.md
  reviews/1076-friday-the-13th-a-new-beginning-1985.md
  reviews/1111-gone-with-the-pope-2010.md
  reviews/1117-funny-games-1997.md
  reviews/1273-witchboard-1986.md
  reviews/1274-twentynine-palms-2003.md
  reviews/1275-the-sadness-2021.md
  reviews/1276-friday-the-13th-a-new-beginning-1985.md
Due: vale

sort accept
  .github/styles/Vocab/default/accept.txt
Due: none

add review
  reviews/1277-event-horizon-1997.md
Due: vale

add reviews
  .github/styles/Vocab/default/accept.txt
  data/alligator-1980.json
  data/eight-diagram-pole-fighter-1984.json
  reviews/1276-friday-the-13th-a-new-beginning-1985.md
  reviews/1278-the-eight-diagram-pole-fighter-1984.md
  reviews/1279-alligator-1980.md
  watchlist/collections/shaw-brothers.json
Due: vale

update watchlist
  watchlist/collections/shaw-brothers.json
Due: none

update reviews
  .github/styles/Vocab/default/accept.txt
  reviews/1001-rio-bravo-1959.md
  reviews/1054-zack-snyders-justice-league-2021.md
  reviews/1157-carrie-1976.md
  reviews/1279-alligator-1980.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/card-counter-2021.json
  reviews/1280-the-card-counter-2021.md
Due: vale

update vocab
  .github/styles/Vocab/default/accept.txt
Due: none

update reviews
  .github/styles/Vocab/default/accept.txt
  reviews/1162-good-times-1967.md
  reviews/1281-good-times-1967.md
Due: vale

git-friendly exports
  movielog/utils/export_tools.py
Due: black, flake8, mypy, pytest

update review
  reviews/1281-good-times-1967.md
Due: vale

add review / remove woody allen
  reviews/1282-loving-memory-1971.md
  watchlist/directors/woody-allen.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/no-time-to-die-2021.json
  reviews/1282-loving-memory-1971.md
  reviews/1283-casino-royale-2006.md
  watchlist/collections/james-bond.json
Due: vale

add review
  reviews/1283-casino-royale-2006.md
Due: vale

update review
  reviews/1283-casino-royale-2006.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1284-no-time-to-die-2021.md
Due: vale

update watchlist
  watchlist/performers/john-wayne.json
Due: none

add reviews
  .github/styles/Vocab/default/accept.txt
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
