Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

review: add An Eye for an Eye (1990)
  data/ratings.json
  data/titles/an-eye-for-an-eye-1990-0108544.json
  reviews/an-eye-for-an-eye-1990.md
  viewings/2025-12-27-01-an-eye-for-an-eye-1990.md
Due: vale

review: add IMDb references to An Eye for an Eye (1990)
  reviews/an-eye-for-an-eye-1990.md
Due: vale

review: add From the Old Earth (1981)
  data/ratings.json
  data/titles/from-the-old-earth-1981-27845211.json
  reviews/from-the-old-earth-1981.md
  viewings/2025-12-28-01-from-the-old-earth-1981.md
Due: vale

review: add Winter Light (1963)
  data/ratings.json
  reviews/winter-light-1963.md
  viewings/2025-12-29-01-winter-light-1963.md
Due: vale

review: italicize Winter Light title in closing paragraph
  reviews/winter-light-1963.md
Due: vale

review: update Angel Heart analysis after rewatch
  reviews/angel-heart-1987.md
  viewings/2026-01-01-01-angel-heart-1987.md
Due: vale

chore: update IMDb ratings and vote counts
  data/ratings.json
  reviews/the-ninth-gate-1999.md
  viewings/2026-01-01-02-the-ninth-gate-1999.md
Due: vale

feat: update review and add viewing for The Curse of Frankenstein
  data/ratings.json
  movielog/repository/imdb_http_title.py
  reviews/the-curse-of-frankenstein-1957.md
  viewings/2026-01-08-01-the-curse-of-frankenstein-1957.md
Due: black, flake8, mypy, pytest, vale

feat: update review and add viewing for In the Mouth of Madness
  reviews/in-the-mouth-of-madness-1994.md
  viewings/2026-01-08-02-in-the-mouth-of-madness-1994.md
Due: vale

Update IMDb ratings data
  data/ratings.json
  data/titles/big-wednesday-1978-0077235.json
  reviews/big-wednesday-1978.md
  viewings/2026-01-18-01-big-wednesday-1978.md
Due: vale

Add The Shadow of the Cat (1961)
  data/ratings.json
  reviews/the-shadow-of-the-cat-1961.md
  viewings/2026-01-19-01-the-shadow-of-the-cat-1961.md
Due: vale

Add Mail Order Bride (1964)
  data/ratings.json
  reviews/mail-order-bride-1964.md
  viewings/2026-01-20-01-mail-order-bride-1964.md
Due: vale

feat(reviews): add IMDb cross-references to Deathmaster review
  reviews/deathmaster-1972.md
Due: vale

feat: add IMDb WAF token support for data fetching
  data/ratings.json
  data/titles/deathmaster-1972-0068459.json
  movielog/cli/add_to_collection.py
  movielog/cli/add_viewing.py
  movielog/cli/ask_for_token.py
  movielog/cli/export_data.py
  movielog/cli/main.py
  movielog/cli/select_title.py
  movielog/cli/title_searcher.py
  movielog/exports/api.py
  movielog/repository/api.py
  movielog/repository/imdb_http_title.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  reviews/deathmaster-1972.md
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
  tests/cli/test_main.py
  viewings/2026-01-22-01-deathmaster-1972.md
Due: black, flake8, mypy, pytest, vale

refactor(cli): consolidate IMDb WAF token handling into shared session
  movielog/cli/add_to_collection.py
  movielog/cli/add_viewing.py
  movielog/cli/imdb.py
  movielog/cli/person_searcher.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/cli/update_title_data.py
  movielog/cli/update_watchlist_credits.py
  movielog/cli/validate_data.py
  movielog/repository/api.py
  movielog/repository/imdb_http.py
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_person.py
  movielog/repository/imdb_http_title.py
  movielog/repository/imdb_http_writer.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  movielog/repository/watchlist_credits_updater.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  tests/cli/test_add_writer.py
  tests/cli/test_imdb.py
Due: black, flake8, mypy, pytest

feat(reviews): add review and viewing for Naked Lunch (1991)
  data/ratings.json
  reviews/naked-lunch-1991.md
  viewings/2026-01-24-01-naked-lunch-1991.md
Due: vale

feat(reviews): add review and viewing for The Phantom of the Opera (1998)
  data/ratings.json
  reviews/the-phantom-of-the-opera-1998.md
  viewings/2026-01-25-01-the-phantom-of-the-opera-1998.md
Due: vale

feat(reviews): revise reviews for Deathmaster (1972) and The Phantom of the Opera (1998)
  reviews/deathmaster-1972.md
  reviews/the-phantom-of-the-opera-1998.md
Due: vale

feat(reviews): revise review for The Castle of the Living Dead (1964) and add viewing
  reviews/the-castle-of-the-living-dead-1964.md
  viewings/2026-01-26-01-the-castle-of-the-living-dead-1964.md
Due: vale

feat(reviews): add review and viewing for Jade Tiger (1977)
  data/ratings.json
  reviews/jade-tiger-1977.md
  viewings/2026-01-27-01-jade-tiger-1977.md
Due: vale

Viewing and review for One Battle After Another (2025)
  data/ratings.json
  data/titles/one-battle-after-another-2025-30144839.json
  reviews/one-battle-after-another-2025.md
  viewings/2026-01-29-01-one-battle-after-another-2025.md
Due: vale

Fix typos and improve clarity in The Boogey Man review
  reviews/the-boogey-man-1980.md
Due: vale

Viewing and review for The Boogey Man (1980)
  data/ratings.json
  data/titles/the-boogey-man-1980-0080464.json
  reviews/the-boogey-man-1980.md
  viewings/2026-01-30-01-the-boogey-man-1980.md
Due: vale

Viewing and review for The Locket (1946)
  data/ratings.json
  reviews/the-locket-1946.md
  viewings/2026-01-31-01-the-locket-1946.md
Due: vale

chore: upgrade claude-code-action from beta to v1
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: grant write permission to pull-requests in claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

feat: enable sticky comments and progress tracking in claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

chore(deps): remove claude-code dependency
  package-lock.json
  package.json
Due: none

Add viewing and revise review for Rendezvous (1935)
  reviews/rendezvous-1935.md
  viewings/2026-02-01-01-rendezvous-1935.md
Due: vale

Add viewing and review for Mercenaries from Hong Kong (1982)
  collections/shaw-brothers.json
  data/ratings.json
  data/titles/mercenaries-from-hong-kong-1982-0085840.json
  reviews/mercenaries-from-hong-kong-1982.md
  viewings/2026-02-01-02-mercenaries-from-hong-kong-1982.md
Due: vale

Add viewing and review for Humanoids from the Deep (1980)
  data/ratings.json
  reviews/humanoids-from-the-deep-1980.md
  viewings/2026-02-02-01-humanoids-from-the-deep-1980.md
Due: vale

`chore: fix remote filename logging to use rsplit for correct URL parsing`
  movielog/repository/datasets/downloader.py
Due: black, flake8, mypy, pytest

chore(deps): update python version requirement to 3.14.3
  pyproject.toml
Due: none

Add viewing and review for One-Armed Boxer (1972)
  reviews/one-armed-boxer-1972.md
  viewings/2026-02-04-01-one-armed-boxer-1972.md
Due: vale

Update review wording: replace "elixir" with "brew"
  reviews/one-armed-boxer-1972.md
Due: vale

Add viewing and review for A History of Violence (2005)
  data/ratings.json
  reviews/a-history-of-violence-2005.md
  viewings/2026-02-05-01-a-history-of-violence-2005.md
Due: vale

Add Clint Eastwood to cast and crew
  cast-and-crew/clint-eastwood.json
Due: none

Add viewing and review for Magnum Force (1973)
  data/ratings.json
  data/titles/magnum-force-1973-0070355.json
  reviews/magnum-force-1973.md
  viewings/2026-02-06-01-magnum-force-1973.md
Due: vale

Fix typo in Magnum Force review (Calahan → Callahan)
  reviews/magnum-force-1973.md
Due: vale

Fix attribution in Humanoids from the Deep review
  reviews/humanoids-from-the-deep-1980.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
