Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

script
  scripts/add_legacy_viewings.py
Due: black, mypy

update viewing
  viewings/2007-08-07-02-sunshine-2007.md
Due: none

re-add notes
  viewings/2021-11-25-01-blood-rage-1987.md
  viewings/2024-11-25-01-blood-rage-1987.md
Due: none

add viewing notes
  viewings/2012-04-27-01-the-big-sleep-1946.md
  viewings/2020-10-19-01-curse-of-the-demon-1957.md
  viewings/2021-06-29-01-the-sea-bat-1930.md
  viewings/2021-09-29-01-beyond-the-valley-of-the-dolls-1970.md
  viewings/2021-12-16-01-jack-frost-1997.md
  viewings/2021-12-16-02-krampus-2015.md
  viewings/2021-12-24-01-christmas-evil-1980.md
  viewings/2021-12-24-02-black-christmas-1974.md
  viewings/2022-05-12-02-friday-the-13th-a-new-beginning-1985.md
  viewings/2022-05-29-01-event-horizon-1997.md
  viewings/2022-06-13-01-good-times-1967.md
  viewings/2022-09-22-01-the-blue-gardenia-1953.md
  viewings/2022-11-07-01-the-lawless-frontier-1934.md
  viewings/2023-01-06-01-nobody-2021.md
  viewings/2023-02-02-02-from-beyond-1986.md
  viewings/2023-02-04-01-the-star-packer-1934.md
  viewings/2023-04-08-01-midnight-1934.md
  viewings/2023-06-20-01-the-last-seduction-1994.md
  viewings/2023-06-23-02-thriller-a-cruel-picture-1973.md
  viewings/2024-02-18-01-the-entity-1982.md
  viewings/2024-06-15-02-anchorman-2-the-legend-continues-2013.md
  viewings/2024-06-15-03-the-damned-1962.md
  viewings/2024-06-20-01-righting-wrongs-1986.md
  viewings/2024-06-26-01-deep-red-1975.md
  viewings/2024-08-15-01-true-romance-1993.md
  viewings/2024-08-15-02-dodgeball-a-true-underdog-story-2004.md
  viewings/2024-09-24-01-talladega-nights-the-ballad-of-ricky-bobby-2006.md
  viewings/2024-10-16-01-scream-and-scream-again-1970.md
  viewings/2024-10-22-01-the-cellar-1988.md
  viewings/2024-11-15-01-the-conspiracy-of-torture-1969.md
  viewings/2024-11-21-02-the-strangers-2008.md
Due: none

update viewings
  viewings/2012-01-28-05-fright-night-1985.md
  viewings/2012-07-30-01-fright-night-1985.md
Due: none

update viewings
  viewings/2008-05-01-01-2001-a-space-odyssey-1968.md
  viewings/2008-05-01-02-iron-man-2008.md
  viewings/2008-07-17-01-hellboy-ii-the-golden-army-2008.md
  viewings/2008-08-09-01-the-dark-knight-2008.md
  viewings/2011-08-19-01-fright-night-2011.md
Due: none

add viewing
  data/titles/nosferatu-2024-5040012.json
  viewings/2025-01-02-01-nosferatu-2024.md
Due: none

update title data
  data/ratings.json
  data/titles/high-sierra-1941-0033717.json
  data/titles/juno-and-the-paycock-1930-0021015.json
  data/titles/lady-with-a-sword-1971-0879239.json
  data/titles/nosferatu-2024-5040012.json
  data/titles/one-armed-swordsman-1967-0061597.json
  data/titles/shaolin-hand-lock-1978-0078253.json
  data/titles/silent-night-deadly-night-1984-0088117.json
  data/titles/the-criminal-code-1931-0021770.json
  data/titles/the-deadly-breaking-sword-1979-0079148.json
  data/titles/the-ghoul-1933-0024055.json
  data/titles/the-trail-of-the-broken-blade-1967-0060350.json
  reviews/high-sierra-1941.md
  reviews/juno-and-the-paycock-1930.md
  reviews/the-criminal-code-1930.md
  reviews/the-criminal-code-1931.md
  viewings/2003-12-07-01-high-sierra-1941.md
  viewings/2007-07-09-02-high-sierra-1941.md
  viewings/2020-11-02-01-juno-and-the-paycock-1930.md
  viewings/2020-11-18-01-the-criminal-code-1930.md
  viewings/2020-11-18-01-the-criminal-code-1931.md
  viewings/2022-09-13-01-high-sierra-1941.md
Due: vale

update review
  reviews/crimes-of-the-future-2022.md
  viewings/2025-01-09-01-crimes-of-the-future-2022.md
Due: vale

add viewing
  reviews/leprechaun-6-back-2-tha-hood-2003.md
  viewings/2025-01-10-01-leprechaun-6-back-2-tha-hood-2003.md
Due: vale

add viewing
  data/ratings.json
  reviews/the-brigand-of-kandahar-1965.md
  viewings/2025-01-10-02-the-brigand-of-kandahar-1965.md
Due: vale

update draft
  reviews/the-brigand-of-kandahar-1965.md
Due: vale

update review
  reviews/the-brigand-of-kandahar-1965.md
Due: vale

add synopsis
  reviews/the-brigand-of-kandahar-1965.md
Due: vale

add viewing
  reviews/def-by-temptation-1990.md
  viewings/2025-01-11-01-def-by-temptation-1990.md
Due: vale

edit review
  reviews/def-by-temptation-1990.md
Due: vale

add review
  data/ratings.json
  reviews/the-return-of-the-musketeers-1989.md
  viewings/2025-01-11-02-the-return-of-the-musketeers-1989.md
Due: vale

edit
  reviews/the-return-of-the-musketeers-1989.md
Due: vale

add synopsis
  reviews/the-return-of-the-musketeers-1989.md
Due: vale

add viewing
  reviews/night-of-the-demons-1988.md
  viewings/2025-01-14-01-night-of-the-demons-1988.md
Due: vale

add review
  data/ratings.json
  reviews/challenge-the-devil-1963.md
  viewings/2025-01-14-02-challenge-the-devil-1963.md
Due: vale

edit
  reviews/challenge-the-devil-1963.md
Due: vale

update
  reviews/challenge-the-devil-1963.md
Due: vale

add synopsis
  reviews/challenge-the-devil-1963.md
Due: vale

add review
  data/ratings.json
  data/titles/den-of-thieves-2018-1259528.json
  reviews/den-of-thieves-2018.md
  viewings/2025-01-16-01-den-of-thieves-2018.md
Due: vale

add viewing
  reviews/lost-highway-1997.md
  viewings/2025-01-16-02-lost-highway-1997.md
Due: vale

edit
  reviews/lost-highway-1997.md
Due: vale

add review
  data/ratings.json
  data/titles/nightbitch-2024-12810074.json
  reviews/nightbitch-2024.md
  viewings/2025-01-18-01-nightbitch-2024.md
Due: vale

edit
  reviews/nightbitch-2024.md
Due: vale

add review
  data/ratings.json
  data/titles/murder-by-decree-1979-0079592.json
  reviews/murder-by-decree-1979.md
  viewings/2025-01-23-01-murder-by-decree-1979.md
Due: vale

edit review
  reviews/deadly-blessing-1981.md
Due: vale

add review
  reviews/deadly-blessing-1981.md
  viewings/2025-01-27-01-deadly-blessing-1981.md
Due: vale

edit
  reviews/deadly-blessing-1981.md
Due: vale

edit
  reviews/deadly-blessing-1981.md
  viewings/2025-01-27-01-deadly-blessing-1981.md
Due: vale

migrate to uv
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .prettierrc.js
  README.md
  bin/movielog.sh
  npm_use.sh
  package.json
  pyproject.toml
  requirements.txt
  uv.lock
Due: none
