Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy movielog tests
  language: system
  pass_filenames: true

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

fix pre-commit
  .pre-commit-config.yaml
Due: none

bump mypy
  .github/workflows/ci.yml
  requirements.txt
Due: none

update setup script
  setup.sh
Due: none

fix mypy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  setup.sh
Due: none

fix workflow
  .github/workflows/ci.yml
Due: none

fix workflow
  .github/workflows/ci.yml
  requirements.txt
Due: none

fix linter
  movielog/api.py
  movielog/cli/add_viewing.py
  movielog/viewings/api.py
  movielog/viewings/venues.py
  setup.cfg
  tests/cli/test_add_viewing.py
  tests/viewings/test_api.py
  tests/viewings/test_venues.py
Due: black, flake8, mypy, pytest

filter old venues
  data/gone-with-the-pope-2010.json
  data/human-tornado-1976.json
  movielog/api.py
  movielog/cli/add_viewing.py
  movielog/viewings/api.py
  movielog/viewings/serializer.py
  movielog/viewings/venues.py
  reviews/0275-gone-with-the-pope-2010.md
  reviews/0276-the-human-tornado-1976.md
  tests/cli/test_add_viewing.py
  tests/viewings/test_venues.py
  viewings/1111-gone-with-the-pope-2010.json
  viewings/1112-the-human-tornado-1976.json
Due: black, flake8, mypy, pytest

fix tests
  tests/conftest.py
  tests/reviews/exports/test_most_watched_directors.py
  tests/reviews/exports/test_most_watched_movies.py
  tests/reviews/exports/test_most_watched_performers.py
  tests/reviews/exports/test_most_watched_writers.py
  tests/reviews/exports/test_viewing_counts_for_decades.py
  tests/reviews/exports/test_viewing_counts_for_venues.py
  tests/reviews/exports/test_viewing_stats.py
  tests/reviews/exports/test_viewings.py
  tests/reviews/test_api.py
  tests/reviews/test_venues.py
  tests/test_api.py
  tests/watchlist/test_api.py
Due: black, mypy

add tests
  .pre-commit-config.yaml
  movielog/reviews/reviews_table.py
  movielog/reviews/viewings_table.py
  tests/reviews/test_api.py
  tests/reviews/test_reviews_table.py
  tests/reviews/test_viewings.py
  tests/reviews/test_viewings_table.py
Due: black, flake8, mypy, pytest

add test
  tests/reviews/test_api.py
Due: black, mypy

add review and fix tests
  data/weekend-at-bernies-1989.json
  movielog/reviews/exports/viewings.py
  reviews/1113-weekend-at-bernies-1989.md
  tests/reviews/exports/test_viewings.py
Due: black, flake8, mypy, pytest

fix precommit
  .pre-commit-config.yaml
Due: none

add viewing
  data/beyond-1981.json
  data/three-oclock-high-1987.json
  reviews/1114-three-oclock-high-1987.md
Due: none

update tests
  .pre-commit-config.yaml
  movielog/reviews/exports/average_grade_for_decades.py
  movielog/reviews/exports/highest_rated_people.py
  movielog/reviews/exports/most_watched_movies.py
  movielog/reviews/exports/most_watched_people.py
  movielog/reviews/exports/reviewed_movies.py
  movielog/reviews/exports/viewing_counts_for_decades.py
  movielog/reviews/exports/viewing_counts_for_venues.py
  movielog/watchlist/exports/watchlist_movies.py
  tests/reviews/exports/test_average_grade_for_decades.py
  tests/reviews/exports/test_highest_rated_directors.py
  tests/reviews/exports/test_highest_rated_performers.py
  tests/reviews/exports/test_highest_rated_writers.py
  tests/reviews/exports/test_most_watched_directors.py
  tests/reviews/exports/test_most_watched_movies.py
  tests/reviews/exports/test_most_watched_performers.py
  tests/reviews/exports/test_most_watched_writers.py
  tests/reviews/exports/test_reviewed_movies.py
  tests/reviews/exports/test_viewing_counts_for_decades.py
  tests/reviews/exports/test_viewing_counts_for_venues.py
  tests/watchlist/exports/test_watchlist_movies.py
Due: black, flake8, mypy, pytest

bump pyyaml-types
  movielog/reviews/serializer.py
  requirements.txt
Due: black, flake8, mypy, pytest

add review
  reviews/1115-funny-games-1997.md
Due: none

add reviews
  data/psycho-goreman-2020.json
  reviews/1115-psycho-goreman-2020.md
  reviews/1116-funny-games-1997.md
Due: none

fix linter
  .github/styles/vocab.txt
  data/bird-with-the-crystal-plumage-1970.json
  data/luca-2021.json
  data/peanut-butter-solution-1985.json
  movielog/reviews/exports/most_watched_people.py
  reviews/0891-phantasm-1979.md
  reviews/0898-island-of-death-1976.md
  reviews/0901-dont-torture-a-duckling-1972.md
  reviews/0904-torso-1973.md
  reviews/0910-hellraiser-1987.md
  reviews/1006-greetings-1968.md
  reviews/1038-the-wedding-party-1969.md
  reviews/1068-hi-mom-1970.md
  reviews/1107-color-out-of-space-2019.md
  reviews/1108-society-1989.md
  reviews/1109-groundhog-day-1993.md
  reviews/1110-cult-of-chucky-2017.md
  reviews/1111-gone-with-the-pope-2010.md
  reviews/1112-the-human-tornado-1976.md
  reviews/1113-weekend-at-bernies-1989.md
  reviews/1114-three-oclock-high-1987.md
  reviews/1115-luca-2021.md
  reviews/1115-psycho-goreman-2020.md
  reviews/1116-funny-games-1997.md
  reviews/1116-psycho-goreman-2020.md
  reviews/1117-funny-games-1997.md
  reviews/1118-the-peanut-butter-solution-1985.md
  reviews/1119-violent-playground-1958.md
  tests/reviews/exports/test_most_watched_directors.py
  tests/reviews/exports/test_most_watched_performers.py
  tests/reviews/exports/test_most_watched_writers.py
Due: black, flake8, mypy, pytest

edit reviews
  reviews/1107-color-out-of-space-2019.md
  reviews/1108-society-1989.md
  reviews/1109-groundhog-day-1993.md
  reviews/1110-cult-of-chucky-2017.md
  reviews/1111-gone-with-the-pope-2010.md
  reviews/1114-three-oclock-high-1987.md
  reviews/1115-luca-2021.md
  reviews/1116-psycho-goreman-2020.md
  reviews/1117-funny-games-1997.md
Due: none

skip html report
  movielog/api.py
  movielog/cli/add_review.py
  movielog/reviews/api.py
  movielog/reviews/exports/reviewed_movies.py
  reviews/0895-the-sea-bat-1930.md
  reviews/1120-the-sea-bat-1930.md
  tests/reviews/test_api.py
Due: black, flake8, mypy, pytest

add/update reviews
  .github/styles/vocab.txt
  reviews/0958-national-lampoons-christmas-vacation-1989.md
  reviews/1121-smiles-of-a-summer-night-1955.md
Due: none

add/edit reviews
  .github/styles/vocab.txt
  reviews/0959-rare-exports-2010.md
  reviews/1122-phantom-of-the-paradise-1974.md
Due: none

add draft synopsis
  reviews-old/synoposis.md
Due: none

add review
  reviews/1123-four-flies-on-grey-velvet-1971.md
Due: none

add review
  .github/styles/vocab.txt
  data/suspiria-2018.json
  reviews/1124-suspiria-2018.md
Due: none

add review
  .github/styles/vocab.txt
  reviews/1125-popstar-never-stop-never-stopping-2016.md
Due: none

add review
  .github/styles/vocab.txt
  data/wrath-of-man-2021.json
  reviews/1125-popstar-never-stop-never-stopping-2016.md
  reviews/1126-wrath-of-man-2021.md
Due: none

add review
  .github/styles/vocab.txt
  reviews/1126-wrath-of-man-2021.md
  reviews/1127-hard-eight-1996.md
Due: none

add review
  data/children-of-men-2006.json
  reviews/1128-children-of-men-2006.md
Due: none

add review
  .github/styles/vocab.txt
  reviews/1129-murders-in-the-rue-morgue-1932.md
Due: none

update review
  reviews/1129-murders-in-the-rue-morgue-1932.md
Due: none

add review
  .github/styles/vocab.txt
  data/scalpel-1977.json
  reviews/1130-scalpel-1977.md
Due: none

add review
  .github/styles/vocab.txt
  data/troop-beverly-hills-1989.json
  reviews/1131-troop-beverly-hills-1989.md
Due: none

update review
  reviews/1131-troop-beverly-hills-1989.md
Due: none

add review
  reviews/1132-code-unknown-2000.md
Due: none

update review
  reviews/0960-krampus-2015.md
Due: none

add/update reviews
  .github/styles/vocab.txt
  reviews/0961-dead-snow-2009.md
  reviews/1133-the-man-who-played-god-1932.md
Due: none

add reviews
  .github/styles/vocab.txt
  data/possessor-2020.json
  reviews/1134-possessor-2020.md
  reviews/1135-race-with-the-devil-1975.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|test)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|test)/.*$
  vale: any of: ^reviews/*.md$
