Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

fixes
  tests/cli/conftest.py
  tests/conftest.py
  tests/repository/datasets/conftest.py
  tests/repository/datasets/test_downloader.py
Due: black, flake8, mypy, pytest

add nvmrc
  .nvmrc
Due: none

types
  movielog/repository/datasets/api.py
  movielog/repository/datasets/extractor.py
  tests/cli/conftest.py
Due: black, flake8, mypy, pytest

ci
  .github/workflows/ci.yml
Due: none

fixes
  .github/workflows/ci.yml
  .vscode/settings.json
  movielog/repository/datasets/api.py
  movielog/repository/datasets/downloader.py
  movielog/repository/watchlist_serializer.py
  movielog/utils/logging.py
  movielog/utils/path_tools.py
  pyproject.toml
  scripts/add_legacy_reviews.py
  scripts/add_legacy_viewings.py
  scripts/rename_viewings.py
  scripts/reviews_with_no_viewings.py
  setup.cfg
  tests/cli/test_add_to_collection.py
  tests/repository/datasets/test_downloader.py
  uv.lock
Due: black, flake8, mypy, pytest

fixes
  movielog/repository/cast_and_crew_validator.py
  movielog/repository/json_cast_and_crew.py
  movielog/repository/json_collections.py
  movielog/repository/json_imdb_ratings.py
  movielog/repository/json_titles.py
  movielog/repository/json_watchlist_people.py
  movielog/repository/markdown_reviews.py
  movielog/repository/markdown_viewings.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  movielog/repository/watchlist_credits_updater.py
  tests/repository/datasets/test_extractor.py
Due: black, flake8, mypy, pytest

fixes
  movielog/cli/add_to_collection.py
  movielog/cli/add_viewing.py
  movielog/cli/ask_medium_or_venue.py
  movielog/cli/ask_review.py
  movielog/cli/radio_list.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/exporter.py
  movielog/exports/overrated.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/watchlist_progress.py
  movielog/exports/watchlist_titles.py
  movielog/repository/api.py
  movielog/repository/db/db.py
  movielog/repository/format_tools.py
  movielog/repository/imdb_http.py
  movielog/repository/imdb_http_release_date.py
  movielog/repository/imdb_ratings_data_updater.py
  movielog/repository/imdb_ratings_data_validator.py
  movielog/repository/markdown_viewings.py
  pyproject.toml
Due: black, flake8, mypy, pytest

types
  movielog/repository/db/db.py
Due: black, flake8, mypy, pytest

vscode
  .vscode/settings.json
Due: none

config
  pyproject.toml
Due: none

update uv
  pyproject.toml
Due: none

add review
  data/ratings.json
  data/titles/the-collector-2009-0844479.json
  reviews/the-collector-2009.md
  viewings/2025-01-25-01-the-collector-2009.md
  viewings/2025-02-06-01-the-collector-2009.md
Due: vale

fix title data
  data/titles/the-golden-age-1930-0021577.json
Due: none

add review
  data/ratings.json
  reviews/red-rooms-2023.md
  reviews/the-blood-beast-terror-1968.md
  reviews/the-collector-2009.md
  viewings/2025-02-11-01-the-blood-beast-terror-1968.md
Due: vale

add review
  data/titles/thursday-1998-0124901.json
  data/titles/witch-from-nepal-1986-0089861.json
  reviews/the-black-cat-1934.md
  viewings/2025-02-13-01-witch-from-nepal-1986.md
  viewings/2025-02-13-02-thursday-1998.md
  viewings/2025-02-16-01-the-black-cat-1934.md
Due: vale

add viewings / review
  data/ratings.json
  reviews/the-web-of-death-1976.md
  viewings/2025-02-18-01-the-exorcist-1973.md
  viewings/2025-02-19-01-the-web-of-death-1976.md
Due: vale

edit
  reviews/the-web-of-death-1976.md
Due: vale

add viewings / review
  data/titles/heart-eyes-2025-32558992.json
  reviews/asylum-1972.md
  viewings/2025-02-20-01-heart-eyes-2025.md
  viewings/2025-02-22-01-asylum-1972.md
Due: vale

update review
  reviews/asylum-1972.md
Due: vale

add viewing / update review
  reviews/the-law-and-jake-wade-1958.md
  viewings/2025-02-28-01-the-law-and-jake-wade-1958.md
Due: vale

edit review
  reviews/the-law-and-jake-wade-1958.md
Due: vale

add synopsis
  reviews/the-law-and-jake-wade-1958.md
Due: vale

add viewing / update review
  reviews/a-nightmare-on-elm-street-3-dream-warriors-1987.md
  viewings/2025-03-01-01-a-nightmare-on-elm-street-3-dream-warriors-1987.md
Due: vale

edit review
  reviews/nightbitch-2024.md
Due: vale

edit review
  reviews/a-nightmare-on-elm-street-3-dream-warriors-1987.md
Due: vale

add review
  data/ratings.json
  reviews/the-worlds-end-2013.md
  viewings/2025-03-04-01-the-worlds-end-2013.md
Due: vale

renovate automerge
  renovate.json
Due: none

add review
  data/ratings.json
  reviews/count-dracula-1970.md
  viewings/2025-03-06-01-count-dracula-1970.md
Due: vale

add review
  data/ratings.json
  reviews/blood-suckers-1971.md
  viewings/2025-03-08-01-blood-suckers-1971.md
Due: vale

add review
  data/ratings.json
  reviews/pray-for-death-1985.md
  viewings/2025-03-08-02-pray-for-death-1985.md
Due: vale

prettier: ignore uv.lock
  .prettierignore
Due: none

fix config
  pyproject.toml
Due: none

add review
  data/ratings.json
  data/titles/heretic-2024-28015403.json
  data/titles/mr-vampire-1985-0089371.json
  reviews/heretic-2024.md
  viewings/2025-03-14-01-heretic-2024.md
  viewings/2025-03-14-02-mr-vampire-1985.md
Due: vale

add synopsis
  reviews/heretic-2024.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
