Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

add reivew
  reviews/fashions-of-1934-1934.md
  viewings/1478-fashions-of-1934-1934.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/mark-of-the-vampire-1935.md
  viewings/1479-mark-of-the-vampire-1935.json
Due: vale

edit review
  reviews/mark-of-the-vampire-1935.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  .vale.ini
  data/all-jacked-up-and-full-of-worms-2022.json
  movielog/moviedata/core/touch_ups.py
  reviews/20000-years-in-sing-sing-1932.md
  reviews/all-jacked-up-and-full-of-worms-2022.md
  viewings/1480-20000-years-in-sing-sing-1932.json
  viewings/1481-all-jacked-up-and-full-of-worms-2022.json
Due: black, flake8, mypy, pytest, vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/all-jacked-up-and-full-of-worms-2022.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/superman-ii-the-richard-donner-cut-1980.json
  reviews/batman-1989.md
  reviews/superman-ii-the-richard-donner-cut-1980.md
  viewings/1482-superman-ii-the-richard-donner-cut-1980.json
  viewings/1483-batman-1989.json
Due: vale

update viewing data
  viewings/1482-superman-ii-the-richard-donner-cut-1980.json
  viewings/1483-batman-1989.json
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  data/cure-1997.json
  reviews/cure-1997.md
  viewings/1484-cure-1997.json
Due: vale

update watchlist entities
  watchlist/directors/abel-ferrara.json
  watchlist/directors/brian-de-palma.json
  watchlist/directors/dario-argento.json
  watchlist/directors/david-cronenberg.json
  watchlist/directors/john-carpenter.json
  watchlist/directors/martin-scorsese.json
  watchlist/directors/michael-haneke.json
  watchlist/directors/michele-soavi.json
  watchlist/directors/paul-thomas-anderson.json
  watchlist/directors/paul-verhoeven.json
  watchlist/directors/quentin-tarantino.json
  watchlist/directors/ridley-scott.json
  watchlist/directors/roman-polanski.json
  watchlist/directors/the-coen-brothers.json
  watchlist/directors/wes-anderson.json
  watchlist/performers/tom-atkins.json
  watchlist/writers/anthony-shaffer.json
  watchlist/writers/clive-barker.json
  watchlist/writers/david-mamet.json
  watchlist/writers/leigh-brackett.json
  watchlist/writers/neil-labute.json
  watchlist/writers/raymond-chandler.json
  watchlist/writers/stephen-king.json
Due: none

remove wrong credits
  watchlist/directors/quentin-tarantino.json
  watchlist/directors/roman-polanski.json
  watchlist/performers/tom-atkins.json
  watchlist/writers/clive-barker.json
  watchlist/writers/raymond-chandler.json
Due: none

update exports
  data/children-of-the-corn-2020.json
  data/rage-carrie-2-1999.json
  data/return-to-salems-lot-1987.json
  movielog/reviews/exports/reviewed_movies.py
  movielog/viewings/exports/most_watched_movies.py
  tests/reviews/exports/test_reviewed_movies.py
Due: black, flake8, mypy, pytest

add renovate config
  renovate.json
Due: none

remove dependabot for pip
  .github/dependabot.yml
Due: none

use .python-version
  .envrc
  .github/workflows/ci.yml
  .python-version
Due: none

update setup
  setup.sh
Due: none

update reqs
  .vscode/settings.json
  requirements.txt
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  reviews/lawyer-man-1932.md
  viewings/1485-lawyer-man-1932.json
Due: vale

edit review
  reviews/lawyer-man-1932.md
Due: vale

update review
  reviews/lawyer-man-1932.md
Due: vale

add shaw brothers movies
  watchlist/collections/shaw-brothers.json
Due: none

update direnv
  .envrc
Due: none

add review
  reviews/lawyer-man-1932.md
  reviews/private-detective-62-1933.md
  viewings/1486-private-detective-62-1933.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  requirements.txt
  reviews/private-detective-62-1933.md
Due: vale

add shaw brothers horror
  watchlist/collections/shaw-brothers.json
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  data/labyrinth-1986.json
  reviews/labyrinth-1986.md
  viewings/1487-labyrinth-1986.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/deathtrap-1982.md
  viewings/1488-deathtrap-1982.json
Due: vale

edit watchlist
  watchlist/writers/stephen-king.json
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  reviews/gosford-park-2001.md
  viewings/1489-gosford-park-2001.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/great-silence-1968.json
  reviews/the-great-silence-1968.md
  viewings/1490-the-great-silence-1968.json
Due: vale

add review
  reviews/the-key-1934.md
  viewings/1491-the-key-1934.json
Due: vale

update review
  .github/styles/Vocab/default/accept.txt
  reviews/the-key-1934.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/marked-woman-1937.md
  viewings/1492-marked-woman-1937.json
Due: vale

edit review
  reviews/marked-woman-1937.md
Due: vale

add review
  data/halloween-ends-2022.json
  reviews/halloween-ends-2022.md
  viewings/1493-halloween-ends-2022.json
Due: vale

update medium notes
  viewing_notes/1262-halloween-kills-2021.md
  viewings/1262-halloween-kills-2021.json
  viewings/1493-halloween-ends-2022.json
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  data/behind-the-mask-the-rise-of-leslie-vernon-2006.json
  reviews/behind-the-mask-the-rise-of-leslie-vernon-2006.md
  viewings/1494-behind-the-mask-the-rise-of-leslie-vernon-2006.json
  watchlist/collections/halloween.json
Due: vale

update review
  reviews/behind-the-mask-the-rise-of-leslie-vernon-2006.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/having-a-wild-weekend-1965.md
  viewings/1495-having-a-wild-weekend-1965.json
Due: vale

update review
  reviews/having-a-wild-weekend-1965.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
