Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

update grade
  reviews/return-of-the-fly-1959.md
Due: vale

update review
  reviews/return-of-the-fly-1959.md
Due: vale

add review
  reviews/the-las-vegas-story-1952.md
  viewings/2025-05-30-01-the-las-vegas-story-1952.md
Due: vale

edit review
  reviews/the-las-vegas-story-1952.md
Due: vale

add oliver reed
  cast-and-crew/oliver-reed.json
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

edit
  reviews/the-las-vegas-story-1952.md
Due: vale

add review
  collections/shaw-brothers.json
  data/ratings.json
  data/titles/soul-of-the-sword-1978-0076692.json
  reviews/soul-of-the-sword-1978.md
  viewings/2025-05-31-01-soul-of-the-sword-1978.md
Due: vale

add review
  data/ratings.json
  data/titles/and-god-said-to-cain-1970-0064273.json
  reviews/and-god-said-to-cain-1970.md
  viewings/2025-05-31-02-and-god-said-to-cain-1970.md
Due: vale

add synopsis
  reviews/and-god-said-to-cain-1970.md
Due: vale

add klaus kinski
  cast-and-crew/klaus-kinski.json
Due: none

add review
  cast-and-crew/don-siegel.json
  data/ratings.json
  data/titles/escape-from-alcatraz-1979-0079116.json
  reviews/escape-from-alcatraz-1979.md
  viewings/2025-06-03-01-escape-from-alcatraz-1979.md
Due: vale

update review
  reviews/oceans-eleven-1960.md
  viewings/2025-06-05-01-oceans-eleven-1960.md
Due: vale

add review
  data/ratings.json
  data/titles/winterbeast-1992-0103270.json
  movielog/exports/reviewed_titles.py
  reviews/winterbeast-1992.md
  viewings/2025-06-05-02-winterbeast-1992.md
Due: black, flake8, mypy, pytest, vale

add review
  data/ratings.json
  data/titles/tank-1984-0088224.json
  reviews/tank-1984.md
  viewings/2025-06-07-01-tank-1984.md
Due: vale

typo
  reviews/tank-1984.md
Due: vale

add review
  data/ratings.json
  reviews/opera-1987.md
  viewings/2025-06-08-01-opera-1987.md
Due: vale

add viewing / update review
  reviews/massacre-time-1966.md
  viewings/2020-09-21-01-massacre-time-1966.md
  viewings/2025-06-09-01-massacre-time-1966.md
Due: vale

edit
  reviews/massacre-time-1966.md
Due: vale

revert
  reviews/massacre-time-1966.md
Due: vale

add review
  data/ratings.json
  reviews/hands-of-the-ripper-1971.md
  viewings/2025-06-10-01-hands-of-the-ripper-1971.md
Due: vale

add review
  data/ratings.json
  reviews/ebola-syndrome-1996.md
  viewings/2025-06-12-01-ebola-syndrome-1996.md
Due: vale

edit
  reviews/ebola-syndrome-1996.md
Due: vale

add review
  data/ratings.json
  reviews/jason-x-2001.md
  viewings/2025-06-13-01-jason-x-2001.md
Due: vale

generics
  movielog/cli/radio_list.py
  movielog/exports/exporter.py
Due: black, flake8, mypy, pytest

add review
  data/ratings.json
  reviews/pals-of-the-saddle-1938.md
  viewings/2025-06-14-01-pals-of-the-saddle-1938.md
Due: vale

add review
  reviews/only-angels-have-wings-1939.md
  reviews/rio-bravo-1959.md
  viewings/2025-06-15-01-only-angels-have-wings-1939.md
Due: vale

add review
  reviews/red-river-1948.md
  viewings/2025-06-15-02-red-river-1948.md
Due: vale

add viewing
  data/titles/the-neverending-story-1984-0088323.json
  viewings/2025-06-15-02-red-river-1948.md
  viewings/2025-06-21-01-the-neverending-story-1984.md
Due: none

edit review
  reviews/red-river-1948.md
Due: vale

add review
  data/ratings.json
  data/titles/tentacles-1977-0076809.json
  pyproject.toml
  reviews/tentacles-1977.md
  uv.lock
  viewings/2025-06-28-01-tentacles-1977.md
Due: vale

better title http
  .vscode/settings.json
  data/titles/tentacles-1977-0076809.json
  movielog/repository/imdb_http_title.py
  movielog/repository/title_data_updater.py
  pyproject.toml
  uv.lock
Due: black, flake8, mypy, pytest

wip
  .vscode/settings.json
  movielog/repository/credit_notes_validator.py
  movielog/repository/imdb_http.py
  movielog/repository/imdb_http_person.py
  movielog/repository/imdb_http_release_date.py
  movielog/repository/imdb_http_title.py
  movielog/repository/title_data_updater.py
  movielog/repository/watchlist_credits_updater.py
  movielog/utils/get_nested_value.py
Due: black, flake8, mypy, pytest

try fix watchlist... no data :(
  movielog/repository/imdb_http_person.py
  movielog/repository/watchlist_credits_updater.py
Due: black, flake8, mypy, pytest

specs
  movielog/cli/imdb.py
  movielog/repository/api.py
  movielog/repository/imdb_http_person.py
  movielog/repository/watchlist_credits_updater.py
  tests/cli/test_imdb.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

drop dep
  pyproject.toml
  uv.lock
Due: none

watchlist maintenance
  data/titles/el-misterioso-mr-wong-1934-16978034.json
  data/titles/the-shrouds-2024-20212786.json
  watchlist/directors/david-cronenberg.json
  watchlist/directors/sam-peckinpah.json
  watchlist/performers/bela-lugosi.json
Due: none

wip
  movielog/cli/imdb.py
  movielog/repository/api.py
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_person.py
  movielog/repository/watchlist_credits_updater.py
Due: black, flake8, mypy, pytest

wip
  watchlist/directors/.progress
  watchlist/directors/alfred-hitchcock.json
  watchlist/directors/billy-wilder.json
  watchlist/directors/brian-de-palma.json
  watchlist/directors/dario-argento.json
  watchlist/directors/david-cronenberg.json
  watchlist/directors/david-lean.json
  watchlist/directors/fritz-lang.json
  watchlist/directors/george-a-romero.json
  watchlist/directors/howard-hawks.json
  watchlist/directors/ingmar-bergman.json
  watchlist/directors/john-boorman.json
  watchlist/directors/john-carpenter.json
  watchlist/directors/john-ford.json
  watchlist/directors/john-frankenheimer.json
  watchlist/directors/john-huston.json
  watchlist/directors/john-sturges.json
  watchlist/directors/ken-russell.json
  watchlist/directors/lucio-fulci.json
  watchlist/directors/mario-bava.json
  watchlist/directors/michael-haneke.json
  watchlist/directors/quentin-tarantino.json
  watchlist/directors/robert-altman.json
  watchlist/directors/roman-polanski.json
  watchlist/directors/sam-peckinpah.json
  watchlist/directors/sergio-leone.json
  watchlist/directors/sidney-lumet.json
  watchlist/directors/stanley-kubrick.json
  watchlist/directors/tobe-hooper.json
  watchlist/directors/tod-browning.json
  watchlist/directors/tony-scott.json
  watchlist/directors/wes-craven.json
  watchlist/directors/william-friedkin.json
  watchlist/writers/.progress
Due: none

wip
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_person.py
  movielog/repository/watchlist_credits_updater.py
Due: black, flake8, mypy, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
