Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

update review
  reviews/having-a-wild-weekend-1965.md
Due: vale

update review
  .github/styles/Vocab/default/accept.txt
  reviews/street-of-chance-1930.md
  viewings/1531-street-of-chance-1930.json
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/the-night-they-raided-minskys-1968.md
  viewings/1532-the-night-they-raided-minskys-1968.json
Due: vale

update review
  reviews/the-night-they-raided-minskys-1968.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/bones-and-all-2022.json
  reviews/bones-and-all-2022.md
  viewings/1533-bones-and-all-2022.json
Due: vale

update review / add viewing
  data/burning-paradise-1994.json
  reviews/bones-and-all-2022.md
  viewings/1534-burning-paradise-1994.json
Due: vale

update review
  reviews/the-birthday-party-1968.md
Due: vale

fix tests
  .vscode/settings.json
  tests/moviedata/core/test_downloader.py
  tests/moviedata/extended/test_movies.py
Due: black, flake8, mypy, pytest

add review
  .github/styles/Vocab/default/accept.txt
  reviews/eggshells-1969.md
  viewings/1535-eggshells-1969.json
Due: vale

update review
  .github/styles/Vocab/default/accept.txt
  reviews/friday-the-13th-part-vii-the-new-blood-1988.md
  viewings/1536-friday-the-13th-part-vii-the-new-blood-1988.json
Due: vale

update review
  reviews/friday-the-13th-part-vii-the-new-blood-1988.md
Due: vale

add viewings
  movielog/moviedata/core/titles_dataset.py
  reviews-old/13-ghosts-1960.md
  reviews-old/beach-of-the-war-gods-1973.md
  reviews-old/green-room-2015-1.md
  reviews-old/i-drink-your-blood-1971.md
  reviews-old/mortal-kombat-legends-cage-match-2023.md
  reviews-old/the-house-on-tombstone-hill-1989.md
  reviews-old/the-pit-1981 copy.md
  reviews/ladies-man-1931.md
  reviews/nightmare-beach-1989.md
  reviews/the-death-kiss-1932.md
  viewings/1536-friday-the-13th-part-vii-the-new-blood-1988.json
  viewings/1538-mortal-kombat-legends-cage-match-2023.json
  viewings/1539-beach-of-the-war-gods-1973.json
  viewings/1540-nightmare-beach-1989.json
  viewings/1541-13-ghosts-1960.json
  viewings/1542-the-house-on-tombstone-hill-1989.json
  viewings/1543-i-drink-your-blood-1971.json
  viewings/1544-ladies-man-1931.json
  viewings/1545-green-room-2015.json
  viewings/1546-the-pit-1981.json
Due: black, flake8, mypy, pytest, vale

update review
  reviews/the-death-kiss-1932.md
Due: vale

add review
  reviews/the-death-kiss-1932.md
  viewings/1537-the-death-kiss-1932.json
Due: vale

update review/data
  data/13-ghosts-1960.json
  data/beach-of-the-war-gods-1973.json
  data/house-on-tombstone-hill-1989.json
  data/i-drink-your-blood-1971.json
  data/mortal-kombat-legends-cage-match-2023.json
  reviews/the-death-kiss-1932.md
Due: vale

edit review
  reviews/nightmare-beach-1989.md
Due: vale

fix filmography
  movielog/watchlist/filmography.py
  movielog/watchlist/person.py
Due: black, flake8, mypy, pytest

pre fix
  movielog/exports/__init__.py
  movielog/exports/api.py
  movielog/exports/exporter.py
  movielog/repository/__init__.py
  movielog/repository/api.py
  movielog/repository/json_title.py
Due: black, flake8, mypy, pytest

pre fix
  movielog/repository/api.py
Due: black, flake8, mypy, pytest

writers done
  movielog/moviedata/extended/writers.py
  movielog/watchlist/api.py
  movielog/watchlist/filmography.py
  watchlist/writers/anthony-shaffer.json
  watchlist/writers/clive-barker.json
  watchlist/writers/david-mamet.json
  watchlist/writers/leigh-brackett.json
  watchlist/writers/neil-labute.json
  watchlist/writers/raymond-chandler.json
  watchlist/writers/stephen-king.json
Due: black, flake8, mypy, pytest

prep collections
  movielog/watchlist/api.py
  movielog/watchlist/collections.py
Due: black, flake8, mypy, pytest

update performers
  movielog/moviedata/extended/cast.py
  movielog/watchlist/api.py
  movielog/watchlist/filmography.py
  movielog/watchlist/performers.py
  movielog/watchlist/writers.py
  watchlist/directors/fritz-lang.json
  watchlist/directors/howard-hawks.json
  watchlist/directors/lucio-fulci.json
  watchlist/directors/tobe-hooper.json
  watchlist/performers/bela-lugosi.json
  watchlist/performers/bette-davis.json
  watchlist/performers/boris-karloff.json
  watchlist/performers/burt-reynolds.json
  watchlist/performers/cary-grant.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/dean-martin.json
  watchlist/performers/errol-flynn.json
  watchlist/performers/frank-sinatra.json
  watchlist/performers/gene-hackman.json
  watchlist/performers/humphrey-bogart.json
  watchlist/performers/jack-lemmon.json
  watchlist/performers/jack-nicholson.json
  watchlist/performers/james-coburn.json
  watchlist/performers/james-garner.json
  watchlist/performers/james-stewart.json
  watchlist/performers/john-wayne.json
  watchlist/performers/lee-marvin.json
  watchlist/performers/marilyn-monroe.json
  watchlist/performers/paul-newman.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/robert-mitchum.json
  watchlist/performers/sean-connery.json
  watchlist/performers/steve-mcqueen.json
  watchlist/performers/vincent-price.json
  watchlist/performers/warren-oates.json
  watchlist/performers/william-holden.json
  watchlist/performers/william-powell.json
Due: black, flake8, mypy, pytest

update collections
  movielog/watchlist/collections.py
  watchlist/collections/childs-play.json
  watchlist/collections/friday-the-13th.json
  watchlist/collections/halloween.json
  watchlist/collections/hammer-films.json
  watchlist/collections/hatchet.json
  watchlist/collections/james-bond.json
  watchlist/collections/phantasm.json
  watchlist/collections/saw.json
  watchlist/collections/shaw-brothers.json
  watchlist/collections/universal-monsters.json
Due: black, flake8, mypy, pytest

woo-hoo
  movielog/watchlist/directors.py
  movielog/watchlist/filmography.py
  movielog/watchlist/person.py
  watchlist/directors/john-ford.json
  watchlist/directors/john-frankenheimer.json
  watchlist/directors/ken-russell.json
  watchlist/directors/paul-thomas-anderson.json
  watchlist/directors/quentin-tarantino.json
  watchlist/directors/the-coen-brothers.json
Due: black, flake8, mypy, pytest

woo-hoo
  movielog/watchlist/api.py
  movielog/watchlist/filmography.py
  movielog/watchlist/performers.py
Due: black, flake8, mypy, pytest

more data
  movielog/watchlist/directors.py
  watchlist/directors/fritz-lang.json
  watchlist/directors/howard-hawks.json
  watchlist/directors/lucio-fulci.json
  watchlist/directors/tobe-hooper.json
  watchlist/performers/william-powell.json
Due: black, flake8, mypy, pytest

start/cleanup titles
  movielog/repository/json_title.py
  movielog/watchlist/api.py
  movielog/watchlist/collections.py
Due: black, flake8, mypy, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
