Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

don't have claude review renovate changes
  .github/workflows/claude-code-review.yml
Due: none

fix viewing sequence calculation
  data/titles/justice-league-crisis-on-infinite-earths-part-two-2024-30150907.json
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/utils.py
  movielog/exports/viewings.py
Due: black, flake8, mypy, pytest

feat: add Back to the Future and The Toxic Avenger viewings
  data/titles/back-to-the-future-1985-0088763.json
  data/titles/the-toxic-avenger-2023-1633359.json
  viewings/2025-09-02-01-the-toxic-avenger-2023.md
  viewings/2025-09-20-01-back-to-the-future-1985.md
Due: none

rename var
  movielog/exports/cast_and_crew.py
Due: black, flake8, mypy, pytest

update viewing
  viewings/2025-07-07-01-the-return-of-the-musketeers-1989.md
Due: none

add viewing
  data/ratings.json
  reviews/the-swimmer-1968.md
  viewings/2025-09-25-01-the-swimmer-1968.md
Due: vale

remove grade sequence
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/json_reviewed_title.py
  movielog/exports/overrated.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/utils.py
  movielog/exports/viewings.py
Due: black, flake8, mypy, pytest

edit review
  reviews/the-swimmer-1968.md
Due: vale

update review
  reviews/a-reason-to-live-a-reason-to-die-1972.md
Due: vale

add: A Field in England (2013) review and viewing
  data/ratings.json
  reviews/a-field-in-england-2013.md
  reviews/the-swimmer-1968.md
  viewings/2025-09-25-02-a-field-in-england-2013.md
Due: vale

add review
  data/ratings.json
  data/titles/the-untold-story-1993-0103743.json
  reviews/the-untold-story-1993.md
  viewings/2025-09-27-01-the-untold-story-1993.md
Due: vale

refactor: standardize export protocols and type annotations
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_title.py
  movielog/exports/overrated.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/utils.py
  movielog/exports/viewings.py
  movielog/exports/watchlist_titles.py
  movielog/repository/api.py
Due: black, flake8, mypy, pytest

feat: add Re-Animator (1985) viewing at Alamo Drafthouse
  viewings/2025-09-30-01-re-animator-1985.md
Due: none

feat: update title metadata and expand FrozenTitles configuration
  data/ratings.json
  data/titles/all-men-are-brothers-1975-0071389.json
  data/titles/bud-abbott-and-lou-costello-meet-the-invisible-man-1951-0043255.json
  data/titles/catchfire-1990-0096875.json
  data/titles/paradise-canyon-1935-0026846.json
  data/titles/plan-9-from-outer-space-1957-0052077.json
  data/titles/rabid-dogs-1974-0071275.json
  data/titles/shock-1977-0075651.json
  data/titles/sunset-boulevard-1950-0043014.json
  data/titles/the-four-musketeers-miladys-revenge-1974-0073012.json
  data/titles/the-golden-age-1930-0021577.json
  data/titles/the-hit-list-1993-0107117.json
  data/titles/they-died-with-their-boots-on-1941-0034277.json
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

update data
  data/titles/all-men-are-brothers-1974-0071389.json
  data/titles/kidnapped-1974-0071275.json
  data/titles/the-four-musketeers-1974-0073012.json
Due: none

update data
  data/titles/lage-dor-1930-0021577.json
  data/titles/plan-9-from-outer-space-1958-0052077.json
  movielog/repository/title_data_updater.py
  reviews/lage-dor-1930.md
  reviews/plan-9-from-outer-space-1958.md
Due: black, flake8, mypy, pytest, vale

feat: add Django (1966) review and viewing
  data/ratings.json
  data/titles/django-1966-0060315.json
  reviews/django-1966.md
  viewings/2025-10-03-01-django-1966.md
Due: vale

feat: add The French Sex Murders (1972) review and viewing
  data/ratings.json
  reviews/the-french-sex-murders-1972.md
  viewings/2025-10-04-01-the-french-sex-murders-1972.md
Due: vale

feat: add Witchtrap (1989) review and viewing
  data/ratings.json
  data/titles/witchtrap-1989-0098662.json
  reviews/the-french-sex-murders-1972.md
  reviews/witchtrap-1989.md
  viewings/2025-10-05-01-witchtrap-1989.md
Due: vale

Add The Wailing (2016)
  data/ratings.json
  data/titles/the-wailing-2016-5215952.json
  reviews/the-wailing-2016.md
  viewings/2025-10-07-01-the-wailing-2016.md
Due: vale

Fix punctuation in The Wailing (2016) review
  reviews/the-wailing-2016.md
Due: vale

Add Crimewave (1985)
  data/ratings.json
  data/titles/crimewave-1985-0088967.json
  reviews/crimewave-1985.md
  viewings/2025-10-07-02-crimewave-1985.md
Due: vale

Add Monkey Shines (1988)
  data/ratings.json
  reviews/monkey-shines-1988.md
  viewings/2025-10-10-01-monkey-shines-1988.md
Due: vale

Add reference link to Conan the Barbarian in Monkey Shines review
  reviews/monkey-shines-1988.md
Due: vale

Add Zombie 3 (1988)
  data/ratings.json
  reviews/zombie-3-1988.md
  viewings/2018-01-20-01-zombie-3-1988.md
  viewings/2025-10-11-01-zombie-3-1988.md
Due: vale

Add footnote citation to Zombie 3 review
  reviews/zombie-3-1988.md
Due: vale

Update Zombie 3 review
  reviews/zombie-3-1988.md
Due: vale

Add viewing and review for Alone in the Dark (1982)
  data/ratings.json
  data/titles/alone-in-the-dark-1982-0083542.json
  reviews/alone-in-the-dark-1982.md
  viewings/2025-10-14-01-alone-in-the-dark-1982.md
Due: vale

Add viewing and review for The Wicker Man (2006)
  data/ratings.json
  data/titles/the-wicker-man-2006-0450345.json
  reviews/the-wicker-man-2006.md
  viewings/2025-10-17-01-the-wicker-man-2006.md
Due: vale

Add viewing and review for Picnic at Hanging Rock (1975)
  data/ratings.json
  data/titles/picnic-at-hanging-rock-1975-0073540.json
  reviews/picnic-at-hanging-rock-1975.md
  viewings/2025-10-18-01-picnic-at-hanging-rock-1975.md
Due: vale

Add viewing and review for The People Under the Stairs (1991)
  data/ratings.json
  reviews/the-people-under-the-stairs-1991.md
  viewings/2025-10-19-01-the-people-under-the-stairs-1991.md
Due: vale

Add review content for The People Under the Stairs (1991)
  reviews/the-people-under-the-stairs-1991.md
Due: vale

Update IMDb ratings data
  data/ratings.json
  reviews/exorcist-ii-the-heretic-1977.md
  viewings/2025-10-20-01-exorcist-ii-the-heretic-1977.md
Due: vale

Add viewing and review for Cruising (1980)
  data/ratings.json
  reviews/cruising-1980.md
  viewings/2025-10-22-01-cruising-1980.md
Due: vale

Add review for Cruising (1980)
  reviews/cruising-1980.md
Due: vale

Add review for The Ugly Stepsister (2025)
  data/ratings.json
  data/titles/the-ugly-stepsister-2025-29344903.json
  reviews/the-ugly-stepsister-2025.md
  viewings/2025-10-23-01-the-ugly-stepsister-2025.md
Due: vale

Add review for Return of the Living Dead III (1993)
  data/ratings.json
  data/titles/return-of-the-living-dead-iii-1993-0107953.json
  reviews/return-of-the-living-dead-iii-1993.md
  viewings/2025-10-23-02-return-of-the-living-dead-iii-1993.md
Due: vale
