Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

wip
  movielog/repository/title_data_validator.py
Due: black, flake8, mypy, pytest

Add The Exorcist III: Legion (1990)
  data/ratings.json
  data/titles/the-exorcist-iii-legion-1990-10045260.json
  reviews/the-exorcist-iii-legion-1990.md
  viewings/2025-11-16-01-the-exorcist-iii-legion-1990.md
Due: vale

update ratings
  data/ratings.json
Due: none

Correct review filenames for Burial Ground and The Invisible Ray
  reviews/burial-ground-1981.md
  reviews/the-invisible-ray-1936.md
Due: vale

Add viewing and review for Street Trash (1987)
  data/ratings.json
  data/titles/street-trash-1987-0094057.json
  reviews/street-trash-1987.md
  viewings/2025-11-21-01-street-trash-1987.md
Due: vale

Add viewing and review for The Bat (1959)
  reviews/the-bat-1959.md
  viewings/2025-11-22-01-the-bat-1959.md
Due: vale

Add viewing and review for The Man Who Could Cheat Death (1959)
  data/ratings.json
  reviews/the-man-who-could-cheat-death-1959.md
  viewings/2025-11-22-02-the-man-who-could-cheat-death-1959.md
Due: vale

Add viewing and review for Irreversible (2002)
  data/ratings.json
  data/titles/irreversible-2002-0290673.json
  reviews/irreversible-2002.md
  viewings/2025-11-22-03-irreversible-2002.md
Due: vale

Add Burt Lancaster to cast and crew
  cast-and-crew/burt-lancaster.json
Due: none

Add review and viewing for Vigil in the Night (1940)
  data/ratings.json
  reviews/vigil-in-the-night-1940.md
  viewings/2025-11-23-01-vigil-in-the-night-1940.md
Due: vale

Fix viewing sort to use date-sequence composite key
  movielog/cli/add_viewing.py
Due: black, flake8, mypy, pytest

Add review and viewing for Jigsaw (2017)
  collections/saw.json
  data/ratings.json
  data/titles/saw-x-2023-21807222.json
  reviews/jigsaw-2017.md
  viewings/2025-11-23-02-jigsaw-2017.md
Due: vale

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Add .npmrc with strict dependency management settings
  .npmrc
Due: none

Add review and viewing for The Crimson Pirate (1952)
  data/ratings.json
  reviews/the-crimson-pirate-1952.md
  viewings/2025-11-24-01-the-crimson-pirate-1952.md
Due: vale

Adjust grade thresholds for overrated, underrated, and underseen exports
  movielog/exports/overrated.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
Due: black, flake8, mypy, pytest

Add review and viewing for The Two Faces of Dr. Jekyll (1960)
  data/ratings.json
  reviews/the-two-faces-of-dr-jekyll-1960.md
  viewings/2025-11-25-01-the-two-faces-of-dr-jekyll-1960.md
Due: vale

Italicize Dorian Gray reference in The Two Faces of Dr. Jekyll review
  reviews/the-two-faces-of-dr-jekyll-1960.md
Due: vale

edit
  reviews/the-two-faces-of-dr-jekyll-1960.md
Due: vale

Add review and viewing for All Through the Night (1942)
  reviews/all-through-the-night-1942.md
  viewings/2025-11-26-01-all-through-the-night-1942.md
Due: vale

Add review and viewing for Pilgrim (2019)
  data/ratings.json
  data/titles/pilgrim-2019-11045340.json
  reviews/pilgrim-2019.md
  reviews/the-two-faces-of-dr-jekyll-1960.md
  viewings/2025-11-26-02-pilgrim-2019.md
Due: vale

Update Blood Rage review and add 2025 viewing
  reviews/blood-rage-1987.md
  viewings/2021-11-25-01-blood-rage-1987.md
  viewings/2025-11-27-01-blood-rage-1987.md
Due: vale

Update Blood Rage (1987) grade from B to B-
  reviews/blood-rage-1987.md
Due: vale

Update Mystery Street (1950) review and add 2025 viewing
  reviews/mystery-street-1950.md
  viewings/2025-11-29-01-mystery-street-1950.md
Due: vale

Update Scared to Death (1946) review and add 2025 viewing
  reviews/scared-to-death-1946.md
  viewings/2025-11-30-01-scared-to-death-1946.md
Due: vale

Add Basket Case 2 (1990) review and viewing
  data/ratings.json
  data/titles/basket-case-2-1990-0099108.json
  reviews/basket-case-2-1990.md
  viewings/2025-12-01-01-basket-case-2-1990.md
Due: vale

Fix Basket Case 2 viewing date from 2025-12-01 to 2025-11-30
  reviews/basket-case-2-1990.md
  viewings/2025-11-30-02-basket-case-2-1990.md
Due: vale

review: The Big Circus (1959)
  data/ratings.json
  reviews/the-big-circus-1959.md
  viewings/2025-12-02-01-the-big-circus-1959.md
Due: vale

fix: correct release years for Leprechaun and Mortal Kombat Legends: Snow Blind
  data/titles/leprechaun-1993-0107387.json
  data/titles/mortal-kombat-legends-snow-blind-2022-21477618.json
Due: none

fix tests
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
Due: black, flake8, mypy, pytest

review: add Kill Bill: The Whole Bloody Affair (2006)
  data/ratings.json
  reviews/kill-bill-the-whole-bloody-affair-2006.md
  viewings/2025-12-18-01-kill-bill-the-whole-bloody-affair-2006.md
Due: vale

watchlist: exclude My Best Friend's Birthday for Quentin Tarantino
  data/titles/my-best-friends-birthday-1987-0359715.json
  watchlist/directors/quentin-tarantino.json
  watchlist/directors/roman-polanski.json
Due: none

viewings: add Maniac Cop 2 (1990) and Black Christmas (2006)
  data/titles/maniac-cop-2-1990-0100107.json
  viewings/2025-12-21-01-maniac-cop-2-1990.md
  viewings/2025-12-21-02-black-christmas-2006.md
Due: none

review: add Pretty Maids All in a Row (1971)
  data/ratings.json
  data/titles/pretty-maids-all-in-a-row-1971-0067610.json
  reviews/kill-bill-the-whole-bloody-affair-2006.md
  reviews/pretty-maids-all-in-a-row-1971.md
  viewings/2025-12-23-01-pretty-maids-all-in-a-row-1971.md
Due: vale

review: add Elves (1989)
  data/ratings.json
  data/titles/elves-1989-0099496.json
  reviews/elves-1989.md
  viewings/2025-12-25-01-elves-1989.md
Due: vale

review: add A Nightmare on Elm Street 4: The Dream Master (1988)
  data/ratings.json
  data/titles/a-nightmare-on-elm-street-4-the-dream-master-1988-0095742.json
  reviews/a-nightmare-on-elm-street-4-the-dream-master-1988.md
  reviews/elves-1989.md
  viewings/2025-12-26-01-a-nightmare-on-elm-street-4-the-dream-master-1988.md
Due: vale

review: fix pronoun in Scared to Death (1946)
  reviews/scared-to-death-1946.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
