Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

update watchlist data
  data/titles/alice-in-wonderland-2010-1014759.json
  data/titles/an-american-tail-fievel-goes-west-1991-0101329.json
  data/titles/angels-in-notting-hill-2016-3519178.json
  data/titles/beauty-and-the-beast-1992-1045815.json
  data/titles/bustin-loose-1981-0082121.json
  data/titles/corpse-bride-2005-0121164.json
  data/titles/dragonheart-1996-0116136.json
  data/titles/extraordinary-tales-2013-3454574.json
  data/titles/forever-amber-1947-0039391.json
  data/titles/here-comes-peter-cottontail-1971-0249577.json
  data/titles/i-go-pogo-1980-0087925.json
  data/titles/mad-monster-party-1967-0061931.json
  data/titles/nutcracker-fantasy-1979-0079648.json
  data/titles/sir-billi-2012-0851471.json
  data/titles/star-wars-the-clone-wars-2008-1185834.json
  data/titles/ten-little-indians-1965-0061075.json
  data/titles/texas-rangers-2001-0193560.json
  data/titles/the-daydreamer-1966-0060283.json
  data/titles/the-great-mouse-detective-1986-0091149.json
  data/titles/the-last-unicorn-1982-0084237.json
  data/titles/the-little-troll-prince-1987-0300143.json
  data/titles/the-strange-case-of-alice-cooper-1979-0078327.json
  data/titles/the-thief-and-the-cobbler-1993-0112389.json
  data/titles/the-vagabond-king-1956-0049909.json
  data/titles/three-coins-in-the-fountain-1954-0047580.json
  data/titles/x-15-1961-0055627.json
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_writer.py
  watchlist/performers/boris-karloff.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/frank-sinatra.json
  watchlist/performers/humphrey-bogart.json
  watchlist/performers/james-coburn.json
  watchlist/performers/james-stewart.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/robert-mitchum.json
  watchlist/performers/sean-connery.json
  watchlist/performers/vincent-price.json
Due: black, flake8, mypy, pytest

update watchlist data (#2538)
  data/titles/alice-in-wonderland-2010-1014759.json
  data/titles/an-american-tail-fievel-goes-west-1991-0101329.json
  data/titles/angels-in-notting-hill-2016-3519178.json
  data/titles/beauty-and-the-beast-1992-1045815.json
  data/titles/bustin-loose-1981-0082121.json
  data/titles/corpse-bride-2005-0121164.json
  data/titles/dragonheart-1996-0116136.json
  data/titles/extraordinary-tales-2013-3454574.json
  data/titles/forever-amber-1947-0039391.json
  data/titles/here-comes-peter-cottontail-1971-0249577.json
  data/titles/i-go-pogo-1980-0087925.json
  data/titles/mad-monster-party-1967-0061931.json
  data/titles/nutcracker-fantasy-1979-0079648.json
  data/titles/sir-billi-2012-0851471.json
  data/titles/star-wars-the-clone-wars-2008-1185834.json
  data/titles/ten-little-indians-1965-0061075.json
  data/titles/texas-rangers-2001-0193560.json
  data/titles/the-daydreamer-1966-0060283.json
  data/titles/the-great-mouse-detective-1986-0091149.json
  data/titles/the-last-unicorn-1982-0084237.json
  data/titles/the-little-troll-prince-1987-0300143.json
  data/titles/the-strange-case-of-alice-cooper-1979-0078327.json
  data/titles/the-thief-and-the-cobbler-1993-0112389.json
  data/titles/the-vagabond-king-1956-0049909.json
  data/titles/three-coins-in-the-fountain-1954-0047580.json
  data/titles/x-15-1961-0055627.json
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_writer.py
  watchlist/performers/boris-karloff.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/frank-sinatra.json
  watchlist/performers/humphrey-bogart.json
  watchlist/performers/james-coburn.json
  watchlist/performers/james-stewart.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/robert-mitchum.json
  watchlist/performers/sean-connery.json
  watchlist/performers/vincent-price.json
Due: black, flake8, mypy, pytest

update data
  viewings/2009-03-11-01-willie-dynamite-1973.md
  viewings/2025-12-18-01-kill-bill-the-whole-bloody-affair-2004.md
Due: none

update data (#2539)
  viewings/2009-03-11-01-willie-dynamite-1973.md
  viewings/2025-12-18-01-kill-bill-the-whole-bloody-affair-2004.md
Due: none

Review Robot Jox (1989)
  reviews/robot-jox-1989.md
Due: vale

Review Robot Jox (1989) (#2540)
  reviews/robot-jox-1989.md
Due: vale

Review The Bloodstained Shadow (1978)
  data/ratings.json
  data/titles/the-bloodstained-shadow-1978-0078288.json
  reviews/robot-jox-1989.md
  reviews/the-bloodstained-shadow-1978.md
  viewings/2026-04-17-01-the-bloodstained-shadow-1978.md
Due: vale

Review The Bloodstained Shadow (1978) (#2541)
  data/ratings.json
  data/titles/the-bloodstained-shadow-1978-0078288.json
  reviews/robot-jox-1989.md
  reviews/the-bloodstained-shadow-1978.md
  viewings/2026-04-17-01-the-bloodstained-shadow-1978.md
Due: vale

Review The Brotherhood of Satan (1971)
  data/ratings.json
  data/titles/the-brotherhood-of-satan-1971-0066863.json
  reviews/the-brotherhood-of-satan-1971.md
  viewings/2026-04-18-01-the-brotherhood-of-satan-1971.md
  watchlist/directors/robert-altman.json
Due: vale

Review The Brotherhood of Satan (1971) (#2545)
  data/ratings.json
  data/titles/the-brotherhood-of-satan-1971-0066863.json
  reviews/the-brotherhood-of-satan-1971.md
  viewings/2026-04-18-01-the-brotherhood-of-satan-1971.md
  watchlist/directors/robert-altman.json
Due: vale

Add Cinema Speculation collection and title data
  collections/cinema-speculation.json
  data/titles/daisy-miller-1974-0071385.json
  data/titles/hardcore-1979-0079271.json
  data/titles/paradise-alley-1978-0078056.json
  data/titles/rolling-thunder-1977-0076637.json
  data/titles/taxi-driver-1976-0075314.json
Due: none

Add Cinema Speculation collection and title data (#2547)
  collections/cinema-speculation.json
  data/titles/daisy-miller-1974-0071385.json
  data/titles/hardcore-1979-0079271.json
  data/titles/paradise-alley-1978-0078056.json
  data/titles/rolling-thunder-1977-0076637.json
  data/titles/taxi-driver-1976-0075314.json
Due: none

Review Marriage on the Rocks (1965)
  pyproject.toml
  reviews/marriage-on-the-rocks-1965.md
  viewings/2026-04-19-01-marriage-on-the-rocks-1965.md
Due: vale

Review Marriage on the Rocks (1965) (#2548)
  pyproject.toml
  reviews/marriage-on-the-rocks-1965.md
  viewings/2026-04-19-01-marriage-on-the-rocks-1965.md
Due: vale

Review Barbary Coast (1935)
  data/ratings.json
  reviews/barbary-coast-1935.md
  viewings/2026-04-20-01-barbary-coast-1935.md
Due: vale

Review Barbary Coast (1935) (#2553)
  data/ratings.json
  reviews/barbary-coast-1935.md
  viewings/2026-04-20-01-barbary-coast-1935.md
Due: vale

Revise review of Barbary Coast (1935)
  reviews/barbary-coast-1935.md
Due: vale

Revise review of Barbary Coast (1935) (#2555)
  reviews/barbary-coast-1935.md
Due: vale

Revise Barbary Coast review with footnotes and fix "Tod Browning" typo
  reviews/barbary-coast-1935.md
  reviews/count-yorga-vampire-1970.md
Due: vale

Revise Barbary Coast review with footnotes and fix "Tod Browning" typo (#2557)
  reviews/barbary-coast-1935.md
  reviews/count-yorga-vampire-1970.md
Due: vale

Remove Suddenly in Color (1954) from Frank Sinatra watchlist and exclude as colorized duplicate
  data/titles/suddenly-in-color-1954-35667905.json
  watchlist/performers/frank-sinatra.json
Due: none

Review Ball of Fire (1941)
  data/ratings.json
  reviews/ball-of-fire-1941.md
  viewings/2026-04-21-01-ball-of-fire-1941.md
Due: vale

draft (#2558)
  data/ratings.json
  data/titles/suddenly-in-color-1954-35667905.json
  reviews/ball-of-fire-1941.md
  viewings/2026-04-21-01-ball-of-fire-1941.md
  watchlist/performers/frank-sinatra.json
Due: vale

Log viewing and review of Hard Boiled (1992) with updated IMDb ratings
  data/ratings.json
  data/titles/hard-boiled-1992-0104684.json
  reviews/hard-boiled-1992.md
  viewings/2026-04-23-01-hard-boiled-1992.md
Due: vale

Log viewing and review of Hard Boiled (1992) with updated IMDb ratings (#2566)
  data/ratings.json
  data/titles/hard-boiled-1992-0104684.json
  reviews/hard-boiled-1992.md
  viewings/2026-04-23-01-hard-boiled-1992.md
Due: vale

Log viewing and review of The Cat (1991) with minor fixes
  .vscode/settings.json
  data/ratings.json
  data/titles/the-cat-1991-0105796.json
  movielog/repository/title_data_updater.py
  reviews/hard-boiled-1992.md
  reviews/the-cat-1991.md
  viewings/2026-04-23-02-the-cat-1991.md
Due: black, flake8, mypy, pytest, vale

Log viewing and review of The Cat (1991) with minor fixes (#2567)
  .vscode/settings.json
  data/ratings.json
  data/titles/the-cat-1991-0105796.json
  movielog/repository/title_data_updater.py
  reviews/hard-boiled-1992.md
  reviews/the-cat-1991.md
  viewings/2026-04-23-02-the-cat-1991.md
Due: black, flake8, mypy, pytest, vale

Log viewing and review of The Risk (1960) with minor fix to The Rite review
  data/ratings.json
  reviews/the-risk-1960.md
  reviews/the-rite-1969.md
  viewings/2026-04-25-01-the-risk-1960.md
Due: vale

Log viewing and review of The Risk (1960) with minor fix to The Rite review (#2572)
  data/ratings.json
  reviews/the-risk-1960.md
  reviews/the-rite-1969.md
  viewings/2026-04-25-01-the-risk-1960.md
Due: vale

Log viewing and review of Mystics in Bali (1981)
  data/ratings.json
  data/titles/mystics-in-bali-1981-0097942.json
  reviews/mystics-in-bali-1981.md
  viewings/2026-04-29-01-mystics-in-bali-1981.md
Due: vale

Log viewing and review of Mystics in Bali (1981) (#2573)
  data/ratings.json
  data/titles/mystics-in-bali-1981-0097942.json
  reviews/mystics-in-bali-1981.md
  viewings/2026-04-29-01-mystics-in-bali-1981.md
Due: vale

Log viewing and review of Ladies Should Listen (1934)
  data/ratings.json
  reviews/ladies-should-listen-1934.md
  viewings/2026-04-30-01-ladies-should-listen-1934.md
Due: vale

Log viewing and review of Ladies Should Listen (1934) (#2575)
  data/ratings.json
  reviews/ladies-should-listen-1934.md
  viewings/2026-04-30-01-ladies-should-listen-1934.md
Due: vale

Log viewing and review of Pump Up the Volume (1990)
  data/ratings.json
  data/titles/pump-up-the-volume-1990-0100436.json
  reviews/ladies-should-listen-1934.md
  reviews/pump-up-the-volume-1990.md
  viewings/2026-05-01-01-pump-up-the-volume-1990.md
Due: vale

Log viewing and review of Pump Up the Volume (1990) (#2576)
  data/ratings.json
  data/titles/pump-up-the-volume-1990-0100436.json
  reviews/ladies-should-listen-1934.md
  reviews/pump-up-the-volume-1990.md
  viewings/2026-05-01-01-pump-up-the-volume-1990.md
Due: vale

edit
  reviews/pump-up-the-volume-1990.md
Due: vale

edit (#2577)
  reviews/pump-up-the-volume-1990.md
Due: vale

Log viewing and review of The Devil Commands (1941)
  reviews/the-devil-commands-1941.md
  viewings/2026-05-02-01-the-devil-commands-1941.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
