Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1339-force-of-arms-1951.md
Due: vale

update review
  reviews/1339-force-of-arms-1951.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1340-rachel-and-the-stranger-1948.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews-old/rachel-and-the-stranger-1948.md
  reviews/1341-invisible-stripes-1939.md
Due: vale

update review / config
  reviews/1341-invisible-stripes-1939.md
  setup.cfg
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1342-the-corn-is-green-1945.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/thor-love-and-thunder-2022.json
  reviews/1343-thor-love-and-thunder-2022.md
Due: vale

add review
  reviews/1344-king-of-the-underworld-1939.md
Due: vale

add/update reviews
  .github/styles/Vocab/default/accept.txt
  reviews/1315-saw-iv-2007.md
  reviews/1344-king-of-the-underworld-1939.md
  reviews/1345-fury-1936.md
  reviews/1346-saw-vi-2009.md
Due: vale

fix data
  movielog/reviews/exports/most_watched_people.py
  watchlist/performers/humphrey-bogart.json
Due: black, flake8, mypy, pytest

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1347-the-big-shot-1942.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1348-the-fortune-cookie-1966.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1349-high-sierra-1941.md
Due: vale

add/update reviews
  .github/styles/Vocab/default/accept.txt
  reviews/1349-high-sierra-1941.md
  reviews/1350-dead-reckoning-1947.md
Due: vale

add review
  reviews/1351-holiday-affair-1949.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  data/x-2022.json
  reviews/1351-holiday-affair-1949.md
  reviews/1352-x-2022.md
Due: vale

update review
  reviews/1352-x-2022.md
Due: vale

add review
  data/new-york-ninja-2021.json
  reviews/1353-new-york-ninja-2021.md
Due: vale

fix stubs
  movielog/stubs/slugify.pyi
  requirements.txt
Due: pytest

update actions
  .github/dependabot.yml
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1354-the-great-ziegfeld-1936.md
Due: vale

update review
  reviews/1354-the-great-ziegfeld-1936.md
Due: vale

add review
  .github/styles/Vocab/default/accept.txt
  reviews/1355-reunion-in-france-1942.md
Due: vale

add reviews
  .github/styles/Vocab/default/accept.txt
  data/whistler-1944.json
  reviews/1355-reunion-in-france-1942.md
  reviews/1356-the-whistler-1944.md
  reviews/1357-pot-o-gold-1941.md
  watchlist/performers/bette-davis.json
Due: vale

add reviews
  .github/styles/Vocab/default/accept.txt
  reviews/1358-suzy-1936.md
  reviews/1359-the-blue-gardenia-1953.md
Due: vale

start refactor
  .pre-commit-config.yaml
  movielog/refactor.py
Due: black, flake8, mypy, pytest

remove transition file
  movielog/refactor.py
Due: black, flake8, mypy, pytest

add review
  reviews/men-are-such-fools-1938.md
  viewings/1362-men-are-such-fools-1938.json
Due: vale

add viewings and review
  .github/styles/Vocab/default/accept.txt
  data/come-drink-with-me-1966.json
  data/splinter-2008.json
  reviews/three-on-a-match-1932.md
  viewings/1366-splinter-2008.json
  viewings/1367-come-drink-with-me-1966.json
  viewings/1368-three-on-a-match-1932.json
Due: vale

add viewings
  data/blacula-1972.json
  data/chopping-mall-1986.json
  data/cry-havoc-1943.json
  data/eden-lake-2008.json
  data/hidden-1987.json
  data/hit-man-1972.json
  data/keep-1983.json
  data/near-dark-1987.json
  data/velvet-vampire-1971.json
  data/zombie-holocaust-1980.json
  viewings/1404-barbarian-2022.json
  viewings/1405-trick-r-treat-2007.json
  viewings/1406-sheba-baby-1975.json
  viewings/1407-uncertain-glory-1944.json
  viewings/1408-black-mama-white-mama-1973.json
  viewings/1409-alice-sweet-alice-1976.json
  viewings/1410-vigil-in-the-night-1940.json
  viewings/1411-friday-foster-1975.json
  viewings/1412-halloween-iii-season-of-the-witch-1982.json
Due: none

add viewing data
  data/alice-sweet-alice-1976.json
  data/barbarian-2022.json
  data/black-mama-white-mama-1973.json
  data/friday-foster-1975.json
  data/sheba-baby-1975.json
  data/trick-r-treat-2007.json
Due: none

add viewings
  reviews-old/three-on-a-match-1932.md
  reviews/mandy-2018.md
  viewings/1369-china-clipper-1936.json
  viewings/1370-swing-your-lady-1938.json
  viewings/1371-two-against-the-world-1936.json
  viewings/1372-they-drive-by-night-1940.json
  viewings/1373-conflict-1945.json
  viewings/1374-convicts-4-1962.json
  viewings/1375-the-oklahoma-kid-1939.json
  viewings/1376-it-all-came-true-1940.json
  viewings/1377-now-voyager-1942.json
  viewings/1378-the-roaring-twenties-1939.json
  viewings/1379-racket-busters-1938.json
  viewings/1380-crime-school-1938.json
  viewings/1381-eden-lake-2008.json
  viewings/1382-chopping-mall-1986.json
  viewings/1383-zombie-holocaust-1980.json
  viewings/1384-mandy-2018.json
  viewings/1385-the-long-night-1947.json
  viewings/1386-the-bride-came-c-o-d-1941.json
  viewings/1387-raintree-county-1957.json
  viewings/1388-oleanna-1994.json
  viewings/1389-the-big-steal-1949.json
  viewings/1390-its-love-im-after-1937.json
  viewings/1391-the-mortal-storm-1940.json
  viewings/1392-cry-havoc-1943.json
  viewings/1393-hit-man-1972.json
  viewings/1394-miracles-for-sale-1939.json
  viewings/1395-blacula-1972.json
  viewings/1396-the-keep-1983.json
  viewings/1397-the-hidden-1987.json
  viewings/1398-kind-lady-1951.json
  viewings/1399-bikini-beach-1964.json
  viewings/1400-the-velvet-vampire-1971.json
  viewings/1401-desperate-journey-1942.json
  viewings/1402-dr-goldfoot-and-the-bikini-machine-1965.json
  viewings/1403-near-dark-1987.json
Due: vale

add viewings
  movielog/moviedata/core/titles_dataset.py
  reviews/die-hard-1988.md
  reviews/rare-exports-2010.md
  reviews/silent-night-deadly-night-part-2-1987.md
  viewings/1413-the-seventh-victim-1943.json
  viewings/1414-on-our-merry-way-1948.json
  viewings/1415-jeopardy-1953.json
  viewings/1416-the-lawless-frontier-1934.json
  viewings/1417-the-chocolate-war-1988.json
  viewings/1418-the-working-man-1933.json
  viewings/1419-speak-no-evil-2022.json
  viewings/1420-pearl-2022.json
  viewings/1421-dont-open-till-christmas-1984.json
  viewings/1422-silent-night-deadly-night-part-2-1987.json
  viewings/1423-jack-frost-2-revenge-of-the-mutant-killer-snowman-2000.json
  viewings/1424-the-leech-2022.json
  viewings/1425-rare-exports-2010.json
  viewings/1426-adult-swim-yule-log-2022.json
  viewings/1427-die-hard-1988.json
  viewings/1428-bloody-new-year-1987.json
  viewings/1429-new-years-evil-1980.json
Due: black, flake8, mypy, pytest, vale

add viewing data
  data/adult-swim-yule-log-2022.json
  data/bloody-new-year-1987.json
  data/chocolate-war-1988.json
  data/dont-open-till-christmas-1984.json
  data/jack-frost-2-revenge-of-the-mutant-killer-snowman-2000.json
  data/leech-2022.json
  data/new-years-evil-1980.json
  data/pearl-2022.json
  data/seventh-victim-1943.json
  data/speak-no-evil-2022.json
Due: none

add review
  .github/styles/Vocab/default/accept.txt
  reviews-old/a-walk-among-the-tombstones-2014.md
  reviews/a-walk-among-the-tombstones-2014.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
