Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

Add viewing and update review for Five Star Final (1931)
  reviews/five-star-final-1931.md
  viewings/2026-02-07-01-five-star-final-1931.md
Due: vale

Add viewing and update review for The People Against O'Hara (1951)
  reviews/the-people-against-ohara-1951.md
  viewings/2026-02-08-01-the-people-against-ohara-1951.md
Due: vale

Add viewing and update review for She (1965)
  reviews/she-1965.md
  viewings/2026-02-08-02-she-1965.md
Due: vale

Add viewing and review for Daughters of Darkness (1971)
  data/ratings.json
  data/titles/daughters-of-darkness-1971-0067690.json
  reviews/daughters-of-darkness-1971.md
  viewings/2026-02-09-01-daughters-of-darkness-1971.md
Due: vale

Add viewing and review for The Brink's Job (1978)
  data/ratings.json
  reviews/the-brinks-job-1978.md
  viewings/2026-02-10-01-the-brinks-job-1978.md
Due: vale

Add viewing and review for Men from the Gutter (1983)
  collections/shaw-brothers.json
  data/ratings.json
  data/titles/men-from-the-gutter-1983-0085163.json
  reviews/men-from-the-gutter-1983.md
  viewings/2026-02-12-01-men-from-the-gutter-1983.md
Due: vale

refactor: replace TypeVar with PEP 695 generic syntax
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/utils/list_tools.py
Due: black, flake8, mypy, pytest

Add viewing and review for Friday the 13th (2009)
  data/ratings.json
  reviews/friday-the-13th-2009.md
  viewings/2026-02-12-02-friday-the-13th-2009.md
Due: vale

Add viewing and review for Step Lively (1944)
  reviews/step-lively-1944.md
  viewings/2026-02-14-01-step-lively-1944.md
Due: vale

Add viewing and update reviews for Walk Don't Run (1966), Step Lively (1944), and Friday the 13th (2009)
  reviews/friday-the-13th-2009.md
  reviews/step-lively-1944.md
  reviews/walk-dont-run-1966.md
  viewings/2026-02-15-01-walk-dont-run-1966.md
Due: vale

draft (#2483)
  reviews/friday-the-13th-2009.md
  reviews/step-lively-1944.md
  reviews/walk-dont-run-1966.md
  viewings/2026-02-14-01-step-lively-1944.md
  viewings/2026-02-15-01-walk-dont-run-1966.md
Due: vale

Add viewing and review for 4 for Texas (1963)
  reviews/4-for-texas-1963.md
  viewings/2026-02-16-01-4-for-texas-1963.md
Due: vale

Add viewing and review for 4 for Texas (1963) (#2484)
  reviews/4-for-texas-1963.md
  viewings/2026-02-16-01-4-for-texas-1963.md
Due: vale

Add viewing and review for Sahara (1943)
  reviews/sahara-1943.md
  viewings/2026-02-17-01-sahara-1943.md
Due: vale

Add viewing and review for Sahara (1943) (#2485)
  reviews/sahara-1943.md
  viewings/2026-02-17-01-sahara-1943.md
Due: vale

Add viewing and update review for The Kissing Bandit (1948)
  reviews/the-kissing-bandit-1948.md
  viewings/2026-02-18-01-the-kissing-bandit-1948.md
Due: vale

Add viewing and update review for The Kissing Bandit (1948) (#2486)
  reviews/the-kissing-bandit-1948.md
  viewings/2026-02-18-01-the-kissing-bandit-1948.md
Due: vale

Log four viewings from Feb 26 and Mar 12 with title data for Deathstalker and Sisu
  data/titles/deathstalker-2025-33996087.json
  data/titles/sisu-2022-14846026.json
  viewings/2026-02-26-01-down-terrace-2009.md
  viewings/2026-02-26-02-deathstalker-2025.md
  viewings/2026-03-12-01-army-of-darkness-1992.md
  viewings/2026-03-12-02-sisu-2022.md
Due: none

Log four viewings from Feb 26 and Mar 12 with title data for Deathstalker and Sisu (#2497)
  data/titles/deathstalker-2025-33996087.json
  data/titles/sisu-2022-14846026.json
  viewings/2026-02-26-01-down-terrace-2009.md
  viewings/2026-02-26-02-deathstalker-2025.md
  viewings/2026-03-12-01-army-of-darkness-1992.md
  viewings/2026-03-12-02-sisu-2022.md
Due: none

refactor(exports): remove unused `index` variable from list comprehension
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

`refactor(exports): privatize internal types, switch review sequences to date strings, and replace nested title objects with slugs`
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/utils.py
Due: black, flake8, mypy, pytest

refactor(exports): slim down export TypedDicts to only include consumed fields
  movielog/exports/cast_and_crew.py
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

refactor(exports): remove unused `_build_grade_distribution` function
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

refactor(exports): inline `JsonWatchlistTitle` as a local TypedDict and drop unused `viewed` field
  movielog/exports/watchlist_titles.py
Due: black, flake8, mypy, pytest

`refactor(exports): replace full title objects with slug lists in overrated, underrated, and underseen exports`
  movielog/exports/overrated.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
Due: black, flake8, mypy, pytest

Draft (#2498)
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/overrated.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/utils.py
  movielog/exports/watchlist_titles.py
Due: black, flake8, mypy, pytest

`refactor(exports): replace viewings export with grouped viewing-log, remove shared json TypedDicts, and fix viewing data errors`
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/exporter.py
  movielog/exports/json_collection.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/json_reviewed_title.py
  movielog/exports/json_title.py
  movielog/exports/json_viewed_title.py
  movielog/exports/json_watchlist_fields.py
  movielog/exports/stats.py
  movielog/exports/viewing_log.py
  movielog/exports/viewings.py
  viewings/2007-08-23-02-brazil-1985.md
  viewings/2011-06-23-02-from-dusk-till-dawn-2-texas-blood-money-1999.md
Due: black, flake8, mypy, pytest

`refactor(exports): replace viewings export with grouped viewing-log, remove shared json TypedDicts, and fix viewing data errors` (#2503)
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/exporter.py
  movielog/exports/json_collection.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/json_reviewed_title.py
  movielog/exports/json_title.py
  movielog/exports/json_viewed_title.py
  movielog/exports/json_watchlist_fields.py
  movielog/exports/stats.py
  movielog/exports/viewing_log.py
  movielog/exports/viewings.py
  viewings/2007-08-23-02-brazil-1985.md
  viewings/2011-06-23-02-from-dusk-till-dawn-2-texas-blood-money-1999.md
Due: black, flake8, mypy, pytest

`fix(reviews): correct release year for Nightmare Honeymoon from 1973 to 1974`
  reviews/nightmare-honeymoon-1974.md
Due: vale

`fix(reviews): correct release year for Nightmare Honeymoon from 1973 to 1974` (#2504)
  reviews/nightmare-honeymoon-1974.md
Due: vale

`refactor(exports): remove utils module and sequence maps, inline review sequence logic`
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/utils.py
Due: black, flake8, mypy, pytest

`refactor(exports): remove utils module and sequence maps, inline review sequence logic` (#2505)
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/utils.py
Due: black, flake8, mypy, pytest

`fix(titles): update slug for Linkeroever (2008) to English title "left-bank-2008"`
  data/titles/linkeroever-2008-0940723.json
Due: none

`fix(titles): rename Linkeroever (2008) data file to English title slug left-bank-2008`
  data/titles/left-bank-2008-0940723.json
Due: none

draft (#2506)
  data/titles/left-bank-2008-0940723.json
Due: none

`fix(titles): revert Linkeroever (2008) slug to original title slug linkeroever-2008`
  data/titles/linkeroever-2008-0940723.json
  reviews/linkeroever-2008.md
Due: vale

`fix(titles): revert Linkeroever (2008) slug to original title slug linkeroever-2008` (#2507)
  data/titles/linkeroever-2008-0940723.json
  reviews/linkeroever-2008.md
Due: vale

`chore: remove prettier and Node.js tooling from project`
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .npmrc
  .nvmrc
  .prettierignore
  .prettierrc.js
  npm_use.sh
  package-lock.json
  package.json
Due: none

`chore: remove prettier references from vscode settings and CLAUDE.md`
  .vscode/settings.json
  CLAUDE.md
Due: none

`refactor(tests): replace pytest-mock and syrupy with stdlib mocking, remove coverage config`
  movielog/utils/path_tools.py
  pyproject.toml
  tests/cli/conftest.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
  tests/cli/test_add_writer.py
  tests/cli/test_imdb.py
  tests/cli/test_main.py
  tests/cli/test_manage_watchlist.py
  tests/cli/test_new_collection.py
  tests/cli/test_radio_list.py
  tests/conftest.py
  tests/repository/datasets/aka_titles_test_data.tsv
  tests/repository/datasets/conftest.py
  tests/repository/datasets/extractor_test_data.tsv
  tests/repository/datasets/movies_test_data.tsv
  tests/repository/datasets/people_test_data.tsv
  tests/repository/datasets/principals_test_data.tsv
  tests/repository/datasets/ratings_test_data.tsv
  tests/repository/datasets/test_downloader.py
  tests/repository/datasets/test_extractor.py
  tests/utils/__init__.py
  tests/utils/test_logging.py
  uv.lock
Due: black, flake8, mypy, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
