Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

fix: correct spelling and grammar errors in review files
  reviews/20000-leagues-under-the-sea-1954.md
  reviews/21-2008.md
  reviews/a-bridge-too-far-1977.md
  reviews/a-nightmare-on-elm-street-2-freddys-revenge-1985.md
  reviews/ada-1961.md
  reviews/adventureland-2009.md
  reviews/after-the-thin-man-1936.md
  reviews/anchors-aweigh-1945.md
  reviews/angel-baby-1961.md
Due: vale

fix: correct spelling and grammar in 7 review files
  reviews/bubba-ho-tep-2002.md
  reviews/cast-a-giant-shadow-1966.md
  reviews/clue-1985.md
  reviews/in-old-oklahoma-1943.md
  reviews/reckless-1935.md
  reviews/so-big-1932.md
  reviews/the-desert-trail-1935.md
Due: vale

fix: correct spelling and grammar issues in reviews
  reviews/a-lizard-in-a-womans-skin-1971.md
  reviews/a-nightmare-on-elm-street-2-freddys-revenge-1985.md
  reviews/bennys-video-1992.md
  reviews/code-unknown-2000.md
  reviews/diabolique-1955.md
  reviews/doctor-x-1932.md
  reviews/easy-rider-1969.md
  reviews/the-seventh-seal-1957.md
Due: vale

fix: correct spelling and grammar errors in reviews
  reviews/casino-royale-1967.md
  reviews/life-with-father-1947.md
  reviews/shock-waves-1977.md
  reviews/sweet-smell-of-success-1957.md
  reviews/the-last-of-sheila-1973.md
  reviews/the-oklahoma-kid-1939.md
  reviews/the-return-of-the-living-dead-1985.md
  reviews/the-tingler-1959.md
  reviews/three-on-a-match-1932.md
  reviews/tucker-and-dale-vs-evil-2010.md
  reviews/you-cant-get-away-with-murder-1939.md
Due: vale

fix: correct spelling and grammar errors in movie reviews
  reviews/eastern-promises-2007.md
  reviews/eggshells-1969.md
  reviews/elf-2003.md
  reviews/fashions-of-1934-1934.md
  reviews/finding-nemo-2003.md
  reviews/kill-bill-vol-1-2003.md
  reviews/rear-window-1954.md
  reviews/vertigo-1958.md
Due: vale

fix: correct spelling and grammar errors in 12 reviews
  reviews/another-wolfcop-2017.md
  reviews/april-fools-day-1986.md
  reviews/batman-mask-of-the-phantasm-1993.md
  reviews/beyond-the-valley-of-the-dolls-1970.md
  reviews/dirty-dancing-1987.md
  reviews/labyrinth-1986.md
  reviews/lawrence-of-arabia-1962.md
  reviews/leatherheads-2008.md
  reviews/leprechaun-4-in-space-1996.md
  reviews/let-the-right-one-in-2008.md
  reviews/saint-maud-2019.md
  reviews/the-adventures-of-robin-hood-1938.md
Due: vale

fix: correct spelling and grammar issues in reviews
  reviews/arrebato-1979.md
  reviews/big-jim-mclain-1952.md
  reviews/bride-of-chucky-1998.md
Due: vale

Fix spelling and grammar issues in review files
  reviews/austin-powers-international-man-of-mystery-1997.md
  reviews/cool-hand-luke-1967.md
  reviews/eye-of-the-devil-1966.md
  reviews/ice-station-zebra-1968.md
  reviews/mallrats-1995.md
  reviews/master-of-the-flying-guillotine-1976.md
  reviews/mr-majestyk-1974.md
  reviews/never-so-few-1959.md
  reviews/novocaine-2001.md
  reviews/rivers-edge-1986.md
  reviews/tales-of-terror-1962.md
  reviews/the-big-sleep-1978.md
  reviews/to-the-devil-a-daughter-1976.md
  reviews/top-secret-1984.md
  reviews/trouble-along-the-way-1953.md
  reviews/van-helsing-2004.md
  reviews/village-of-the-damned-1960.md
Due: vale

Fix additional grammar and punctuation errors in reviews
  reviews/all-about-eve-1950.md
  reviews/childs-play-1988.md
  reviews/its-a-wonderful-life-1946.md
  reviews/jersey-girl-2004.md
  reviews/night-of-the-demons-1988.md
  reviews/so-long-at-the-fair-1950.md
  reviews/the-great-escape-1963.md
  reviews/the-misfits-1961.md
Due: vale

fix: correct spelling and grammar issues in review files
  reviews/a-ship-to-india-1947.md
  reviews/assault-on-a-queen-1966.md
  reviews/behind-the-make-up-1930.md
  reviews/china-clipper-1936.md
  reviews/dance-fools-dance-1931.md
  reviews/dirty-dingus-magee-1970.md
  reviews/dracula-1931-spanish.md
  reviews/draculas-daughter-1936.md
  reviews/dragonwyck-1946.md
  reviews/friday-the-13th-part-vi-jason-lives-1986.md
  reviews/gone-with-the-pope-2010.md
  reviews/halloween-2007.md
  reviews/halloween-ends-2022.md
  reviews/invisible-stripes-1939.md
  reviews/maker-of-men-1931.md
  reviews/mausoleum-1983.md
  reviews/men-without-women-1930.md
  reviews/our-town-1940.md
  reviews/piercing-2018.md
  reviews/pilgrimage-1933.md
  reviews/rabid-1977.md
  reviews/renegades-1930.md
  reviews/saw-3d-2010.md
  reviews/scalpel-1977.md
  reviews/steamboat-round-the-bend-1935.md
  reviews/tales-of-terror-1962.md
  reviews/talladega-nights-the-ballad-of-ricky-bobby-2006.md
  reviews/terminator-3-rise-of-the-machines-2003.md
  reviews/the-masque-of-the-red-death-1964.md
  reviews/the-terror-of-the-tongs-1961.md
  reviews/the-tomb-of-ligeia-1964.md
  reviews/torture-garden-1967.md
  reviews/two-evil-eyes-1990.md
  reviews/under-capricorn-1949.md
  reviews/union-station-1950.md
Due: vale

fix: correct spelling and grammar errors in three review files
  reviews/hoffa-1992.md
  reviews/the-amazing-dr-clitterhouse-1938.md
  reviews/the-red-badge-of-courage-1951.md
Due: vale

Fix typos in movie reviews
  reviews/casino-royale-2006.md
  reviews/deathtrap-1982.md
Due: vale

fix: correct spelling and grammar errors in 11 review files
  reviews/arsenic-and-old-lace-1944.md
  reviews/beyond-the-black-rainbow-2010.md
  reviews/cocoon-1985.md
  reviews/cube-1997.md
  reviews/dakota-1945.md
  reviews/draculas-daughter-1936.md
  reviews/miranda-2002.md
  reviews/mousehunt-1997.md
  reviews/the-innocents-1961.md
  reviews/the-man-who-shot-liberty-valance-1962.md
  reviews/what-ever-happened-to-baby-jane-1962.md
Due: vale

fix: correct spelling of 'led' in 21-2008.md review
  reviews/21-2008.md
Due: vale

fix: correct spelling and grammar errors in reviews
  reviews/as-good-as-it-gets-1997.md
  reviews/blazing-saddles-1974.md
  reviews/from-beyond-1986.md
  reviews/sabotage-1936.md
  reviews/village-of-the-damned-1960.md
Due: vale

fix: correct spelling and grammar issues in review files
  reviews/erotic-ghost-story-1990.md
  reviews/harold-and-maude-1971.md
  reviews/miranda-2002.md
  reviews/queen-of-blood-1966.md
  reviews/sugar-hill-1974.md
  reviews/the-bribe-1949.md
  reviews/transporter-3-2008.md
  reviews/vampires-los-muertos-2002.md
  reviews/walk-dont-run-1966.md
Due: vale

fix: correct spelling and grammar errors in review files
  reviews/dog-day-afternoon-1975.md
  reviews/sweet-smell-of-success-1957.md
  reviews/the-carey-treatment-1972.md
  reviews/thunderball-1965.md
  reviews/to-have-and-have-not-1944.md
Due: vale

fix: correct grammar in Trouble Every Day review
  reviews/trouble-every-day-2001.md
Due: vale

Revert grammar fix in quoted text
  reviews/a-nightmare-on-elm-street-2-freddys-revenge-1985.md
Due: vale

Fix spelling and grammar errors in movie reviews
  reviews/a-nightmare-on-elm-street-2-freddys-revenge-1985.md
  reviews/ada-1961.md
  reviews/close-encounters-of-the-third-kind-1977.md
  reviews/deadline-u-s-a-1952.md
  reviews/draculas-daughter-1936.md
  reviews/four-men-and-a-prayer-1938.md
  reviews/hellboy-2004.md
  reviews/ice-station-zebra-1968.md
  reviews/locke-2013.md
  reviews/once-2006.md
  reviews/sergeant-york-1941.md
  reviews/the-howards-of-virginia-1940.md
  reviews/the-undefeated-1969.md
  reviews/two-rode-together-1961.md
  reviews/wee-willie-winkie-1937.md
Due: vale

Revert verb tense change in Howards of Virginia summary
  reviews/the-howards-of-virginia-1940.md
Due: vale

fix: correct spelling and grammar issues in reviews
  reviews/21-2008.md
  reviews/arsenic-and-old-lace-1944.md
  reviews/bones-and-all-2022.md
  reviews/deathtrap-1982.md
  reviews/doctor-strange-in-the-multiverse-of-madness-2022.md
  reviews/eggshells-1969.md
  reviews/fast-company-1979.md
  reviews/his-kind-of-woman-1951.md
  reviews/intolerable-cruelty-2003.md
  reviews/punisher-war-zone-2008.md
  reviews/the-castle-of-the-living-dead-1964.md
Due: vale

fix: correct grammar and spelling issues in movie reviews
  reviews/alvarez-kelly-1966.md
  reviews/bringing-up-baby-1938.md
  reviews/in-old-oklahoma-1943.md
  reviews/island-of-death-1976.md
  reviews/laura-1944.md
  reviews/now-voyager-1942.md
  reviews/people-will-talk-1951.md
  reviews/the-bank-job-2008.md
  reviews/the-caine-mutiny-1954.md
  reviews/the-edge-1997.md
  reviews/the-international-2009.md
  reviews/the-man-with-the-golden-arm-1955.md
  reviews/the-thin-red-line-1998.md
  reviews/the-war-lover-1962.md
  reviews/the-world-moves-on-1934.md
  reviews/thirty-seconds-over-tokyo-1944.md
  reviews/twentieth-century-1934.md
Due: vale

fix: correct spelling and grammar errors in reviews
  reviews/blood-for-dracula-1974.md
  reviews/lost-highway-1997.md
  reviews/the-pride-and-the-passion-1957.md
  reviews/to-the-devil-a-daughter-1976.md
Due: vale

fix: correct typos in movie reviews
  reviews/raging-bull-1980.md
  reviews/some-like-it-hot-1959.md
Due: vale

fix: correct spelling and grammar issues in reviews
  reviews/a-study-in-terror-1965.md
  reviews/mister-roberts-1955.md
  reviews/oceans-eleven-1960.md
  reviews/sergeant-rutledge-1960.md
  reviews/the-greasy-strangler-2016.md
Due: vale

fix: correct then/than grammar error in Stalag 17 review
  reviews/stalag-17-1953.md
Due: vale

fix: Add missing article in A View to a Kill review
  reviews/a-view-to-a-kill-1985.md
Due: vale

fix: correct grammar in cast-a-dark-shadow-1955 review
  reviews/cast-a-dark-shadow-1955.md
Due: vale

fix: correct spelling and grammar errors in movie reviews
  reviews/fight-club-1999.md
  reviews/freaks-1932.md
  reviews/psycho-1960.md
  reviews/the-thing-1982.md
  reviews/vertigo-1958.md
Due: vale

fix: correct spelling and grammar errors in viewing files
  viewings/2012-04-27-01-the-big-sleep-1946.md
  viewings/2021-09-20-01-good-times-1967.md
  viewings/2022-05-29-01-event-horizon-1997.md
  viewings/2022-06-13-01-good-times-1967.md
  viewings/2025-01-11-02-the-return-of-the-musketeers-1989.md
  viewings/2025-02-13-02-thursday-1998.md
  viewings/2025-03-22-04-fright-night-1985.md
  viewings/2025-07-04-01-scream-and-scream-again-1970.md
  viewings/2025-07-07-01-the-return-of-the-musketeers-1989.md
Due: none

fix: correct spelling and grammar errors in viewing files
  viewings/2021-11-25-01-blood-rage-1987.md
  viewings/2024-11-07-02-chinatown-1974.md
  viewings/2025-01-27-01-deadly-blessing-1981.md
  viewings/2025-02-22-01-asylum-1972.md
  viewings/2025-03-22-01-casablanca-1942.md
  viewings/2025-06-12-01-ebola-syndrome-1996.md
  viewings/2025-07-07-01-the-return-of-the-musketeers-1989.md
  viewings/2025-07-14-01-the-french-connection-1971.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

format
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: convert sequence fields from strings to integers
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/json_reviewed_title.py
  movielog/exports/json_title.py
  movielog/exports/overrated.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/utils.py
  movielog/exports/viewings.py
  movielog/exports/watchlist_titles.py
Due: black, flake8, mypy, pytest

remove titleSequence
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_title.py
  movielog/exports/overrated.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/viewings.py
  movielog/exports/watchlist_titles.py
Due: black, flake8, mypy, pytest

add viewings
  data/titles/ebony-and-ivory-2024-33131034.json
  data/titles/piranha-3d-2010-0464154.json
  data/titles/weapons-2025-26581740.json
  reviews/the-mask-of-fu-manchu-1932.md
  viewings/2025-07-27-01-the-mask-of-fu-manchu-1932.md
  viewings/2025-07-31-01-murder-on-the-orient-express-1974.md
  viewings/2025-07-31-02-justice-league-crisis-on-infinite-earths-part-two-2024.md
  viewings/2025-08-08-01-ebony-and-ivory-2024.md
  viewings/2025-08-26-01-piranha-3d-2010.md
  viewings/2025-08-26-02-weapons-2025.md
Due: vale

typo
  viewings/2008-10-30-02-night-of-the-living-dead-1968.md
Due: none
