Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

update review
  reviews/leprechaun-2-1994.md
Due: vale

add review
  .github/styles/config/vocabularies/default/accept.txt
  data/titles/leprechaun-2-1994-0110329.json
  reviews/leprechaun-2-1994.md
  viewings/1559-leprechaun-2-1994.json
Due: vale

add viewings
  data/titles/suitable-flesh-2023-21397580.json
  data/titles/talk-to-me-2022-10638522.json
  data/titles/the-outfit-1973-0071960.json
  viewings/1560-the-outfit-1973.json
  viewings/1561-talk-to-me-2022.json
  viewings/1562-suitable-flesh-2023.json
Due: none

add viewing
  data/titles/its-alive-1974-0071675.json
  viewings/1563-its-alive-1974.json
Due: none

add legacy review
  reviews/sherlock-holmes-a-game-of-shadows-2011.md
Due: vale

update review
  reviews/the-other-guys-2010.md
Due: vale

add legacy review
  .github/styles/config/vocabularies/default/accept.txt
  reviews/safe-house-2012.md
Due: vale

add legacy review
  reviews/the-wrong-box-1966.md
Due: vale

add legacy review
  .github/styles/config/vocabularies/default/accept.txt
  reviews/pulp-1972.md
Due: vale

add review
  .github/styles/config/vocabularies/default/accept.txt
  reviews/leprechaun-4-in-space-1996.md
  viewings/1564-leprechaun-4-in-space-1996.json
Due: vale

wip
  data/titles/leprechaun-4-in-space-1996-0116861.json
  reviews/leprechaun-4-in-space-1996.md
  viewings/1564-leprechaun-4-in-space-1996.json
Due: vale

add viewings
  data/titles/justice-league-crisis-on-infinite-earths-part-one-2024-29195117.json
  data/titles/pieces-1982-0082748.json
  data/titles/southern-comfort-1981-0083111.json
  data/titles/the-demons-baby-1998-0327628.json
  reviews/the-demons-baby-1998.md
  viewings/1565-conan-the-barbarian-1982.json
  viewings/1566-justice-league-crisis-on-infinite-earths-part-one-2024.json
  viewings/1567-pieces-1982.json
  viewings/1568-the-demons-baby-1998.json
  viewings/1569-southern-comfort-1981.json
  viewings/1570-the-last-dragon-1985.json
Due: vale

update
  reviews/the-demons-baby-1998.md
Due: vale

vale
  .github/styles/config/vocabularies/default/accept.txt
Due: none

updates
  reviews/leprechaun-4-in-space-1996.md
  reviews/the-demons-baby-1998.md
  watchlist/directors/william-friedkin.json
Due: vale

remove data
  data/titles/the-pickle-brothers-1967-7274390.json
Due: none

update review
  reviews/the-entity-1982.md
Due: vale

update review
  .github/styles/config/vocabularies/default/accept.txt
  reviews/the-entity-1982.md
  viewings/1571-the-entity-1982.json
Due: vale

update review
  reviews/bones-and-all-2022.md
Due: vale

fix violations
  movielog/cli/add_viewing.py
  movielog/cli/person_searcher.py
  movielog/cli/title_searcher.py
  movielog/exports/repository_data.py
  movielog/exports/stats.py
  movielog/repository/api.py
  movielog/repository/imdb_http.py
  movielog/repository/markdown_reviews.py
  movielog/utils/logging.py
Due: black, flake8, mypy, pytest

add reviews
  reviews/leprechaun-6-back-2-tha-hood-2003.md
  reviews/lords-of-chaos-2018.md
Due: vale

wip
  data/titles/.progress
  data/titles/business-is-business-1971-0067963.json
  data/titles/duel-for-gold-1971-0067024.json
  data/titles/late-night-with-the-devil-2023-14966898.json
  data/titles/leprechaun-6-back-2-tha-hood-2003-0339294.json
  data/titles/magic-fire-1956-0049461.json
  data/titles/masked-avengers-1981-0082153.json
  data/titles/riki-oh-the-story-of-ricky-1991-0102293.json
  data/titles/satans-blood-1978-0075999.json
  data/titles/the-shaolin-temple-1982-0079891.json
  reviews/frankenhooker-1990.md
  reviews/leprechaun-6-back-2-tha-hood-2003.md
  reviews/lords-of-chaos-2018.md
  reviews/the-entity-1982.md
  viewings/1572-leprechaun-6-back-2-tha-hood-2003.json
  viewings/1573-satans-blood-1978.json
  viewings/1574-lords-of-chaos-2018.json
  viewings/1575-frankenhooker-1990.json
  viewings/1576-stagecoach-1939.json
  viewings/1577-the-man-who-shot-liberty-valance-1962.json
  viewings/1578-late-night-with-the-devil-2023.json
  viewings/1579-magnolia-1999.json
Due: vale

update review
  reviews/leprechaun-6-back-2-tha-hood-2003.md
Due: vale

add viewing
  viewings/1580-the-devils-1971.json
Due: none

remove bogus progress
  data/titles/.progress
Due: none

fix req spec
  requirements.txt
Due: none

update watchlist
  movielog/repository/watchlist_serializer.py
  watchlist/directors/abel-ferrara.json
  watchlist/directors/martin-scorsese.json
  watchlist/directors/orson-welles.json
  watchlist/directors/paul-thomas-anderson.json
  watchlist/directors/ridley-scott.json
  watchlist/directors/roman-polanski.json
  watchlist/directors/tony-scott.json
  watchlist/directors/william-friedkin.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/frank-sinatra.json
  watchlist/performers/lee-marvin.json
  watchlist/writers/anthony-shaffer.json
  watchlist/writers/david-mamet.json
  watchlist/writers/neil-labute.json
  watchlist/writers/stephen-king.json
Due: black, flake8, mypy, pytest

update data
  data/titles/casanova-1987-0092730.json
  data/titles/texan-1994-0111404.json
  data/titles/the-shape-of-things-2023-31631773.json
  watchlist/writers/stephen-king.json
Due: none

add cast and crew
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/repository_data.py
  movielog/repository/api.py
Due: black, flake8, mypy, pytest

update cast and crew
  data/titles/the-challenge-1955-3578542.json
  data/titles/the-worlds-most-beautiful-swindlers-1964-0058480.json
  movielog/exports/cast_and_crew.py
  movielog/exports/stats.py
  watchlist/directors/roman-polanski.json
  watchlist/directors/sidney-lumet.json
Due: black, flake8, mypy, pytest

fixes
  movielog/exports/cast_and_crew.py
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

modify exports and watchlist
  movielog/exports/cast_and_crew.py
  watchlist/directors/orson-welles.json
  watchlist/directors/paul-mazursky.json
Due: black, flake8, mypy, pytest

remove orphan titles
  data/titles/alex-in-wonderland-1970-0065380.json
  data/titles/an-unmarried-woman-1978-0078444.json
  data/titles/black-magic-1949-0041182.json
  data/titles/blume-in-love-1973-0069808.json
  data/titles/bob-and-carol-and-ted-and-alice-1969-0064100.json
  data/titles/chimes-at-midnight-1965-0059012.json
  data/titles/citizen-kane-1941-0033467.json
  data/titles/coast-to-coast-2003-0335008.json
  data/titles/confidential-report-1955-0048393.json
  data/titles/david-and-goliath-1960-0054788.json
  data/titles/don-quixote-1972-7350986.json
  data/titles/down-and-out-in-beverly-hills-1986-0090966.json
  data/titles/enemies-a-love-story-1989-0097276.json
  data/titles/faithful-1996-0116269.json
  data/titles/harry-and-tonto-1974-0071598.json
  data/titles/journey-into-fear-1943-0034922.json
  data/titles/macbeth-1948-0040558.json
  data/titles/moon-over-parador-1988-0095654.json
  data/titles/moscow-on-the-hudson-1984-0087747.json
  data/titles/next-stop-greenwich-village-1976-0074963.json
  data/titles/no-exit-1962-0056282.json
  data/titles/othello-1951-0045251.json
  data/titles/scenes-from-a-mall-1991-0102849.json
  data/titles/tempest-1982-0084776.json
  data/titles/the-deep-1970-0209994.json
  data/titles/the-heroine-1967-7350968.json
  data/titles/the-immortal-story-1968-0063127.json
  data/titles/the-lady-from-shanghai-1947-0040525.json
  data/titles/the-magnificent-ambersons-1942-0035015.json
  data/titles/the-other-side-of-the-wind-2018-0069049.json
  data/titles/the-pickle-1993-0107824.json
  data/titles/the-southern-star-1969-0065025.json
  data/titles/the-stranger-1946-0038991.json
  data/titles/the-trial-1962-0057427.json
  data/titles/three-cases-of-murder-1954-0047579.json
  data/titles/too-much-johnson-1938-0030881.json
  data/titles/touch-of-evil-1958-0052311.json
  data/titles/willie-and-phil-1980-0081758.json
  data/titles/winchell-1998-0149380.json
Due: none

fix cast-and-crew export
  movielog/exports/cast_and_crew.py
Due: black, flake8, mypy, pytest
