Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

Add review and viewing for Spiral (2021) (#2836)
  data/ratings.json
  reviews/spiral-2021.md
  viewings/2026-08-18-01-spiral-2021.md
Due: vale

Fix wording in final paragraph of Spiral (2021) review
  reviews/spiral-2021.md
Due: vale

Fix wording in final paragraph of Spiral (2021) review (#2838)
  reviews/spiral-2021.md
Due: vale

Add review and viewing for One Million Years B.C. (1966)
  data/ratings.json
  reviews/one-million-years-b-c-1966.md
  viewings/2026-08-19-01-one-million-years-b-c-1966.md
Due: vale

Add review and viewing for One Million Years B.C. (1966) (#2842)
  data/ratings.json
  reviews/one-million-years-b-c-1966.md
  viewings/2026-08-19-01-one-million-years-b-c-1966.md
Due: vale

Add review and viewing for Bewitched (1981)
  data/ratings.json
  reviews/bewitched-1981.md
  viewings/2026-08-20-01-bewitched-1981.md
Due: vale

Add IMDb ID spans to title references in Bewitched (1981) review
  reviews/bewitched-1981.md
Due: vale

draft (#2846)
  data/ratings.json
  reviews/bewitched-1981.md
  viewings/2026-08-20-01-bewitched-1981.md
Due: vale

Add review for Texas Chainsaw Massacre: The Next Generation
  data/ratings.json
  data/titles/texas-chainsaw-massacre-the-next-generation-1994-0110978.json
  reviews/texas-chainsaw-massacre-the-next-generation-1994.md
  viewings/2026-08-20-02-texas-chainsaw-massacre-the-next-generation-1994.md
Due: vale

Add review for Texas Chainsaw Massacre: The Next Generation (#2848)
  data/ratings.json
  data/titles/texas-chainsaw-massacre-the-next-generation-1994-0110978.json
  reviews/texas-chainsaw-massacre-the-next-generation-1994.md
  viewings/2026-08-20-02-texas-chainsaw-massacre-the-next-generation-1994.md
Due: vale

Add review for You're Next
  data/ratings.json
  reviews/youre-next-2011.md
  viewings/2026-08-22-01-youre-next-2011.md
Due: vale

Add review for Time Bandits
  data/ratings.json
  data/titles/time-bandits-1981-0081633.json
  reviews/time-bandits-1981.md
  viewings/2026-08-24-01-time-bandits-1981.md
Due: vale

Fix curly apostrophe in You're Next review
  reviews/youre-next-2011.md
Due: vale

Add review for You're Next (#2851)
  data/ratings.json
  data/titles/time-bandits-1981-0081633.json
  reviews/time-bandits-1981.md
  reviews/youre-next-2011.md
  viewings/2026-08-22-01-youre-next-2011.md
  viewings/2026-08-24-01-time-bandits-1981.md
Due: vale

Skip Claude code review for data, reviews, and viewings changes
  .github/workflows/claude-code-review.yml
Due: none

Skip Claude code review for data, reviews, and viewings changes (#2856)
  .github/workflows/claude-code-review.yml
Due: none

Add review for In the Earth
  data/ratings.json
  data/titles/in-the-earth-2021-13429362.json
  reviews/in-the-earth-2021.md
  viewings/2026-08-25-01-in-the-earth-2021.md
Due: vale

Add review for In the Earth (#2859)
  data/ratings.json
  data/titles/in-the-earth-2021-13429362.json
  reviews/in-the-earth-2021.md
  viewings/2026-08-25-01-in-the-earth-2021.md
Due: vale

Remove title data for 50 Million Frenchmen (1931)
  data/titles/50-million-frenchmen-1931-0021859.json
Due: none

Exclude 50 Million Frenchmen (1931) from Bela Lugosi watchlist as a bit part
  watchlist/performers/bela-lugosi.json
Due: none

Exclude 50 Million Frenchmen (1931) from Bela Lugosi watchlist as a bit part (#2860)
  data/titles/50-million-frenchmen-1931-0021859.json
  watchlist/performers/bela-lugosi.json
Due: none

Add Bodies Bodies Bodies (2022) review and viewing
  data/ratings.json
  data/titles/bodies-bodies-bodies-2022-8110652.json
  reviews/bodies-bodies-bodies-2022.md
  viewings/2026-08-27-01-bodies-bodies-bodies-2022.md
Due: vale

Add Bodies Bodies Bodies (2022) review and viewing (#2867)
  data/ratings.json
  data/titles/bodies-bodies-bodies-2022-8110652.json
  reviews/bodies-bodies-bodies-2022.md
  viewings/2026-08-27-01-bodies-bodies-bodies-2022.md
Due: vale

Tweak wording in Bodies Bodies Bodies (2022) review
  reviews/bodies-bodies-bodies-2022.md
Due: vale

Tweak wording in Bodies Bodies Bodies (2022) review (#2868)
  reviews/bodies-bodies-bodies-2022.md
Due: vale

Rewrite Clue (1985) review and add viewing
  reviews/clue-1985.md
  viewings/2026-08-27-02-clue-1985.md
Due: vale

Rewrite Clue (1985) review and add viewing (#2869)
  reviews/clue-1985.md
  viewings/2026-08-27-02-clue-1985.md
Due: vale

Add The Night Porter (1974) review and viewing
  data/ratings.json
  data/titles/the-night-porter-1974-0071910.json
  reviews/the-night-porter-1974.md
  viewings/2026-08-29-01-the-night-porter-1974.md
Due: vale

Add The Night Porter (1974) review and viewing (#2870)
  data/ratings.json
  data/titles/the-night-porter-1974-0071910.json
  reviews/the-night-porter-1974.md
  viewings/2026-08-29-01-the-night-porter-1974.md
Due: vale

Rewrite The Texas Chain Saw Massacre (1974) review and add viewing
  reviews/the-texas-chain-saw-massacre-1974.md
  viewings/2026-08-30-01-the-texas-chain-saw-massacre-1974.md
Due: vale

Rewrite The Texas Chain Saw Massacre (1974) review and add viewing (#2873)
  reviews/the-texas-chain-saw-massacre-1974.md
  viewings/2026-08-30-01-the-texas-chain-saw-massacre-1974.md
Due: vale

Add The Viking Queen (1967) review and viewing
  data/ratings.json
  reviews/the-viking-queen-1967.md
  viewings/2026-09-01-01-the-viking-queen-1967.md
Due: vale

Add The Viking Queen (1967) review and viewing (#2875)
  data/ratings.json
  reviews/the-viking-queen-1967.md
  viewings/2026-09-01-01-the-viking-queen-1967.md
Due: vale

Make AWS WAF token prompting lazy and refreshable on expiry
  movielog/cli/export_data.py
  movielog/cli/person_searcher.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/cli/title_searcher.py
  movielog/cli/update_title_data.py
  movielog/cli/update_watchlist_credits.py
  movielog/cli/validate_data.py
  movielog/exports/api.py
  movielog/repository/api.py
  movielog/repository/imdb_http.py
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_person.py
  movielog/repository/imdb_http_title.py
  movielog/repository/imdb_http_writer.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  movielog/repository/watchlist_credits_updater.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
  tests/cli/test_add_writer.py
Due: black, flake8, mypy, pytest

Extend token refresh-and-retry to GraphQL pagination calls
  movielog/repository/imdb_http.py
  movielog/repository/imdb_http_person.py
Due: black, flake8, mypy, pytest

Remove unused Session alias from imdb_http
  movielog/repository/imdb_http.py
Due: black, flake8, mypy, pytest

Make AWS WAF token prompting lazy and refreshable on expiry (#2878)
  movielog/cli/export_data.py
  movielog/cli/person_searcher.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/cli/title_searcher.py
  movielog/cli/update_title_data.py
  movielog/cli/update_watchlist_credits.py
  movielog/cli/validate_data.py
  movielog/exports/api.py
  movielog/repository/api.py
  movielog/repository/imdb_http.py
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_person.py
  movielog/repository/imdb_http_title.py
  movielog/repository/imdb_http_writer.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  movielog/repository/watchlist_credits_updater.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
  tests/cli/test_add_writer.py
Due: black, flake8, mypy, pytest

Add IMDb title links and copy edits to The Viking Queen (1967) review
  reviews/the-viking-queen-1967.md
Due: vale

Add IMDb title links and copy edits to The Viking Queen (1967) review (#2880)
  reviews/the-viking-queen-1967.md
Due: vale

Share a single IMDb session across CLI commands
  movielog/cli/person_searcher.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/cli/title_searcher.py
  movielog/repository/api.py
  movielog/repository/imdb_http.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  movielog/repository/watchlist_credits_updater.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
  tests/cli/test_add_writer.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
