Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

fix data
  data/titles/eggshells-1969-0404011.json
Due: none

add viewings
  data/titles/deadpool-and-wolverine-2024-6263850.json
  data/titles/die-hard-2-1990-0099423.json
  data/titles/longlegs-2024-23468450.json
  viewings/1614-die-hard-2-1990.md
  viewings/1615-deadpool-and-wolverine-2024.md
  viewings/1616-longlegs-2024.md
Due: none

reset state on add viewing
  movielog/cli/add_viewing.py
Due: black, flake8, mypy, pytest

edits
  reviews/the-man-with-nine-lives-1940.md
  reviews/two-for-the-seesaw-1962.md
Due: vale

add review
  data/ratings.json
  reviews/deadline-usa-1952.md
  viewings/1617-deadline-usa-1952.md
Due: vale

edit review
  reviews/deadline-usa-1952.md
Due: vale

add review
  data/ratings.json
  reviews/killers-kiss-1955.md
  viewings/1618-killers-kiss-1955.md
Due: vale

bye bye vale
  .github/styles/config/vocabularies/default/accept.txt
  .github/styles/custom/Capitalization.yml
  .github/styles/proselint/Airlinese.yml
  .github/styles/proselint/AnimalLabels.yml
  .github/styles/proselint/Annotations.yml
  .github/styles/proselint/Apologizing.yml
  .github/styles/proselint/Archaisms.yml
  .github/styles/proselint/But.yml
  .github/styles/proselint/Cliches.yml
  .github/styles/proselint/CorporateSpeak.yml
  .github/styles/proselint/Currency.yml
  .github/styles/proselint/Cursing.yml
  .github/styles/proselint/DateCase.yml
  .github/styles/proselint/DateMidnight.yml
  .github/styles/proselint/DateRedundancy.yml
  .github/styles/proselint/DateSpacing.yml
  .github/styles/proselint/DenizenLabels.yml
  .github/styles/proselint/Diacritical.yml
  .github/styles/proselint/GenderBias.yml
  .github/styles/proselint/GroupTerms.yml
  .github/styles/proselint/Hedging.yml
  .github/styles/proselint/Hyperbole.yml
  .github/styles/proselint/Jargon.yml
  .github/styles/proselint/LGBTOffensive.yml
  .github/styles/proselint/LGBTTerms.yml
  .github/styles/proselint/Malapropisms.yml
  .github/styles/proselint/Needless.yml
  .github/styles/proselint/Nonwords.yml
  .github/styles/proselint/Oxymorons.yml
  .github/styles/proselint/P-Value.yml
  .github/styles/proselint/RASSyndrome.yml
  .github/styles/proselint/README.md
  .github/styles/proselint/Skunked.yml
  .github/styles/proselint/Spelling.yml
  .github/styles/proselint/Typography.yml
  .github/styles/proselint/Uncomparables.yml
  .github/styles/proselint/Very.yml
  .github/styles/proselint/meta.json
  .github/workflows/ci.yml
  .vale.ini
Due: none

add viewing
  viewings/1619-bride-of-frankenstein-1935.md
Due: none

update review
  reviews/the-big-stampede-1932.md
Due: vale

update review
  reviews/ride-him-cowboy-1932.md
Due: vale

update review
  reviews/haunted-gold-1932.md
Due: vale

add viewing
  reviews/the-telegraph-trail-1933.md
  viewings/1620-the-telegraph-trail-1933.md
Due: vale

update grades
  reviews/the-big-stampede-1932.md
  reviews/the-telegraph-trail-1933.md
Due: vale

add viewing
  reviews/the-man-from-monterey-1933.md
  viewings/1621-the-man-from-monterey-1933.md
Due: vale

add review
  data/ratings.json
  reviews/tall-in-the-saddle-1944.md
  viewings/1622-tall-in-the-saddle-1944.md
Due: vale

edit review
  reviews/tall-in-the-saddle-1944.md
Due: vale

add review
  data/ratings.json
  data/titles/erotic-ghost-story-1990-0100014.json
  reviews/erotic-ghost-story-1990.md
  viewings/1623-erotic-ghost-story-1990.md
Due: vale

edit review
  reviews/erotic-ghost-story-1990.md
Due: vale

add viewings
  viewings/1624-true-romance-1993.md
  viewings/1625-dodgeball-a-true-underdog-story-2004.md
Due: none

wip
  data/ratings.json
  reviews/the-fly-1958.md
  viewings/1626-the-fly-1958.md
Due: vale

add review
  reviews/the-fly-1958.md
Due: vale

update watchlist
  watchlist/directors/alfred-hitchcock.json
  watchlist/performers/humphrey-bogart.json
Due: none

add viewings
  data/titles/elstree-calling-1930-0020852.json
  data/titles/women-of-all-nations-1931-0022576.json
  viewings/1627-lightning-fists-of-shaolin-1984.md
  viewings/1628-the-face-of-fu-manchu-1965.md
  viewings/1629-bottle-rocket-1996.md
Due: none

edit review
  reviews/the-fly-1958.md
Due: vale

add review
  data/ratings.json
Due: none

add review / viewings
  data/titles/dolls-1986-0092906.json
  reviews/dr-no-1962.md
  viewings/1630-dr-no-1962.md
  viewings/1631-the-witches-1966.md
  viewings/1632-dolls-1986.md
Due: vale

edit
  reviews/dr-no-1962.md
Due: vale

add review
  data/ratings.json
  reviews/alice-in-wonderland-1933.md
  viewings/1633-alice-in-wonderland-1933.md
Due: vale

add viewing
  movielog/exports/stats.py
  viewings/1634-deadpool-and-wolverine-2024.md
Due: black, flake8, mypy, pytest

add viewing
  viewings/1635-the-kiss-of-the-vampire-1963.md
Due: none

edit review
  reviews/dr-no-1962.md
Due: vale

add excerpt breaks, fix progress stats
  movielog/exports/watchlist_progress.py
  reviews/his-private-secretary-1933.md
  reviews/riders-of-destiny-1933.md
  reviews/two-evil-eyes-1990.md
Due: black, flake8, mypy, pytest, vale

add viewing / uppdate data
  data/ratings.json
  data/titles/cries-and-whispers-1972-0069467.json
  data/titles/deadpool-and-wolverine-2024-6263850.json
  data/titles/fail-safe-1964-0058083.json
  data/titles/it-2017-1396484.json
  data/titles/kid-from-kwang-tung-1982-1346276.json
  data/titles/nutcracker-fantasy-1979-0079648.json
  data/titles/shaolin-hand-lock-1978-0078253.json
  data/titles/stage-fright-1950-0042994.json
  data/titles/talladega-nights-the-ballad-of-ricky-bobby-2006-0415306.json
  data/titles/the-kung-fu-instructor-1979-0079371.json
  data/titles/the-last-metro-1980-0080610.json
  data/titles/the-name-of-the-rose-1986-0091605.json
  data/titles/two-champions-of-death-1980-0078428.json
  data/titles/wild-strawberries-1957-0050986.json
  viewings/1636-talladega-nights-the-ballad-of-ricky-bobby-2006.md
Due: none

fix eggshells release date
  data/titles/eggshells-1969-0404011.json
Due: none

add viewings
  data/titles/speak-no-evil-2024-27534307.json
  data/titles/the-substance-2024-17526714.json
  movielog/exports/stats.py
  viewings/1637-speak-no-evil-2024.md
  viewings/1638-the-substance-2024.md
Due: black, flake8, mypy, pytest

collection descriptions
  collections/friday-the-13th.json
  collections/halloween.json
  collections/hammer-films.json
  collections/hatchet.json
  collections/james-bond.json
  collections/phantasm.json
  collections/saw.json
  collections/shaw-brothers.json
  collections/universal-monsters.json
Due: none

add viewings
  data/titles/a-field-in-england-2013-2375574.json
  data/titles/satanico-pandemonium-1975-0070636.json
  data/titles/the-omen-1976-0075005.json
  data/titles/the-wild-robot-2024-29623480.json
  viewings/1639-right-cross-1950.md
  viewings/1640-the-wild-robot-2024.md
  viewings/1641-the-omen-1976.md
  viewings/1642-videodrome-1983.md
  viewings/1643-a-field-in-england-2013.md
  viewings/1644-satanico-pandemonium-1975.md
  viewings/1645-the-mist-2007.md
Due: none
