Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

wip
  movielog/exports/cast_and_crew.py
Due: black, flake8, mypy, pytest

update exports
  movielog/exports/stats.py
  movielog/exports/watchlist_progress.py
Due: black, flake8, mypy, pytest

wip
  data/titles/double-indemnity-1973-0070000.json
  movielog/exports/cast_and_crew.py
  watchlist/writers/raymond-chandler.json
Due: black, flake8, mypy, pytest

remove names
  data/names/orson-welles.json
  data/names/paul-mazursky.json
Due: none

add collection descriptions
  collections/childs-play.json
  movielog/exports/collections.py
  movielog/repository/api.py
  movielog/repository/json_collections.py
Due: black, flake8, mypy, pytest

wip
  movielog/exports/reviewed_titles.py
Due: black, flake8, mypy, pytest

wip
  data/metadata.json
  data/ratings.json
  movielog/exports/api.py
  movielog/exports/overrated_disappointments.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/underseen_gems.py
  movielog/repository/api.py
  movielog/repository/imdb_ratings_data_updater.py
  movielog/repository/imdb_ratings_data_validator.py
  movielog/repository/json_imdb_ratings.py
  movielog/repository/json_metadata.py
  movielog/repository/json_titles.py
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

update data
  data/ratings.json
  data/titles/dune-2021-1160419.json
  data/titles/moby-dick-rehearsed-1955-0349829.json
  data/titles/the-oily-maniac-1976-0075001.json
  data/titles/when-strangers-marry-1944-0037458.json
Due: none

wip
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/list_tools.py
  movielog/exports/repository_data.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/watchlist_titles.py
  movielog/repository/api.py
Due: black, flake8, mypy, pytest

wip
  cast-and-crew/ben-johnson.json
  cast-and-crew/ward-bond.json
  collections/hammer-films.json
  collections/shaw-brothers.json
Due: none

fix data
  data/ratings.json
  data/titles/batman-the-dark-knight-returns-2013-2166834.json
  reviews/batman-the-dark-knight-returns-2013.md
  viewings/0933-batman-the-dark-knight-returns-2013.json
  viewings/1528-batman-the-dark-knight-returns-2013.json
Due: vale

fix dark knight returns
  data/titles/batman-the-dark-knight-returns-2013-2166834.json
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

lints
  movielog/exports/reviewed_titles.py
  movielog/repository/imdb_ratings_data_updater.py
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

update valid titles
  data/titles/blood-delirium-1988-0094762.json
  data/titles/stereo-tile-3b-of-a-caee-educational-mosaic-1969-0065036.json
  data/titles/the-bloody-judge-1970-0064727.json
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
Due: black, flake8, mypy, pytest

fix type
  movielog/repository/cast_and_crew_validator.py
Due: black, flake8, mypy, pytest

update data
  data/titles/dune-part-one-2021-1160419.json
  reviews/dune-2021.md
  reviews/dune-part-one-2021.md
  reviews/mandy-2018.md
Due: vale

fix tests
  tests/cli/test_add_to_collection.py
  tests/cli/test_main.py
Due: black, flake8, mypy, pytest

fix credit order
  data/titles/batman-the-dark-knight-returns-2013-2166834.json
  movielog/exports/cast_and_crew.py
Due: black, flake8, mypy, pytest

add viewings
  reviews/city-of-the-living-dead-1980.md
  viewings/1581-city-of-the-living-dead-1980.json
  viewings/1582-mandy-2018.json
  viewings/1583-dawn-of-the-dead-1978.json
Due: vale

update review
  reviews/city-of-the-living-dead-1980.md
  viewings/0908-mandy-2018.json
  viewings/1384-mandy-2018.json
  viewings/1581-city-of-the-living-dead-1980.json
Due: vale

fix writer stats
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

update review
  .github/styles/config/vocabularies/default/accept.txt
  reviews/mandy-2018.md
Due: vale

fix reviewed titles export
  movielog/exports/reviewed_titles.py
Due: black, flake8, mypy, pytest

update viewing notes
  viewing_notes/0894-curse-of-the-demon-1957.md
  viewing_notes/1120-the-sea-bat-1930.md
  viewing_notes/1169-beyond-the-valley-of-the-dolls-1970.md
  viewing_notes/1193-blood-rage-1987.md
  viewing_notes/1211-jack-frost-1997.md
  viewing_notes/1212-krampus-2015.md
  viewing_notes/1222-christmas-evil-1980.md
  viewing_notes/1223-black-christmas-1974.md
  viewing_notes/1262-halloween-kills-2021.md
  viewing_notes/1276-friday-the-13th-a-new-beginning-1985.md
  viewing_notes/1277-event-horizon-1997.md
  viewing_notes/1281-good-times-1967.md
  viewing_notes/1359-the-blue-gardenia-1953.md
  viewing_notes/1416-the-lawless-frontier-1934.md
  viewing_notes/1430-nobody-2021.md
  viewing_notes/1439-from-beyond-1986.md
  viewing_notes/1440-the-star-packer-1934.md
  viewing_notes/1468-midnight-1934.md
  viewing_notes/1499-the-last-seduction-1994.md
  viewing_notes/1503-thriller-a-cruel-picture-1973.md
  viewings/1262-halloween-kills-2021.json
  viewings/1277-event-horizon-1997.json
  viewings/1579-magnolia-1999.json
Due: none

add viewings
  .python-version
  data/ratings.json
  data/titles/ninja-in-the-dragons-den-1982-0084267.json
  reviews/beyond-the-door-iii-1989.md
  reviews/horror-express-1972.md
  reviews/human-lanterns-1982.md
  reviews/night-train-to-terror-1985.md
  reviews/ninja-in-the-dragons-den-1982.md
  reviews/the-midnight-meat-train-2008.md
  viewings/0197-fright-night-1985.json
  viewings/0198-vertigo-1958.json
  viewings/0199-fright-night-1985.json
  viewings/0202-commando-1985.json
  viewings/0503-the-beyond-1981.json
  viewings/0532-the-beyond-1981.json
  viewings/0537-the-hateful-eight-2015.json
  viewings/0773-once-upon-a-time-in-hollywood-2019.json
  viewings/0785-joker-2019.json
  viewings/1584-ninja-in-the-dragons-den-1982.json
  viewings/1585-human-lanterns-1982.json
  viewings/1586-night-train-to-terror-1985.json
  viewings/1587-horror-express-1972.json
  viewings/1588-the-midnight-meat-train-2008.json
  viewings/1589-beyond-the-door-iii-1989.json
Due: vale

update review
  reviews/human-lanterns-1982.md
  reviews/ninja-in-the-dragons-den-1982.md
Due: vale

update review
  reviews/the-midnight-meat-train-2008.md
Due: vale

update reviews
  .github/styles/config/vocabularies/default/accept.txt
  reviews/beyond-the-door-iii-1989.md
  reviews/the-midnight-meat-train-2008.md
Due: vale

add review
  reviews/horror-express-1972.md
Due: vale

edit review
  reviews/night-train-to-terror-1985.md
Due: vale

update draft
  reviews/the-midnight-meat-train-2008.md
Due: vale

update draft
  reviews/the-entity-1982.md
  viewings/1588-the-midnight-meat-train-2008.json
Due: vale

update review
  reviews/human-lanterns-1982.md
Due: vale

update review
  .github/styles/config/vocabularies/default/accept.txt
  reviews/human-lanterns-1982.md
Due: vale

edit
  reviews/beyond-the-door-iii-1989.md
Due: vale

Update beyond-the-door-iii-1989.md
  reviews/beyond-the-door-iii-1989.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
