Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

wip
  movielog/repository/imdb_http_writer.py
Due: black, flake8, mypy, pytest

wip
  movielog/repository/imdb_http_writer.py
  watchlist/performers/.progress
  watchlist/writers/.progress
  watchlist/writers/anthony-shaffer.json
  watchlist/writers/leigh-brackett.json
Due: black, flake8, mypy, pytest

wip
  movielog/repository/imdb_http_director.py
  movielog/repository/watchlist_credits_updater.py
  watchlist/performers/bela-lugosi.json
  watchlist/performers/boris-karloff.json
  watchlist/performers/cary-grant.json
  watchlist/writers/anthony-shaffer.json
  watchlist/writers/leigh-brackett.json
Due: black, flake8, mypy, pytest

wip
  watchlist/performers/bela-lugosi.json
  watchlist/performers/boris-karloff.json
  watchlist/performers/cary-grant.json
Due: none

fix watchlist
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_person.py
  tests/cli/conftest.py
  tests/cli/test_imdb.py
  tests/conftest.py
  watchlist/directors/.progress
  watchlist/directors/david-cronenberg.json
  watchlist/directors/ken-russell.json
  watchlist/directors/sidney-lumet.json
  watchlist/directors/william-friedkin.json
  watchlist/performers/.progress
  watchlist/performers/bela-lugosi.json
  watchlist/performers/boris-karloff.json
  watchlist/performers/cary-grant.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/dean-martin.json
  watchlist/performers/errol-flynn.json
  watchlist/performers/frank-sinatra.json
  watchlist/performers/humphrey-bogart.json
  watchlist/performers/james-coburn.json
  watchlist/performers/james-stewart.json
  watchlist/performers/john-wayne.json
  watchlist/performers/lee-marvin.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/robert-mitchum.json
  watchlist/performers/sean-connery.json
  watchlist/performers/steve-mcqueen.json
  watchlist/performers/vincent-price.json
  watchlist/performers/warren-oates.json
  watchlist/performers/william-holden.json
  watchlist/performers/william-powell.json
  watchlist/writers/.progress
Due: black, flake8, mypy, pytest

watchlist prune
  data/titles/el-misterioso-mr-wong-1934-16978034.json
  watchlist/performers/bela-lugosi.json
Due: none

prune
  movielog/repository/imdb_http_title.py
Due: black, flake8, mypy, pytest

update dataset data
  data/ratings.json
  data/titles/iron-bodyguard-1973-0069938.json
  data/titles/sherlock-holmes-and-the-masks-of-death-1984-0088108.json
  data/titles/the-great-train-robbery-1978-0079240.json
  data/titles/the-shadow-boxer-1974-0200194.json
  data/titles/time-of-the-wolf-2003-0324197.json
  movielog/repository/datasets/api.py
Due: black, flake8, mypy, pytest

update review
  data/ratings.json
  reviews/his-kind-of-woman-1951.md
  viewings/2025-07-01-01-his-kind-of-woman-1951.md
Due: vale

update review
  reviews/tropic-thunder-2008.md
  viewings/2025-07-01-02-tropic-thunder-2008.md
Due: vale

update review
  reviews/scream-and-scream-again-1970.md
  viewings/2025-07-04-01-scream-and-scream-again-1970.md
Due: vale

edit review
  reviews/scream-and-scream-again-1970.md
Due: vale

add review
  data/ratings.json
  reviews/zombie-holocaust-1980.md
  viewings/2025-07-05-01-zombie-holocaust-1980.md
Due: vale

update review
  reviews/his-kind-of-woman-1951.md
Due: vale

edit reviews
  reviews/pals-of-the-saddle-1938.md
  reviews/tentacles-1977.md
  reviews/tropic-thunder-2008.md
Due: vale

edit review
  reviews/zombie-holocaust-1980.md
Due: vale

edit reviews
  reviews/massacre-time-1966.md
  reviews/pals-of-the-saddle-1938.md
Due: vale

edit reviews
  reviews/red-spell-spells-red-1983.md
  viewings/2025-07-04-01-scream-and-scream-again-1970.md
Due: vale

edit review
  reviews/the-revengers-1972.md
Due: vale

edit review
  reviews/the-return-of-the-musketeers-1989.md
  viewings/2025-07-07-01-the-return-of-the-musketeers-1989.md
Due: vale

update review
  reviews/deadly-blessing-1981.md
  viewings/2025-01-27-01-deadly-blessing-1981.md
Due: vale

add review
  data/ratings.json
  reviews/a-reason-to-live-a-reason-to-die-1972.md
  viewings/2025-07-13-01-a-reason-to-live-a-reason-to-die-1972.md
Due: vale

add review
  data/ratings.json
  reviews/the-french-connection-1971.md
  viewings/2025-07-14-01-the-french-connection-1971.md
Due: vale

add review
  data/ratings.json
  data/titles/superman-2025-5950044.json
  reviews/superman-2025.md
  viewings/2025-07-16-01-superman-2025.md
  viewings/2025-07-20-01-superman-2025.md
Due: vale

update review
  reviews/superman-2025.md
Due: vale

add review
  data/ratings.json
  data/titles/theyre-coming-to-get-you-1972-0069390.json
  reviews/theyre-coming-to-get-you-1972.md
  viewings/2025-07-25-01-theyre-coming-to-get-you-1972.md
Due: vale

add review
  data/ratings.json
  data/titles/stay-hungry-1976-0075268.json
  reviews/stay-hungry-1976.md
  viewings/2025-07-26-01-stay-hungry-1976.md
Due: vale

update exports
  movielog/exports/overrated.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
Due: black, flake8, mypy, pytest

update exports
  movielog/exports/cast_and_crew.py
Due: black, flake8, mypy, pytest

update exports
  movielog/exports/collections.py
Due: black, flake8, mypy, pytest

feat: standardize field naming from year to releaseYear
  CLAUDE.md
  movielog/cli/add_to_collection.py
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/overrated.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/viewings.py
  movielog/exports/watchlist_titles.py
  movielog/repository/api.py
  pyproject.toml
  scripts/add_legacy_viewings.py
Due: black, flake8, mypy, pytest

refactor: standardize TypedDict definitions across exports module
  movielog/exports/api.py
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/json_collection.py
  movielog/exports/json_maybe_reviewed_title.py
  movielog/exports/json_reviewed_title.py
  movielog/exports/json_title.py
  movielog/exports/json_viewed_title.py
  movielog/exports/json_watchlist_fields.py
  movielog/exports/overrated.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/viewings.py
  movielog/exports/watchlist_progress.py
  movielog/exports/watchlist_titles.py
Due: black, flake8, mypy, pytest

fix: centralize reviewSequence calculation in shared utils module
  movielog/exports/cast_and_crew.py
  movielog/exports/collections.py
  movielog/exports/overrated.py
  movielog/exports/reviewed_titles.py
  movielog/exports/stats.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
  movielog/exports/utils.py
  movielog/exports/viewings.py
Due: black, flake8, mypy, pytest

Fix _slice_list wraparound logic and exception handling
  movielog/exports/reviewed_titles.py
Due: black, flake8, mypy, pytest

add claude
  package-lock.json
  package.json
Due: none

Fix RadioList AttributeError on menu selection
  movielog/cli/radio_list.py
Due: black, flake8, mypy, pytest

Fix grade validation regex pattern
  movielog/cli/add_viewing.py
Due: black, flake8, mypy, pytest

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
