Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

add reviews
  .github/styles/vocab.txt
  reviews/1136-freaks-1932.md
  reviews/1137-business-and-pleasure-1932.md
  reviews/1138-obsession-1976.md
Due: vale

add reviews
  .github/styles/vocab.txt
  data/24-hour-party-people-2002.json
  data/five-elements-ninjas-1982.json
  movielog/reviews/exports/most_watched_people.py
  reviews/1139-24-hour-party-people-2002.md
  reviews/1140-better-off-dead-1985.md
  reviews/1141-five-elements-ninjas-1982.md
  reviews/1142-the-seventh-seal-1957.md
  tests/reviews/exports/test_most_watched_writers.py
Due: black, flake8, mypy, pytest, vale

add/update reviews
  reviews/1045-the-range-feud-1931.md
  reviews/1143-texas-cyclone-1932.md
Due: vale

add reviews
  .github/styles/vocab.txt
  data/harold-kumar-go-to-white-castle-2004.json
  reviews-old/friday-the-13th-part-viii-jason-takes-manhattan-1989.md
  reviews/1144-friday-the-13th-part-viii-jason-takes-manhattan-1989.md
  reviews/1145-harold-kumar-go-to-white-castle-2004.md
Due: vale

add reviews
  .github/styles/vocab.txt
  data/dirty-dancing-1987.json
  data/suicide-squad-2021.json
  data/truth-or-dare-1986.json
  reviews/0982-it-should-happen-to-you-1954.md
  reviews/1145-harold-kumar-go-to-white-castle-2004.md
  reviews/1146-phffft-1954.md
  reviews/1147-the-suicide-squad-2021.md
  reviews/1148-truth-or-dare-1986.md
  reviews/1149-dirty-dancing-1987.md
Due: vale

update watchlist data
  data/alice-cooper-welcome-to-my-nightmare-concert-feature-1975.json
  data/bustin-loose-1981.json
  watchlist/performers/vincent-price.json
Due: none

add reviews
  .github/styles/vocab.txt
  data/nobody-2021.json
  data/versus-2000.json
  reviews/1150-nobody-2021.md
  reviews/1151-versus-2000.md
Due: vale

add reviews
  .github/styles/vocab.txt
  data/from-beyond-1986.json
  data/road-house-1989.json
  reviews/1152-road-house-1989.md
  reviews/1153-from-beyond-1986.md
Due: vale

add reviews
  .github/styles/vocab.txt
  data/next-of-kin-1989.json
  reviews/1154-wild-strawberries-1957.md
  reviews/1155-next-of-kin-1989.md
  reviews/1156-behind-the-mask-1932.md
Due: vale

add/edit reviews
  .github/styles/vocab.txt
  data/arrebato-1979.json
  reviews/0919-the-criminal-code-1930.md
  reviews/0962-dead-snow-2-red-vs-dead-2014.md
  reviews/1046-the-guilty-generation-1931.md
  reviews/1156-behind-the-mask-1932.md
  reviews/1157-carrie-1976.md
  reviews/1158-arrebato-1979.md
Due: vale

add/update reviews
  .github/styles/vocab.txt
  data/point-break-1991.json
  reviews/0963-wonder-woman-1984-2020.md
  reviews/0964-stereo-tile-3b-of-a-caee-educational-mosaic-1969.md
  reviews/1159-jason-goes-to-hell-the-final-friday-1993.md
  reviews/1160-point-break-1991.md
  reviews/1161-brink-of-life-1958.md
Due: vale

update review
  reviews/0965-when-harry-met-sally-1989.md
Due: vale

add/update reviews
  .github/styles/vocab.txt
  data/bob-le-flambeur-1956.json
  data/deathdream-1974.json
  reviews/0966-glass-2019.md
  reviews/1162-good-times-1967.md
  reviews/1163-deathdream-1974.md
  reviews/1164-bob-le-flambeur-1956.md
Due: vale

add reviews
  data/beyond-the-valley-of-the-dolls-1970.json
  data/last-stop-on-the-night-train-1975.json
  reviews/1165-last-stop-on-the-night-train-1975.md
  reviews/1166-croupier-1998.md
  reviews/1167-beyond-the-valley-of-the-dolls-1970.md
Due: vale

update review
  reviews/1167-beyond-the-valley-of-the-dolls-1970.md
Due: vale

add/update reviews
  .github/styles/vocab.txt
  data/angst-1983.json
  data/castle-freak-1995.json
  data/dagon-2001.json
  data/donnie-darko-2001.json
  data/lords-of-chaos-2018.json
  data/malignant-2021.json
  data/prisoners-of-the-ghostland-2021.json
  data/slumberparty-massacre-1982.json
  data/vast-of-night-2019.json
  movielog/moviedata/core/titles_dataset.py
  reviews/1162-good-times-1967.md
  reviews/1168-fright-night-1985.md
  reviews/1169-beyond-the-valley-of-the-dolls-1970.md
  reviews/1170-malignant-2021.md
  reviews/1171-prisoners-of-the-ghostland-2021.md
  reviews/1172-the-fury-1978.md
  reviews/1173-donnie-darko-2001.md
  reviews/1174-the-magician-1958.md
  reviews/1175-childs-play-2019.md
  reviews/1176-dagon-2001.md
  reviews/1177-the-vast-of-night-2019.md
  reviews/1178-the-slumberparty-massacre-1982.md
  reviews/1179-castle-freak-1995.md
  reviews/1180-the-virgin-spring-1960.md
  reviews/1181-lords-of-chaos-2018.md
  reviews/1182-angst-1983.md
Due: black, flake8, mypy, pytest, vale

update watchlist
  watchlist/directors/quentin-tarantino.json
Due: none

update watchlist
  watchlist/performers/burt-reynolds.json
Due: none

add reviews
  .github/styles/vocab.txt
  data/love-witch-2016.json
  data/tetsuo-the-iron-man-1989.json
  reviews/1183-the-love-witch-2016.md
  reviews/1184-tetsuo-the-iron-man-1989.md
Due: vale

update reviews
  reviews/0967-outside-the-law-1930.md
  reviews/1184-tetsuo-the-iron-man-1989.md
Due: vale

add review
  data/them-2006.json
  reviews/1185-them-2006.md
Due: vale

tweak exports
  movielog/reviews/exports/most_watched_movies.py
  movielog/reviews/exports/most_watched_people.py
  movielog/reviews/exports/viewings.py
  reviews/1169-beyond-the-valley-of-the-dolls-1970.md
  tests/reviews/exports/test_most_watched_directors.py
  tests/reviews/exports/test_most_watched_performers.py
  tests/reviews/exports/test_most_watched_writers.py
  tests/reviews/exports/test_viewings.py
Due: black, flake8, mypy, pytest, vale

update setup
  .envrc
  Brewfile
  README.md
  setup.sh
Due: none

update setup (#276)
  .envrc
  Brewfile
  README.md
  setup.sh
Due: none

add review
  .github/styles/vocab.txt
  data/beyond-the-door-iii-1989.json
  movielog/api.py
  reviews/1187-beyond-the-door-iii-1989.md
Due: black, flake8, mypy, pytest, vale

update review
  reviews/1187-beyond-the-door-iii-1989.md
Due: vale

fix tests
  .github/styles/vocab.txt
  data/necronomicon-book-of-dead-1993.json
  movielog/moviedata/core/names_dataset.py
  movielog/moviedata/core/people_table.py
  requirements.txt
  reviews/1188-necronomicon-book-of-dead-1993.md
  tests/moviedata/core/people_test_data.tsv
Due: black, flake8, mypy, pytest, vale

add review
  .github/styles/vocab.txt
  data/faust-2000.json
  reviews/1189-faust-2000.md
Due: vale

add review
  reviews/1190-halloween-1978.md
Due: vale

add review
  .github/styles/vocab.txt
  data/dune-2021.json
  reviews/1191-dune-2021.md
Due: vale

add review
  .github/styles/vocab.txt
  data/dead-buried-1981.json
  reviews/1192-dead-buried-1981.md
Due: vale

update review
  reviews/1192-dead-buried-1981.md
Due: vale

add review
  .github/styles/vocab.txt
  reviews/1193-blood-rage-1987.md
Due: vale

add review
  reviews/1194-college-coach-1933.md
Due: vale

update review
  reviews/1194-college-coach-1933.md
Due: vale

add review
  data/8-bit-christmas-2021.json
  reviews/1195-8-bit-christmas-2021.md
Due: vale

update review
  reviews/1195-8-bit-christmas-2021.md
Due: vale

update review
  reviews/1193-blood-rage-1987.md
Due: vale

add review
  .github/styles/vocab.txt
  reviews/1196-the-big-stampede-1932.md
Due: vale
