Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

Add review for Who Can Kill a Child? (1976)
  data/ratings.json
  data/titles/who-can-kill-a-child-1976-0075462.json
  reviews/who-can-kill-a-child-1976.md
  viewings/2025-10-24-01-who-can-kill-a-child-1976.md
Due: vale

Fix character name order in Zombie 3 review
  reviews/zombie-3-1988.md
Due: vale

Add reviewCount to year stats exports
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

Add review for Scream 2 (1997)
  data/ratings.json
  reviews/scream-2-1997.md
  viewings/2025-10-25-01-scream-2-1997.md
Due: vale

Add review for Troll Hunter (2010)
  data/ratings.json
  data/titles/troll-hunter-2010-1740707.json
  reviews/troll-hunter-2010.md
  viewings/2025-10-26-01-troll-hunter-2010.md
Due: vale

Update review for Troll Hunter (2010)
  reviews/troll-hunter-2010.md
Due: vale

Update review for Eaten Alive (1976)
  reviews/eaten-alive-1976.md
  viewings/2025-10-27-01-eaten-alive-1976.md
Due: vale

Add review for Xtro (1982)
  data/ratings.json
  data/titles/xtro-1982-0086610.json
  reviews/xtro-1982.md
  viewings/2025-10-28-01-xtro-1982.md
Due: vale

Add review for Scream 3 (2000)
  data/ratings.json
  reviews/scream-3-2000.md
  viewings/2025-10-30-01-scream-3-2000.md
Due: vale

Add review for TerrorVision (1986)
  data/ratings.json
  reviews/terrorvision-1986.md
  viewings/2025-10-31-01-terrorvision-1986.md
Due: vale

Fix cliché in TerrorVision review
  reviews/terrorvision-1986.md
Due: vale

Update My Forbidden Past (1951) review after rewatch
  reviews/my-forbidden-past-1951.md
  viewings/2025-11-01-01-my-forbidden-past-1951.md
Due: vale

Add historical context and improve phrasing in My Forbidden Past review
  reviews/my-forbidden-past-1951.md
Due: vale

Add Never Take Candy from a Stranger (1960) review and viewing
  data/ratings.json
  reviews/never-take-candy-from-a-stranger-1960.md
  viewings/2025-11-01-02-never-take-candy-from-a-stranger-1960.md
Due: vale

Fix capitalization in Never Take Candy from a Stranger title
  data/titles/never-take-candy-from-a-stranger-1960-0054116.json
Due: none

Add Scream 4 (2011) review and viewing
  data/ratings.json
  reviews/scream-4-2011.md
  viewings/2025-11-01-03-scream-4-2011.md
Due: vale

Add Crimes of Passion (1984) review and viewing
  data/ratings.json
  reviews/crimes-of-passion-1984.md
  viewings/2025-11-03-01-crimes-of-passion-1984.md
Due: vale

Add Footsteps in the Dark (1941) review and viewing
  data/ratings.json
  reviews/footsteps-in-the-dark-1941.md
  viewings/2025-11-05-01-footsteps-in-the-dark-1941.md
Due: vale

Add The Bonfire of the Vanities (1990) review and viewing
  data/ratings.json
  reviews/the-bonfire-of-the-vanities-1990.md
  viewings/2025-11-06-01-the-bonfire-of-the-vanities-1990.md
Due: vale

Add Xtro (1982) viewing
  viewings/2025-11-08-01-xtro-1982.md
Due: none

Add Witchtrap (1989) viewing and update review
  reviews/witchtrap-1989.md
  viewings/2025-11-08-02-witchtrap-1989.md
Due: vale

Add Black Sheep (2006) viewing and update review
  data/ratings.json
  data/titles/black-sheep-2006-0779982.json
  reviews/black-sheep-2006.md
  reviews/the-bonfire-of-the-vanities-1990.md
  viewings/2025-11-08-03-black-sheep-2006.md
Due: vale

Add The Collection (2012) viewing and review
  data/ratings.json
  data/titles/the-collection-2012-1748227.json
  reviews/the-collection-2012.md
  viewings/2025-11-08-04-the-collection-2012.md
Due: vale

API Error: 400 {"type":"error","error":{"type":"invalid_request_error","message":"`clear_thinking_20251015` strategy requires `thinking` to be enabled"},"request_id":"req_011CV4oDpRANhCW3MZnLRFkg"}
  data/ratings.json
  reviews/desperate-journey-1942.md
  viewings/2025-11-11-01-desperate-journey-1942.md
Due: vale

Add review of The Exorcist III (1990)
  data/ratings.json
  data/titles/the-exorcist-iii-1990-0099528.json
  reviews/the-exorcist-iii-1990.md
  viewings/2025-11-12-01-the-exorcist-iii-1990.md
Due: vale

Update review of The Thirteenth Chair (1929)
  reviews/the-thirteenth-chair-1929.md
  viewings/2020-08-17-01-the-thirteenth-chair-1929.md
  viewings/2025-11-13-01-the-thirteenth-chair-1929.md
Due: vale

Add review The Devil Doll (1936)
  data/ratings.json
  data/titles/fast-workers-1933-0024005.json
  data/titles/kill-bill-the-whole-bloody-affair-2006-6019206.json
  data/titles/once-upon-a-time-in-america-1984-0087843.json
  data/titles/satanico-pandemonium-1975-0070636.json
  data/titles/sleepless-2001-0220827.json
  data/titles/the-devil-doll-1936-0027521.json
  data/titles/the-longest-day-1962-0056197.json
  data/titles/three-the-hard-way-1974-0072284.json
  data/titles/thriller-a-cruel-picture-1973-0072285.json
  data/titles/top-gun-1986-0092099.json
  movielog/repository/datasets/api.py
  reviews/the-devil-doll-1936.md
  viewings/2025-11-13-01-the-thirteenth-chair-1929.md
  viewings/2025-11-15-01-the-devil-doll-1936.md
  watchlist/directors/tod-browning.json
Due: black, flake8, mypy, pytest, vale

Add uncredited Tod Browning director credit to Fast Workers (1933)
  data/titles/fast-workers-1933-0024005.json
Due: none

wip
  movielog/repository/json_titles.py
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

wip
  movielog/repository/credit_notes_validator.py
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_person.py
  movielog/repository/json_collections.py
  movielog/repository/json_watchlist_people.py
  movielog/repository/json_watchlist_titles.py
  movielog/repository/watchlist_credits_updater.py
  movielog/repository/watchlist_serializer.py
  watchlist/directors/.progress
  watchlist/directors/alfred-hitchcock.json
  watchlist/directors/billy-wilder.json
  watchlist/directors/brian-de-palma.json
  watchlist/directors/dario-argento.json
  watchlist/directors/david-cronenberg.json
  watchlist/directors/fritz-lang.json
  watchlist/directors/george-a-romero.json
  watchlist/directors/howard-hawks.json
  watchlist/directors/ingmar-bergman.json
  watchlist/directors/john-boorman.json
  watchlist/directors/john-carpenter.json
  watchlist/directors/john-ford.json
  watchlist/directors/john-frankenheimer.json
  watchlist/directors/john-huston.json
  watchlist/directors/john-sturges.json
  watchlist/directors/ken-russell.json
  watchlist/directors/lucio-fulci.json
  watchlist/directors/mario-bava.json
  watchlist/directors/michael-haneke.json
  watchlist/directors/quentin-tarantino.json
  watchlist/directors/robert-altman.json
  watchlist/directors/roman-polanski.json
  watchlist/directors/sam-peckinpah.json
  watchlist/directors/sergio-leone.json
  watchlist/directors/sidney-lumet.json
  watchlist/directors/tobe-hooper.json
  watchlist/directors/tod-browning.json
  watchlist/directors/tony-scott.json
  watchlist/directors/wes-craven.json
  watchlist/directors/william-friedkin.json
  watchlist/writers/.progress
Due: black, flake8, mypy, pytest

wip
  data/titles/a-dream-play-1963-0129891.json
  data/titles/abbott-and-costello-meet-frankenstein-1948-0040068.json
  data/titles/black-jack-1981-0080441.json
  data/titles/boxer-rebellion-1976-0075031.json
  data/titles/burial-ground-the-nights-of-terror-1981-0081248.json
  data/titles/come-back-to-the-5-and-dime-jimmy-dean-jimmy-dean-1982-0083745.json
  data/titles/dont-open-till-christmas-1984-0089038.json
  data/titles/door-to-silence-1991-0101760.json
  data/titles/dracula-1931-0021815.json
  data/titles/eggshells-1969-0404011.json
  data/titles/emperor-of-the-north-1973-0070030.json
  data/titles/fear-me-not-2008-1135922.json
  data/titles/heroes-of-sung-1973-0445534.json
  data/titles/judgement-of-an-assassin-1977-0076241.json
  data/titles/leprechaun-6-back-2-tha-hood-2003-0339294.json
  data/titles/notorious-eight-1981-0082825.json
  data/titles/shaolin-warrior-1980-0165427.json
  data/titles/storm-weather-1960-0130171.json
  data/titles/the-butcher-the-star-and-the-orphan-1975-0069819.json
  data/titles/the-enchantress-1983-0165756.json
  data/titles/the-house-of-exorcism-1975-3420392.json
  data/titles/the-image-makers-2000-0303764.json
  data/titles/the-invisible-ray-1935-0027800.json
  data/titles/the-misanthrope-1974-0184741.json
  data/titles/the-pirate-1973-0068442.json
  data/titles/the-professionals-1966-0060862.json
  data/titles/the-silent-swordsman-1967-0185648.json
  data/titles/the-standard-1977-0074060.json
  data/titles/the-thunderbolt-fist-1972-0201841.json
  data/titles/the-venetian-1958-0130344.json
  data/titles/the-wild-bunch-1969-0065214.json
  data/titles/the-yellow-sea-2010-1230385.json
  data/titles/three-paths-to-the-lake-1976-0074432.json
  data/titles/twelve-deadly-coins-1969-0064973.json
  data/titles/twin-blades-of-doom-1969-0202134.json
  data/titles/wandering-swordsman-1968-0339934.json
  movielog/repository/imdb_http_title.py
  movielog/repository/json_imdb_ratings.py
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

wip
  movielog/repository/api.py
  movielog/repository/cast_and_crew_validator.py
  movielog/repository/json_watchlist_people.py
  movielog/repository/json_watchlist_person.py
  movielog/repository/watchlist_credits_updater.py
  movielog/repository/watchlist_serializer.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  viewings/2008-02-19-02-the-invisible-ray-1935.md
  viewings/2021-02-22-01-eggshells-1969.md
  viewings/2023-10-10-01-eggshells-1969.md
Due: black, flake8, mypy, pytest

wip
  movielog/repository/imdb_http_director.py
  movielog/repository/imdb_http_performer.py
  movielog/repository/imdb_http_writer.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
  watchlist/directors/.progress
  watchlist/performers/bela-lugosi.json
  watchlist/performers/boris-karloff.json
  watchlist/performers/cary-grant.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/dean-martin.json
  watchlist/performers/errol-flynn.json
  watchlist/performers/frank-sinatra.json
  watchlist/performers/humphrey-bogart.json
  watchlist/performers/james-coburn.json
  watchlist/performers/james-stewart.json
  watchlist/performers/john-wayne.json
  watchlist/performers/lee-marvin.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/robert-mitchum.json
  watchlist/performers/sean-connery.json
  watchlist/performers/steve-mcqueen.json
  watchlist/performers/vincent-price.json
  watchlist/performers/warren-oates.json
  watchlist/performers/william-holden.json
  watchlist/performers/william-powell.json
  watchlist/writers/.progress
  watchlist/writers/anthony-shaffer.json
  watchlist/writers/leigh-brackett.json
Due: black, flake8, mypy, pytest

wip
  data/titles/leprechaun-1993-0107387.json
Due: none
