Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

fixes
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

fixes
  movielog/exports/watchlist_people.py
Due: black, flake8, mypy, pytest

fixes
  movielog/exports/overrated_disappointments.py
  movielog/exports/underseen_gems.py
Due: black, flake8, mypy, pytest

title data updater
  movielog/cli/imdb.py
  movielog/repository/api.py
  movielog/repository/imdb_http.py
  movielog/repository/json_titles.py
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

check validator
  movielog/cli/imdb.py
  movielog/cli/radio_list.py
  movielog/repository/api.py
  movielog/repository/json_titles.py
  movielog/repository/title_data_updater.py
  movielog/repository/title_data_validator.py
Due: black, flake8, mypy, pytest

validator validates!
  data/titles/the-veiled-woman-1929-0019525.json
  movielog/repository/json_titles.py
  movielog/repository/title_data_validator.py
Due: black, flake8, mypy, pytest

release dates?
  movielog/repository/imdb_http.py
  movielog/repository/json_titles.py
  movielog/repository/title_data_updater.py
Due: black, flake8, mypy, pytest

tidy watchlist
  movielog/repository/datasets/api.py
  watchlist/directors/george-a-romero.json
  watchlist/directors/john-boorman.json
  watchlist/directors/ken-russell.json
  watchlist/directors/orson-welles.json
  watchlist/directors/tobe-hooper.json
  watchlist/performers/burt-reynolds.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/jack-lemmon.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/vincent-price.json
  watchlist/writers/neil-labute.json
  watchlist/writers/raymond-chandler.json
  watchlist/writers/stephen-king.json
Due: black, flake8, mypy, pytest

tidy titles
  data/titles/a-british-picture-1989-0096982.json
  data/titles/aspettero-1978-7563908.json
  data/titles/destiny-express-redux-2009-3087848.json
  data/titles/don-quixote-1992-0104121.json
  data/titles/il-fantasma-di-sodoma-1988-0095132.json
  data/titles/lindsay-wagner-another-side-of-me-1977-0362824.json
  data/titles/magic-at-the-roxy-1976-4323110.json
  data/titles/men-from-the-monastery-1974-0072150.json
  data/titles/neverwhere-2013-28109287.json
  data/titles/qanda-1990-0100442.json
  data/titles/rookery-nook-1953-0337115.json
  data/titles/siberia-2020-4687856.json
  data/titles/stars-in-shorts-2012-2644980.json
  data/titles/the-bengal-lancers-1984-6071970.json
  data/titles/the-champion-1973-0200120.json
  data/titles/the-concrete-vision-1962-4372024.json
  data/titles/the-dark-tower-2020-7215646.json
  data/titles/the-doctors-case-2019-7631002.json
  data/titles/the-earth-day-special-1990-0255132.json
  data/titles/the-milkman-2017-2332833.json
  data/titles/the-orson-welles-show-1979-0173582.json
  data/titles/wat-zien-ik-1971-0067963.json
  data/titles/wind-in-the-wire-1993-0324568.json
  watchlist/writers/raymond-chandler.json
  watchlist/writers/stephen-king.json
Due: none

tidy watchlist
  movielog/repository/watchlist_credits_updater.py
  movielog/repository/watchlist_serializer.py
  tests/conftest.py
  tests/test_api.py
  watchlist/directors/george-a-romero.json
  watchlist/directors/john-boorman.json
  watchlist/directors/ken-russell.json
  watchlist/directors/orson-welles.json
  watchlist/directors/tobe-hooper.json
  watchlist/performers/bela-lugosi.json
  watchlist/performers/burt-reynolds.json
  watchlist/performers/christopher-lee.json
  watchlist/performers/jack-lemmon.json
  watchlist/performers/peter-cushing.json
  watchlist/performers/vincent-price.json
  watchlist/writers/neil-labute.json
  watchlist/writers/raymond-chandler.json
  watchlist/writers/stephen-king.json
Due: black, flake8, mypy, pytest

start fixing tests
  movielog/cli/main.py
  movielog/repository/watchlist_credits_updater.py
  tests/cli/prompt_utils.py
  tests/cli/test_main.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

fix tests
  tests/cli/test_imdb.py
  tests/cli/test_main.py
Due: black, flake8, mypy, pytest

fix tests
  tests/cli/test_new_collection.py
Due: black, flake8, mypy, pytest

fix tests
  tests/cli/test_manage_watchlist.py
Due: black, flake8, mypy, pytest

fix tests
  movielog/cli/add_director.py
  movielog/cli/add_performer.py
  movielog/cli/add_writer.py
  movielog/cli/person_searcher.py
  tests/cli/test_add_director.py
Due: black, flake8, mypy, pytest

fix tests/titdy titles
  data/metadata.json
  data/titles/a-life-in-the-theatre-1979-0199716.json
  data/titles/alice-in-russialand-1995-0174456.json
  data/titles/the-devil-and-father-amorth-2017-6883152.json
  data/titles/the-rainmaker-1982-0084568.json
  data/titles/the-vatican-2013-2608220.json
  movielog/cli/imdb.py
  movielog/repository/datasets/api.py
  watchlist/directors/john-frankenheimer.json
  watchlist/directors/ridley-scott.json
Due: black, flake8, mypy, pytest

fix tests
  movielog/cli/add_director.py
  movielog/cli/add_performer.py
  movielog/cli/add_writer.py
  movielog/cli/person_searcher.py
  movielog/cli/select_person.py
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
Due: black, flake8, mypy, pytest

fix tests
  setup.cfg
  tests/cli/test_add_writer.py
Due: black, flake8, mypy, pytest

fix tests
  movielog/cli/add_viewing.py
  movielog/cli/select_title.py
  movielog/repository/api.py
  movielog/repository/json_viewings.py
  requirements.txt
  setup.cfg
  tests/cli/__testdata__/titles/friday-the-13th-1980-0080761.json
  tests/cli/__testdata__/titles/friday-the-13th-part-2-1981-0082418.json
  tests/cli/__testdata__/titles/friday-the-13th-part-3-1982-0083972.json
  tests/cli/__testdata__/titles/friday-the-13th-the-final-chapter-1984-0087298.json
  tests/cli/__testdata__/viewings/0001-the-girl-with-the-dragon-tattoo-2011.json
  tests/cli/__testdata__/viewings/0002-the-tingler-1959.json
  tests/cli/__testdata__/viewings/0003-curse-of-the-demon-1957.json
  tests/cli/__testdata__/viewings/0004-the-girl-with-the-dragon-tattoo-2009.json
  tests/cli/__testdata__/viewings/0005-the-ghoul-1933.json
  tests/cli/__testdata__/viewings/0006-the-pit-and-the-pendulum-1961.json
  tests/cli/__testdata__/viewings/0007-the-masque-of-the-red-death-1964.json
  tests/cli/__testdata__/viewings/0008-the-body-snatcher-1945.json
  tests/cli/__testdata__/viewings/0009-the-sentinel-1977.json
  tests/cli/__testdata__/viewings/0010-murder-my-sweet-1944.json
  tests/cli/conftest.py
  tests/cli/test_add_to_collection.py
  tests/cli/test_add_viewing.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

bye, dependabot
  .github/dependabot.yml
Due: none

remove ignore
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

update snapshot
  tests/exports/__snapshots__/test_api/test_exports_viewings.json
Due: pytest

deterministic watchlist exports
  movielog/exports/watchlist_collections.py
  movielog/exports/watchlist_titles.py
  tests/conftest.py
  tests/exports/__snapshots__/test_api/test_exports_watchlist_collections.json
  tests/exports/__snapshots__/test_api/test_exports_watchlist_titles.json
  tests/exports/__testdata__/titles/freddy-vs-jason-2003-0329101.json
  tests/exports/__testdata__/titles/friday-the-13th-1980-0080761.json
  tests/exports/__testdata__/titles/friday-the-13th-2009-0758746.json
  tests/exports/__testdata__/titles/friday-the-13th-a-new-beginning-1985-0089173.json
  tests/exports/__testdata__/titles/friday-the-13th-part-2-1981-0082418.json
  tests/exports/__testdata__/titles/friday-the-13th-part-3-1982-0083972.json
  tests/exports/__testdata__/titles/friday-the-13th-part-vi-jason-lives-1986-0091080.json
  tests/exports/__testdata__/titles/friday-the-13th-part-viii-jason-takes-manhattan-1989-0097388.json
  tests/exports/__testdata__/titles/friday-the-13th-the-final-chapter-1984-0087298.json
  tests/exports/__testdata__/titles/friday-the-13th-the-new-blood-1988-0095179.json
  tests/exports/__testdata__/titles/jason-goes-to-hell-1993-0107254.json
  tests/exports/__testdata__/titles/jason-x-2001-0211443.json
  tests/exports/__testdata__/watchlist/collections/friday-the-13th.json
  tests/exports/conftest.py
  tests/exports/test_api.py
Due: black, flake8, mypy, pytest

smarter media
  movielog/cli/add_viewing.py
  requirements.txt
  tests/cli/test_add_viewing.py
Due: black, flake8, mypy, pytest

add venue select
  movielog/cli/add_viewing.py
  movielog/cli/ask_medium_or_venue.py
  movielog/repository/api.py
  movielog/repository/json_viewings.py
  tests/cli/test_add_viewing.py
Due: black, flake8, mypy, pytest

update tests
  movielog/cli/add_viewing.py
  setup.cfg
  tests/cli/test_add_viewing.py
Due: black, flake8, mypy, pytest

update viewings
  data/titles/thanksgiving-2023-1448754.json
  movielog/exports/api.py
  movielog/repository/db/db.py
  reviews-old/thanksgiving-2023.md
  reviews/christmas-evil-1980.md
  reviews/silent-night-deadly-night-part-2-1987.md
  viewings/1547-thanksgiving-2023.json
  viewings/1548-silent-night-deadly-night-part-2-1987.json
  viewings/1549-christmas-evil-1980.json
Due: black, flake8, mypy, pytest, vale

fix row count column name
  movielog/repository/db/db.py
Due: black, flake8, mypy, pytest

update reviews
  data/titles/silent-night-deadly-night-3-better-watch-out-1989-0098331.json
  reviews/christmas-evil-1980.md
  reviews/silent-night-deadly-night-3-better-watch-out-1989.md
  reviews/silent-night-deadly-night-part-2-1987.md
  viewings/1550-silent-night-deadly-night-3-better-watch-out-1989.json
Due: vale

update reviews
  .github/styles/Vocab/default/accept.txt
  reviews/silent-night-deadly-night-3-better-watch-out-1989.md
  viewings/1548-silent-night-deadly-night-part-2-1987.json
  viewings/1549-christmas-evil-1980.json
  viewings/1550-silent-night-deadly-night-3-better-watch-out-1989.json
Due: vale

export venue notes
  movielog/exports/reviewed_titles.py
  movielog/repository/api.py
  reviews/silent-night-deadly-night-3-better-watch-out-1989.md
Due: black, flake8, mypy, pytest, vale

add legacy review
  reviews-old/13-ghosts-1960.md
  reviews/a-girl-walks-home-alone-at-night-2014.md
Due: vale

migrate legacy review
  reviews-old/beach-of-the-war-gods-1973.md
  reviews/and-now-the-screaming-starts-1973.md
Due: vale

migrate legacy review
  reviews-old/casablanca-1942.md
  reviews/a-girl-walks-home-alone-at-night-2014.md
  reviews/casablanca-1942.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
