Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

best of the best
  movielog/exports/api.py
  movielog/exports/best_of_the_best.py
Due: black, flake8, mypy, pytest

add viewings
  data/titles/it-lives-again-1978-0077756.json
  data/titles/macabre-1980-0080764.json
  data/titles/the-french-sex-murders-1972-0069850.json
  viewings/1646-it-lives-again-1978.md
  viewings/1647-the-french-sex-murders-1972.md
  viewings/1648-macabre-1980.md
  viewings/1649-conquest-1983.md
  viewings/1650-the-monster-squad-1987.md
Due: none

add review
  data/ratings.json
  reviews/the-monster-squad-1987.md
Due: vale

edit review
  reviews/the-monster-squad-1987.md
Due: vale

add review
  data/ratings.json
  reviews/the-snorkel-1958.md
  viewings/1651-the-snorkel-1958.md
Due: vale

fix export slugs
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

add review
  data/ratings.json
  reviews/scream-and-scream-again-1970.md
  viewings/1652-scream-and-scream-again-1970.md
Due: vale

edit review
  reviews/scream-and-scream-again-1970.md
Due: vale

add review
  data/ratings.json
  data/titles/shaun-of-the-dead-2004-0365748.json
  reviews/shaun-of-the-dead-2004.md
  viewings/1653-shaun-of-the-dead-2004.md
Due: vale

add review
  data/ratings.json
  reviews/manhattan-baby-1982.md
  viewings/1654-manhattan-baby-1982.md
Due: vale

edit review
  reviews/the-snorkel-1958.md
Due: vale

add review
  data/ratings.json
  data/titles/def-by-temptation-1990-0099395.json
  reviews/def-by-temptation-1990.md
  viewings/1655-def-by-temptation-1990.md
Due: vale

add viewing
  data/ratings.json
  data/titles/the-girl-in-room-2a-1974-0075814.json
  reviews/the-girl-in-room-2a-1974.md
  viewings/1656-the-girl-in-room-2a-1974.md
Due: vale

excerpts
  reviews/dr-no-1962.md
  reviews/shaun-of-the-dead-2004.md
  reviews/tall-in-the-saddle-1944.md
Due: vale

add review
  data/ratings.json
  reviews/the-black-room-1935.md
  viewings/1657-the-black-room-1935.md
Due: vale

edit review
  reviews/the-black-room-1935.md
Due: vale

add review
  data/ratings.json
  data/titles/the-cellar-1988-0099235.json
  reviews/the-cellar-1988.md
  viewings/1658-the-cellar-1988.md
Due: vale

viewing note
  viewings/1658-the-cellar-1988.md
Due: none

add tom atkins
  cast-and-crew/tom-atkins.json
Due: none

add review
  data/ratings.json
  reviews/the-oblong-box-1969.md
  viewings/1659-the-oblong-box-1969.md
Due: vale

add stanley baker
  cast-and-crew/stanley-baker.json
Due: none

edit review
  reviews/def-by-temptation-1990.md
Due: vale

add review
  data/ratings.json
  reviews/count-yorga-vampire-1970.md
  viewings/1660-count-yorga-vampire-1970.md
Due: vale

update review
  reviews/count-yorga-vampire-1970.md
Due: vale

edit
  reviews/count-yorga-vampire-1970.md
Due: vale

add viewings
  data/titles/ebola-syndrome-1996-0116163.json
  data/titles/hellraiser-bloodline-1996-0116514.json
  viewings/1661-quatermass-and-the-pit-1967.md
  viewings/1662-cemetery-man-1994.md
  viewings/1663-hellraiser-bloodline-1996.md
  viewings/1664-ebola-syndrome-1996.md
  viewings/1665-late-night-with-the-devil-2023.md
Due: none

add underrrated export
  movielog/exports/api.py
  movielog/exports/overrated.py
  movielog/exports/underrated.py
  movielog/exports/underseen.py
Due: black, flake8, mypy, pytest

add review
  data/ratings.json
  reviews/the-sect-1991.md
  viewings/1666-the-sect-1991.md
Due: vale

edit
  reviews/the-sect-1991.md
Due: vale

add review
  data/ratings.json
  reviews/island-of-terror-1966.md
  viewings/1667-island-of-terror-1966.md
Due: vale

add review
  data/ratings.json
  data/titles/koko-di-koko-da-2019-9355200.json
  reviews/koko-di-koko-da-2019.md
  viewings/1668-koko-di-koko-da-2019.md
Due: vale

add review
  data/ratings.json
  data/titles/beyond-the-black-rainbow-2010-1534085.json
  reviews/beyond-the-black-rainbow-2010.md
  viewings/1669-beyond-the-black-rainbow-2010.md
Due: vale

edit review
  reviews/beyond-the-black-rainbow-2010.md
Due: vale

update review
  reviews/beyond-the-black-rainbow-2010.md
Due: vale

add michael caine
  cast-and-crew/michael-caine.json
Due: none

add review
  data/ratings.json
  reviews/mr-wong-detective-1938.md
  viewings/1670-mr-wong-detective-1938.md
Due: vale

update review
  reviews/mr-wong-detective-1938.md
Due: vale
