Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        pass_filenames: true
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: '^(movielog|tests)/.*$'
        types: [python]
        pass_filenames: true
    -   id: mypy
        name: mypy
        entry: mypy --install-types movielog tests
        language: system
        types: [python]
        pass_filenames: false
    -   id: pytest
        name: pytest
        entry: pytest tests
        language: system
        files: '^(movielog|tests)/.*$'
        pass_filenames: false
    -   id: vale
        name: vale
        entry: vale
        language: system
        files: '^reviews\/.*$'
        types: [markdown]
        pass_filenames: true

add script
  scripts/reviews_with_no_viewings.py
Due: black, mypy

exports
  movielog/exports/api.py
  movielog/exports/stats.py
  movielog/exports/viewings.py
  movielog/repository/markdown_viewings.py
Due: black, flake8, mypy, pytest

lint
  movielog/exports/stats.py
Due: black, flake8, mypy, pytest

fix review dates
  reviews/crossroads-1942.md
  reviews/harry-in-your-pocket-1973.md
  reviews/hud-1963.md
  reviews/i-monster-1971.md
  reviews/island-in-the-sky-1953.md
  reviews/may-2002.md
  reviews/paths-of-glory-1957.md
Due: vale

script
  scripts/add_legacy_viewings.py
Due: black, mypy

scripts
  scripts/add_legacy_viewings.py
  scripts/reviews_with_no_viewings.py
Due: black, mypy

add legacy review
  movielog/repository/markdown_viewings.py
  reviews/the-private-lives-of-elizabeth-and-essex-1939.md
  scripts/add_legacy_viewings.py
Due: black, flake8, mypy, pytest, vale

ratings
  data/ratings.json
Due: none

add viewings
  viewings/2008-06-20-02-easy-rider-1969.md
  viewings/2009-04-30-01-crank-high-voltage-2009.md
  viewings/2011-06-24-01-dracula-2000-2000.md
Due: none

add viewings
  viewings/2009-05-05-01-the-horse-soldiers-1959.md
  viewings/2009-05-06-01-the-constant-gardener-2005.md
  viewings/2009-05-11-01-whos-been-sleeping-in-my-bed-1963.md
  viewings/2011-06-23-01-from-dusk-till-dawn-2-texas-blood-money-1999.md
  viewings/2011-06-23-01-ip-man-2008.md
  viewings/2011-08-19-01-fright-night-2011.md
Due: none

script
  scripts/add_legacy_reviews.py
Due: black, mypy

add reviews
  reviews/a-guy-thing-2003.md
  reviews/a-study-in-terror-1965.md
  reviews/adaptation-2002.md
  reviews/adventures-of-don-juan-1948.md
  reviews/after-the-thin-man-1936.md
Due: vale

add reviews
  reviews/american-wedding-2003.md
  reviews/angel-heart-1987.md
Due: vale

add reviews
  reviews/another-thin-man-1939.md
  reviews/anything-else-2003.md
Due: vale

add reviews
  reviews/anything-else-2003.md
  reviews/as-good-as-it-gets-1997.md
  reviews/austin-powers-in-goldmember-2002.md
  reviews/austin-powers-international-man-of-mystery-1997.md
Due: vale

add reviews
  reviews/bad-lieutenant-1992.md
  reviews/bad-moon-1996.md
  reviews/bad-santa-2003.md
  reviews/blazing-saddles-1974.md
  reviews/blood-the-last-vampire-2000.md
  reviews/blow-up-1966.md
  reviews/bubba-ho-tep-2002.md
Due: vale

add reviews
  reviews/captain-blood-1935.md
  reviews/casino-royale-1967.md
  reviews/cast-a-dark-shadow-1957.md
  reviews/chisum-1970.md
  reviews/citizen-ruth-1996.md
  reviews/close-encounters-of-the-third-kind-1977.md
  reviews/collateral-2004.md
Due: vale

add reviews
  reviews/dead-man-1995.md
  reviews/deliverance-1972.md
  reviews/doctor-x-1932.md
  reviews/dogma-1999.md
  reviews/dracula-ii-ascension-2003.md
  reviews/dracula-prince-of-darkness-1966.md
Due: vale

add reviews
  reviews/elf-2003.md
  reviews/eye-of-the-devil-1967.md
  reviews/fear-and-loathing-in-las-vegas-1998.md
  reviews/fight-club-1999.md
  reviews/finding-nemo-2003.md
  reviews/five-deadly-venoms-1978.md
Due: vale

add reviews
  reviews/ghostbusters-1984.md
  reviews/gothic-1986.md
  reviews/hellboy-2004.md
  reviews/hulk-2003.md
Due: vale

add reviews
  reviews/i-went-down-1997.md
  reviews/intermission-2003.md
  reviews/intolerable-cruelty-2003.md
  reviews/it-the-terror-from-beyond-space-1958.md
Due: vale

add reviews
  reviews/jack-frost-2-revenge-of-the-mutant-killer-snowman-2000.md
  reviews/jay-and-silent-bob-strike-back-2001.md
  reviews/kill-bill-vol-1-2003.md
  reviews/kill-bill-vol-2-2004.md
  reviews/logans-run-1976.md
Due: vale

add reviews
  reviews/mallrats-1995.md
  reviews/man-on-fire-2004.md
  reviews/manhattan-1979.md
  reviews/master-of-the-flying-guillotine-1975.md
  reviews/mean-girls-2004.md
  reviews/miami-blues-1990.md
Due: vale

add reviews
  reviews/miracle-2004.md
  reviews/miranda-2002.md
  reviews/monsoon-wedding-2001.md
  reviews/mr-hobbs-takes-a-vacation-1962.md
  reviews/mr-majestyk-1974.md
  reviews/mr-smith-goes-to-washington-1939.md
  reviews/murder-by-death-1976.md
Due: vale

add reviews
  reviews/napoleon-dynamite-2004.md
  reviews/novocaine-2001.md
  reviews/once-bitten-1985.md
  reviews/once-upon-a-time-in-mexico-2003.md
  reviews/our-man-flint-1966.md
Due: vale

add reviews
  reviews/the-enforcer-1951.md
  reviews/the-grass-is-greener-1960.md
  reviews/the-hunted-2003.md
  reviews/the-invitation-2003.md
  reviews/the-limey-1999.md
Due: vale
