Repository fshowalter/movielog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, vale

black:
  name: black
  entry: black
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --install-types movielog tests
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest tests
  language: system
  pass_filenames: false

vale:
  name: vale
  entry: vale
  language: system
  pass_filenames: true

`chore: remove legacy migration and utility scripts`
  scripts/add_legacy_reviews.py
  scripts/add_legacy_viewings.py
  scripts/rename_viewings.py
  scripts/reviews_with_no_viewings.py
Due: black, mypy

`chore(vscode): remove deprecated flake8 setting`
  .vscode/settings.json
Due: none

`refactor(tests): use existence checks on parent dirs instead of specific files for negative assertions`
  tests/cli/test_add_director.py
  tests/cli/test_add_performer.py
  tests/cli/test_add_viewing.py
  tests/cli/test_add_writer.py
  tests/cli/test_new_collection.py
Due: black, flake8, mypy, pytest

`refactor(reviews): reword production values sentence in Sahara (1943) review`
  reviews/sahara-1943.md
Due: vale

`refactor(reviews): reword production values sentence in Sahara (1943) review` (#2509)
  reviews/sahara-1943.md
Due: vale

`refactor(viewings): extract full_viewing_sequence helper and use it consistently across exports and file paths`
  movielog/exports/reviewed_titles.py
  movielog/exports/viewing_log.py
  movielog/repository/api.py
  movielog/repository/markdown_viewings.py
  movielog/utils/full_viewing_sequence.py
Due: black, flake8, mypy, pytest

`refactor(viewings): simplify sort keys to use sequence directly`
  movielog/cli/add_viewing.py
  movielog/exports/api.py
  movielog/utils/full_viewing_sequence.py
Due: black, flake8, mypy, pytest

`refactor(viewings): extract full_viewing_sequence helper and use it … (#2510)
  movielog/cli/add_viewing.py
  movielog/exports/api.py
  movielog/exports/reviewed_titles.py
  movielog/exports/viewing_log.py
  movielog/repository/api.py
  movielog/repository/markdown_viewings.py
  movielog/utils/full_viewing_sequence.py
Due: black, flake8, mypy, pytest

update renovate config to best-practices default
  renovate.json
Due: none

update renovate config to best-practices default (#2511)
  renovate.json
Due: none

`refactor(cli): make aws-waf-token optional via NEEDS_TOKEN flag`
  movielog/cli/ask_for_token.py
  movielog/cli/export_data.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/cli/update_title_data.py
  movielog/cli/update_watchlist_credits.py
  movielog/cli/validate_data.py
  movielog/repository/imdb_http.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

code review
  tests/conftest.py
Due: black, flake8, mypy, pytest

Add NEEDS_TOKEN feature flag. (#2512)
  movielog/cli/ask_for_token.py
  movielog/cli/export_data.py
  movielog/cli/select_person.py
  movielog/cli/select_title.py
  movielog/cli/update_title_data.py
  movielog/cli/update_watchlist_credits.py
  movielog/cli/validate_data.py
  movielog/repository/imdb_http.py
  tests/conftest.py
Due: black, flake8, mypy, pytest

code review
  movielog/repository/cast_and_crew_validator.py
  movielog/repository/json_cast_and_crew.py
  movielog/repository/json_collections.py
  movielog/utils/sort_name.py
  tests/cli/test_add_to_collection.py
Due: black, flake8, mypy, pytest

code review
  movielog/utils/sort_name.py
Due: black, flake8, mypy, pytest

code review
  movielog/repository/cast_and_crew_validator.py
  movielog/repository/json_cast_and_crew.py
  movielog/repository/json_collections.py
  movielog/utils/sort_name.py
Due: black, flake8, mypy, pytest

`add 4 viewings for 2026-04-04`
  viewings/2026-04-04-01-the-maltese-falcon-1941.md
  viewings/2026-04-04-02-rear-window-1954.md
  viewings/2026-04-04-03-the-wicker-man-1973.md
  viewings/2026-04-04-04-rushmore-1998.md
Due: none

`add 4 viewings for 2026-04-04` (#2514)
  viewings/2026-04-04-01-the-maltese-falcon-1941.md
  viewings/2026-04-04-02-rear-window-1954.md
  viewings/2026-04-04-03-the-wicker-man-1973.md
  viewings/2026-04-04-04-rushmore-1998.md
Due: none

wip
  movielog/cli/ask_for_token.py
  reviews/the-body-snatcher-1945.md
  viewings/2026-04-05-01-the-body-snatcher-1945.md
Due: black, flake8, mypy, pytest, vale

`add review for The Body Snatcher (1945)`
  reviews/the-body-snatcher-1945.md
Due: vale

draft (#2515)
  movielog/cli/ask_for_token.py
  reviews/the-body-snatcher-1945.md
  viewings/2026-04-05-01-the-body-snatcher-1945.md
Due: black, flake8, mypy, pytest, vale

`add review for The Pirates of Blood River (1962)`
  reviews/the-pirates-of-blood-river-1962.md
  viewings/2026-04-06-01-the-pirates-of-blood-river-1962.md
Due: vale

`add review for The Pirates of Blood River (1962)` (#2516)
  reviews/the-pirates-of-blood-river-1962.md
  viewings/2026-04-06-01-the-pirates-of-blood-river-1962.md
Due: vale

`add review for The Peace Killers (1971)`
  data/ratings.json
  data/titles/the-peace-killers-1971-0067559.json
  reviews/the-body-snatcher-1945.md
  reviews/the-peace-killers-1971.md
  viewings/2026-04-07-01-the-peace-killers-1971.md
Due: vale

`add review for The Peace Killers (1971)` (#2517)
  data/ratings.json
  data/titles/the-peace-killers-1971-0067559.json
  reviews/the-body-snatcher-1945.md
  reviews/the-peace-killers-1971.md
  viewings/2026-04-07-01-the-peace-killers-1971.md
Due: vale

`add viewing and review for Remo Williams: The Adventure Begins (1985)`
  data/ratings.json
  data/titles/remo-williams-the-adventure-begins-1985-0089901.json
  reviews/remo-williams-the-adventure-begins-1985.md
  viewings/2026-04-09-01-remo-williams-the-adventure-begins-1985.md
Due: vale

`add viewing and review for Remo Williams: The Adventure Begins (1985)` (#2518)
  data/ratings.json
  data/titles/remo-williams-the-adventure-begins-1985-0089901.json
  reviews/remo-williams-the-adventure-begins-1985.md
  viewings/2026-04-09-01-remo-williams-the-adventure-begins-1985.md
Due: vale

`add viewing and review for Hudson Hawk (1991)`
  data/ratings.json
  reviews/hudson-hawk-1991.md
  reviews/remo-williams-the-adventure-begins-1985.md
  viewings/2026-04-09-02-hudson-hawk-1991.md
Due: vale

`add viewing and review for Hudson Hawk (1991)` (#2519)
  data/ratings.json
  reviews/hudson-hawk-1991.md
  reviews/remo-williams-the-adventure-begins-1985.md
  viewings/2026-04-09-02-hudson-hawk-1991.md
Due: vale

add viewing and review for The Curse of the Mummy's Tomb (1964)
  data/ratings.json
  reviews/the-curse-of-the-mummys-tomb-1964.md
  viewings/2026-04-10-01-the-curse-of-the-mummys-tomb-1964.md
Due: vale

add viewing and review for The Curse of the Mummy's Tomb (1964) (#2520)
  data/ratings.json
  reviews/the-curse-of-the-mummys-tomb-1964.md
  viewings/2026-04-10-01-the-curse-of-the-mummys-tomb-1964.md
Due: vale

add viewing and review for Robot Jox (1989)
  data/ratings.json
  data/titles/robot-jox-1989-0102800.json
  reviews/robot-jox-1989.md
  viewings/2026-04-11-01-robot-jox-1989.md
Due: vale

add viewing and review for Robot Jox (1989) (#2533)
  data/ratings.json
  data/titles/robot-jox-1989-0102800.json
  reviews/robot-jox-1989.md
  viewings/2026-04-11-01-robot-jox-1989.md
Due: vale

Fix punctuation in Robot Jox review
  reviews/robot-jox-1989.md
Due: vale

Fix punctuation in Robot Jox review (#2534)
  reviews/robot-jox-1989.md
Due: vale

Path conditions:
  black: any of: \.py$
  flake8: any of: ^(movielog|tests)/.*$ and \.py$
  mypy: any of: \.py$
  pytest: any of: ^(movielog|tests)/.*$
  vale: any of: ^reviews\/.*$ and \.(md|markdown|mdown)$
